@charset "Shift_JIS";

/* es
--------------------------------------------------*/
#es_formlist_cartlist{
	width:960px; /* width:960px; */
	margin:0 auto;
	border-left:solid #DCDCDA 1px;
	border-top:solid #DCDCDA 1px;
}
#es_formlist_cartlist .vm{
	vertical-align:middle;
}
#es_formlist_cartlist th {
	text-align:center;
	white-space:nowrap;
	padding:8px 5px;
	/* background-color:#F6F3E0; */
	background-color:#F8FCFC;
	border-right:solid #DCDCDA 1px;
	border-bottom:solid #DCDCDA 1px;
}
#es_formlist_cartlist td{
	padding:5px;
	border-right:solid #DCDCDA 1px;
	border-bottom:solid #DCDCDA 1px;
}
#es_formlist_cartlist td.es_thumnail{
	width:60px; /* width:39px; */
	border-right:none;
}
/* 2011.11.28 add start*/
#es_formlist_cartlist td.es_thumnail img{
	width:50px;
	border:medium none;
	vartical-align:middle;
}
/* 2011.11.28 add end*/
#es_formlist_cartlist td.es_price_{
	text-align:right;
	white-space:nowrap;
}
#es_formlist_cartlist td.es_qty_{
	text-align:center;
	white-space:nowrap;
}
#es_formlist_cartlist td.es_money_{
	text-align:right;
	white-space:nowrap;
}
#es_formlist_cartlist td.es_button_{
	text-align:center;
}
#es_formlist_cartlist td.es_postage_comment{
	background-color:#FCFEF3;
}
#es_formlist_cartlist td.es_postage_comment .potage_left_box {
	float:left;
	margin:10px 0 0 13px;
}
#es_formlist_cartlist td.es_postage_comment .potage_left_box .es_atxt{
	color:#666666;
	font-size:10px;
}
#es_formlist_cartlist td.es_postage_comment .potage_left_box .es_atxt .es_color_red {
	color:#EC6941;
}
#es_formlist_cartlist td.es_postage_comment .potage_right_box{
	float:right;
	text-align:right;
	padding:0.7em 0;
	margin:15px 0px;
}
#es_formlist_cartlist td.es_postage_comment .potage_right_box strong{
	font-size:130%;
	font-weight:bold;
}
#es_formlist_cartlist td.es_postage_comment .potage_right_box .es_color_red{
	font-size: 130%;
	/* color:#FF0000; */
	color:#EC6941;
}
	
#es_formlist_cartlist .es_clea{
	height:0;
	font-size:0;
	line-height:0;
	clear:both;
}
#es_formlist_cartlist .es_btn_box{
	background-color:#FFFFE1;
	text-align:right;
	padding:10px 5px;
}
#es_formlist_cartlist .es_cart_back{
	margin-bottom:10px;
	margin-right:5px;
}
#es_formlist_cartlist .btn_delivery_box input{
	margin:0 5px;
}



/* method
--------------------------------------------------*/
#method_area_ div.method_address_, #method_area_ div.method_host_{
	border-bottom: none;
}
#method_area_ div#address1, #method_area_ div#address1 table,
#method_area_ #time_ table, #method_area_ #payment_ table{
	font-size: 100%;
	margin-bottom: 0;
}
#method_area_ div#address1 table th, #method_area_ div#time_ table th, #method_area_ div#payment_ table th{
	width: 25%;
	vertical-align: top;
}
#method_area_ td.point_{
	background-color: #F4EDD3;
}
#method_area_ #order_{
	margin-bottom: 20px;
	border-bottom: dotted 1px #CCCCCC;
}
#method_area_ #time_{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #CCCCCC;
}
#method_area_ #payment_ p.lead_{
	margin: 20px 0 15px;
	padding-top: 15px;
	border-top: dotted 1px #CCCCCC;
}
#method_area_ th p.txt-type_{
	text-align: right;
	margin-top: -15px;
	color: #93b1b7;
	font-size: 80%;
	font-weight: normal;
}
#method_area_ #coupon_{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #CCCCCC;
}
#method_area_ #coupon_ div{
	padding-left: 10px;
}
#method_area_ #coupon_ .coupon_none_{
	color: #FF0000;
}
#method_area_ #coupon_ table{
	margin-top: 5px;
}
#method_area_ label {
	margin: 0 15px 0 2px;
}
#method_area_ .submit_{
	margin-top: 40px;
	text-align: left;
}
#method_area_ .submit_ img, #method_area_ .submit_ input{
	margin: 0;
}
#method_area_ .submit_ input{
	margin-left: 270px;
}
#method_area_ .destgoodslist_ th.method_price_{
	width:60px;
}
#method_area_ .destgoodslist_ th.method_qty_{
	width:40px;
}
#method_area_ .destgoodslist_ th.method_gift_{
	width:130px;
}
/* 2011.12.01 add start*/
#method_area_ div.error_{
	margin-bottom: 20px;
	padding: 0;
	background: none;
	border: solid 1px #EC0010;
}
#method_area_ div.error_ dt{
	padding: 5px 7px;
	background-color: #EC0010;
	color: #fff;
}
#method_area_ div.error_ dd{
	min-height: 36px;
	height: auto !important;
	height: 36px;
	padding: 20px 0 0 67px;
	background: #fff6f7 url(../img/sys/error_big.gif) no-repeat 20px 10px;
	border: solid 1px #EC0010;
	color: #ec0100;
}
#method_area_ p.error_{
	clear: both;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	padding-left: 20px;
	background: url(../img/sys/error_small.gif) no-repeat left center;
}
/* 2011.12.01 add end*/

/* estimate
--------------------------------------------------*/
#estimate_area_ .spandual_{
	border-bottom: none;
}
#estimate_area_ h2.goodslist_head_{
	margin-bottom: 0;
}
#estimate_area_ table.goodslist_{
	margin-top: 10px;
}
#estimate_area_ table.goodslist_ td{
	border: dotted 1px #CCCCCC;
}
#estimate_area_ table.goodslist_ th.name_, #estimate_area_ table.goodslist_ th.qty_,
#estimate_area_ table.goodslist_ th.lapping_, #estimate_area_ table.goodslist_ th.point_,
#estimate_area_ table.goodslist_ th.subtotal_{
	background-color: #FAF7E8;
}
#estimate_area_ table.goodslist_ th.qty_, #estimate_area_ table.goodslist_ th.lapping_,
#estimate_area_ table.goodslist_ th.point_, #estimate_area_ table.goodslist_ th.subtotal_,
#estimate_area_ table.goodslist_ td.qty_, #estimate_area_ table.goodslist_ td.point_{
	text-align: center;
}
#estimate_area_ table.goodslist_ td.subtotal_, #estimate_area_ table.goodslist_ td.summary_{
	text-align: right;
}
#estimate_area_ table.goodslist_ td.summary_{
	background-color: #FAFAF8;
}
#estimate_area_ #total_ {
	padding-bottom: 20px;
}
#estimate_area_ #total_ h2{
	width: 960px;
	height: 23px;
	margin-top: 10px;
	padding: 7px 0 0 20px;
	background: url(../img/usr/title_total.gif) no-repeat left top;
	font-size: 14px;
	font-weight: bold;
}
* html #estimate_area_ #total_ h2{ height: 30px;}
*:first-child+html #estimate_area_ #total_ h2{ height: 30px;}

#estimate_area_ #total_ ul{
	padding: 5px 10px 10px;
	background-color: #FFFFE3;
	border: solid 1px #CCCCCC;
}
#estimate_area_ #total_ li{
	margin-top: 5px;
	font-size: 100%;
	text-align: right;
}
#estimate_area_ #total_ li.price_ span{
	color: #FF0000;
	font-size: 180%;
}
#estimate_area_ .spandual_{
	margin-bottom: 0;
}
#estimate_area_ th.host_{
	vertical-align: top;
}
#estimate_area_ div.method_address_{
	border-bottom: none;
}
#estimate_area_ p.lead_{
	margin-bottom: 10px;
}
#estimate_area_ td.credit p{
	margin-top: 10px;
}
#estimate_area_ div.note_{
	width: 820px;
	margin: 0 auto;
	padding: 10px;
	border: solid 1px #CCCCCC;
}
#estimate_area_ div.note_ strong{
	padding-left: 14px;
	background: url(../img/usr/icon_note.gif) no-repeat left center;
}
#estimate_area_ .submit_{
	text-align: left ;
}
#estimate_area_ .submit_ img, #estimate_area_ .submit_ input{
	margin: 0;
}
#estimate_area_ .submit_ input{
	margin-left: 270px;
}
#estimate_area_ .formlist_ th.qty_{
	width:60px;
	padding:10px 0px;
}
#estimate_area_ .formlist_ th.lapping_{
	width:180px;
	padding:10px 0px;
}
#estimate_area_ .formlist_ th.point_{
	width:120px;
	padding:10px 0px;
}
#estimate_area_ .formlist_ th.subtotal_{
	width:90px;
	padding:10px 0px;
}
#estimate_area_ table.destgoodslist_ th{
	width:200px;
}
#estimate_area_ div.destgoodslist_ table.destgoodslist_ th{
	width:auto;
}
#estimate_area_ th p.txt-type_{
	text-align: right;
	margin-top: -15px;
	color: #93b1b7;
	font-size: 80%;
	font-weight: normal;
}
/* 2011.12.01 add start*/
#estimate_area_ div.error_{
	margin-bottom: 20px;
	padding: 0;
	background: none;
	border: solid 1px #EC0010;
}
#estimate_area_ div.error_ dt{
	padding: 5px 7px;
	background-color: #EC0010;
	color: #fff;
}
#estimate_area_ div.error_ dd{
	min-height: 36px;
	height: auto !important;
	height: 36px;
	padding: 20px 0 0 67px;
	background: #fff6f7 url(../img/sys/error_big.gif) no-repeat 20px 10px;
	border: solid 1px #EC0010;
	color: #ec0100;
}
#estimate_area_ p.error_{
	clear: both;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	padding-left: 20px;
	background: url(../img/sys/error_small.gif) no-repeat left center;
}
/* 2011.12.01 add end*/


/* order
--------------------------------------------------*/
#order_area_{
	width: 713px;
	margin: 0 auto 30px;
	padding-bottom: 20px;
	border: solid 1px #CCCCCC;
}
#order_area_ p.top_comment_{
	margin: 20px;
	font-size: 150%;
	font-weight: bold;
}
#order_area_ p{
	margin: 0 20px;
}
#order_area_ table.order_{
	width: 380px;
	margin: 10px 20px;
}
#order_area_ table.order_ th{
	width: 150px;
	vertical-align: middle;
}
#order_area_ table.order_ td{
	color: #ec6941; /*color: #EC0100;*/
	font-size: 125%; /*font-size: 210%;*/
	/*font-weight: bold;*/
	vertical-align: middle;
}



/* menu
--------------------------------------------------*/
#menu_area_ div.block{
	width: 650px;
	margin: 0 auto;
	padding: 10px 0 100px;
}
#menu_area_ div.block:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html #menu_area_ div.block            { zoom: 1; }
*:first-child+html #menu_area_ div.block{ zoom: 1; }

#menu_area_ h2{
	width: 290px;
	height: 23px;
	margin-bottom: 10px;
	padding: 7px 0 0 20px;
	background: url(../img/usr/title_login.gif) no-repeat left top;
	font-size: 14px;
	font-weight: bold;
}
* html #menu_area_ h2{ height: 30px;}
*:first-child+html #menu_area_ h2{ height: 30px;}

#menu_area_ div.member_area_{
	display: inline;
	float: left;
	width: 310px;
}
#menu_area_ div.member_area_inner_{
	min-height: 244px;
	height: auto !important;
	height: 244px;
	background-color: #F9F9F9;
}
#menu_area_ div.member_area_inner_ div.form_text_{
	padding: 10px 10px 0;
}
#menu_area_ div.member_area_inner_ p.mail_{
	margin-top: 15px;
	padding: 0 10px;
}
#menu_area_ div.member_area_inner_ p.pass_{
	margin-top: 10px;
	padding: 0 10px;
}
#menu_area_ div.member_area_inner_ p.mail_ input, #menu_area_ div.member_area_inner_ p.pass_ input{
	width: 285px;
}
#menu_area_ div.memberArea_inner .inputimage_{
	margin-top: 25px;
}
#menu_area_ div.login_area_{
	display: inline;
	float: right;
	width: 310px;
}
#menu_area_ div.login_area_inner_{
	width: 310px;
	height: 244px;
	background: url(../img/sys/bg_member.jpg) no-repeat left top;
}
#menu_area_ div.login_area_inner_ .inputimage_{
	padding-top: 110px;
}
* html #menu_area_ div.login_area_inner_ .inputimage_{ padding-top: 140px;}
*:first-child+html #menu_area_ div.login_area_inner_ .inputimage_{ padding-top: 140px;}



/* agree
--------------------------------------------------*/
#agree_submit_{
	margin: 20px 0;
	text-align: center;
}
#agree_submit_ input{
	margin-left: 10px;
}



/* entry
--------------------------------------------------*/
#entry_area_ .title{
	height: 23px;
	padding: 6px 0 0 17px;
	background: url(../img/usr/title_entry.gif) no-repeat left top;
}
#entry_area_ table, #entry_area_ th, #entry_area_ td{
	border: solid 1px #CCCCCC;
	font-size: 100%;
}
#entry_area_ th{
	width: 25%;
	padding: 8px;
	background-color: #F8F8F8;
	border-right: none;
	vertical-align: top;
	font-weight: bold;
}
#entry_area_ th p.txt-type{
	text-align: right;
	margin-top: -15px;
	color: #93B1B7;
	font-size: 80%;
	font-weight: normal;
}
#entry_area_ td{
	padding: 8px;
	border-left: none;
}
#entry_area_ td.mail_ input{
	padding: 2px 0;
}
#entry_area_ table.name{
	float: left;
	display: inline;
	width: 270px;
	margin-left: -8px;
	border: none;
}
#entry_area_ table.name td{
	padding: 0;
	border: none;
}
#entry_area_ table.name td.name-txt{
	width: 50px;
	text-align: center;
}
/* 2011.11.28 add start*/
#entry_area_ table td input.errinput {
	background-color: #FEB7BF;
}
#entry_area_ table td.err select {
	background-color: #FEB7BF;
}
/* 2011.11.28 add end*/
#entry_area_ td .example{
	color: #7C8960;
}
#entry_area_ th.job1, #entry_area_ th.mm{
	padding-left: 35px;
}
#entry_area_ table.chk-mm{
	width: 690px;
	margin-left: 8px;
	border: none;
}
#entry_area_ table.chk-mm td{
	padding: 0;
	border: none;
	vertical-align: top;
}
#entry_area_ table.chk-mm td.input{
	width: 10px;
	padding-top: 3px;
}
* html #entry_area_ table.chk-mm td.input{ padding-top: 0;}
*+html #entry_area_ table.chk-mm td.input{ padding-top: 0;}

#entry_area_ table.chk-mm td.label{
	width: 230px;
}
#entry_area_ table.chk-mm td.even{
	padding-bottom: 15px;
}
#entry_area_ p.note{
	margin-top: 3px;
	color: #db0000;
}
#entry_area_ .submit_{
	text-align: left;
}
#entry_area_ .submit_ img, #entry_area_ .submit_ input{
	margin: 0;
}
#entry_area_ .submit_ input{
	margin-left: 300px;
}
#entry_area_ div.error_{
	margin-bottom: 20px;
	padding: 0;
	background: none;
	border: solid 1px #EC0010;
}
#entry_area_ div.error_ dt{
	padding: 5px 7px;
	background-color: #EC0010;
	color: #fff;
}
#entry_area_ div.error_ dd{
	min-height: 36px;
	height: auto !important;
	height: 36px;
	padding: 20px 0 0 67px;
	background: #fff6f7 url(../img/sys/error_big.gif) no-repeat 20px 10px;
	border: solid 1px #EC0010;
	color: #ec0100;
}
#entry_area_ .entry_error input{
	background-color: #FEB7BF;
}
#entry_area_ .chk-mm input{
	background-color: transparent !important;
}
#entry_area_ p.error_{
	clear: both;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	padding-left: 20px;
	background: url(../img/sys/error_small.gif) no-repeat left center;
}



/* conf
--------------------------------------------------*/
#conf_area_ .message_ span{
	color: #FF0000;
}
#conf_area_ table{
	width: 90%;
	margin: 0 auto;
}
#conf_area_ table, #conf_area_ th, #conf_area_ td{
	border: solid 1px #CCCCCC;
	font-size: 100%;
}
#conf_area_ th{
	width: 25% !important;
	padding: 8px;
	background-color: #F8F8F8;
	border-right: none;
	vertical-align: top;
	font-weight: bold;
}
#conf_area_ td{
	padding: 8px;
	border-left: none;
}
#conf_area_ table.chk-mm_{
	width: 100%;
	margin-top: -15px;
	margin-left: -8px;
	border: none;
}
#conf_area_ table.chk-mm_ td{
	padding: 15px 0 0;
	border: none;
	vertical-align: top;
}
#conf_area_ table.chk-mm_ td.label_{
	width: 240px;
}
#conf_area_ .submit_{
	margin-left: 47px;
	text-align: left;
}
#conf_area_ .submit_ img, #conf_area_ .submit_ input{
	margin: 0;
}
#conf_area_ .submit_ input{
	margin-left: 270px;
}



/* comp
--------------------------------------------------*/
#comp_area_ div.submit_:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html #comp_area_ div.submit_            { zoom: 1; }
*:first-child+html #comp_area_ div.submit_{ zoom: 1; }

#comp_area_ div.submit_ input{
	margin: 0;
}
#comp_area_ div.continue_shopping_{
	display: inline;
	float: left;
	width: 136px;
	padding-top: 20px;
}
#comp_area_ div.to_order_{
	display: inline;
	float: right;
	width: 600px;
	text-align: left;
	padding-top: 8px;
}