@charset "shift_jis";

/*
Title: FAQ
URI: http://www.famima.com/shop/info/faq.aspx
*/

#faq-wrap {
	width:780px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.8;
	}
	
#faq-sidebar {
	float: left;
	width:240px;
	margin-right:20px;
	}
	
#faq-main {
	float: left;
	width:520px;
	}

#headline-faq {
	background: url("http://www.famima.com/img/usr/faq/faq-cat.png") no-repeat scroll left top transparent;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	width: 240px;
	}

#headline-faq_t {
	background: url("http://www.famima.com/img/usr/faq/faq_t-cat.png") no-repeat scroll left top transparent;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	width: 240px;
	}
	
#faq-main ul {
	margin-bottom:20px;
	}	

#faq-wrap h1{
	background: url("http://www.famima.com/img/usr/common_h1.png") no-repeat scroll left bottom transparent;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 2px 0 6px 20px;
	}	
	
#faq-wrap #faq-main h2 {
	background: url("http://www.famima.com/img/usr/common_h2_840.png") no-repeat scroll left top transparent;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px 5px 5px 15px;
	}	
	
#faq-main li {
	padding-left: 40px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #ccc;
	}
	
#faq-sidebar ul li{
	background: url("http://www.famima.com/img/usr/tree1.png") no-repeat scroll 5px center transparent;
	line-height: 180%;
	padding-left: 20px;
	}
.faq-q1	{
	background: url(http://www.famima.com/img/usr/faq/q1.png) no-repeat 0 50%;
	}	
.faq-q2 {
	background: url(http://www.famima.com/img/usr/faq/q2.png) no-repeat 0 50%;
	}		
.faq-q3 {
	background: url(http://www.famima.com/img/usr/faq/q3.png) no-repeat 0 50%;
	}
.faq-q4 {
	background: url(http://www.famima.com/img/usr/faq/q4.png) no-repeat 0 50%;
	}
.faq-q5 {
	background: url(http://www.famima.com/img/usr/faq/q5.png) no-repeat 0 50%;
	}	
.faq-q6 {
	background: url(http://www.famima.com/img/usr/faq/q6.png) no-repeat 0 50%;
	}
.faq-q7 {
	background: url(http://www.famima.com/img/usr/faq/q7.png) no-repeat 0 50%;
	}
.faq-q8 {
	background: url(http://www.famima.com/img/usr/faq/q8.png) no-repeat 0 50%;
	}
.faq-q9 {
	background: url(http://www.famima.com/img/usr/faq/q9.png) no-repeat 0 50%;
	}
.faq-q10 {
	background: url(http://www.famima.com/img/usr/faq/q10.png) no-repeat 0 50%;
	}
.faq-q11 {
	background: url(http://www.famima.com/img/usr/faq/q11.png) no-repeat 0 50%;
	}
.faq-q12 {
	background: url(http://www.famima.com/img/usr/faq/q12.png) no-repeat 0 50%;
	}
.faq-q13 {
	background: url(http://www.famima.com/img/usr/faq/q13.png) no-repeat 0 50%;
	}
.faq-q14 {
	background: url(http://www.famima.com/img/usr/faq/q14.png) no-repeat 0 50%;
	}
.faq-q15 {
	background: url(http://www.famima.com/img/usr/faq/q15.png) no-repeat 0 50%;
	}
.faq-q16 {
	background: url(http://www.famima.com/img/usr/faq/q16.png) no-repeat 0 50%;
	}
.faq-q17 {
	background: url(http://www.famima.com/img/usr/faq/q17.png) no-repeat 0 50%;
	}
.faq-q18 {
	background: url(http://www.famima.com/img/usr/faq/q18.png) no-repeat 0 50%;
	}
.faq-q19 {
	background: url(http://www.famima.com/img/usr/faq/q19.png) no-repeat 0 50%;
	}
.faq-q20 {
	background: url(http://www.famima.com/img/usr/faq/q20.png) no-repeat 0 50%;
	}
.faq-q21 {
	background: url(http://www.famima.com/img/usr/faq/q21.png) no-repeat 0 50%;
	}
.faq-q22 {
	background: url(http://www.famima.com/img/usr/faq/q22.png) no-repeat 0 50%;
	}
.faq-q23 {
	background: url(http://www.famima.com/img/usr/faq/q23.png) no-repeat 0 50%;
	}
.faq-q24 {
	background: url(http://www.famima.com/img/usr/faq/q24.png) no-repeat 0 50%;
	}
.faq-q25 {
	background: url(http://www.famima.com/img/usr/faq/q25.png) no-repeat 0 50%;
	}
.faq-q26 {
	background: url(http://www.famima.com/img/usr/faq/q26.png) no-repeat 0 50%;
	}
.faq-q27 {
	background: url(http://www.famima.com/img/usr/faq/q27.png) no-repeat 0 50%;
	}
.faq-q28 {
	background: url(http://www.famima.com/img/usr/faq/q28.png) no-repeat 0 50%;
	}
.faq-q29 {
	background: url(http://www.famima.com/img/usr/faq/q29.png) no-repeat 0 50%;
	}
.faq-q30 {
	background: url(http://www.famima.com/img/usr/faq/q30.png) no-repeat 0 50%;
	}
.faq-q31 {
	background: url(http://www.famima.com/img/usr/faq/q31.png) no-repeat 0 50%;
	}
.faq-q32 {
	background: url(http://www.famima.com/img/usr/faq/q32.png) no-repeat 0 50%;
	}
.faq-q33 {
	background: url(http://www.famima.com/img/usr/faq/q33.png) no-repeat 0 50%;
	}
.faq-q34 {
	background: url(http://www.famima.com/img/usr/faq/q34.png) no-repeat 0 50%;
	}
.faq-q35 {
	background: url(http://www.famima.com/img/usr/faq/q35.png) no-repeat 0 50%;
	}
.faq-q36 {
	background: url(http://www.famima.com/img/usr/faq/q36.png) no-repeat 0 50%;
	}
.faq-q37 {
	background: url(http://www.famima.com/img/usr/faq/q37.png) no-repeat 0 50%;
	}
.faq-q38 {
	background: url(http://www.famima.com/img/usr/faq/q38.png) no-repeat 0 50%;
	}
.faq-q39 {
	background: url(http://www.famima.com/img/usr/faq/q39.png) no-repeat 0 50%;
	}
.faq-q40 {
	background: url(http://www.famima.com/img/usr/faq/q40.png) no-repeat 0 50%;
	}
.faq-q41 {
	background: url(http://www.famima.com/img/usr/faq/q41.png) no-repeat 0 50%;
	}

#faq-wrap h3.q {
	background: url("http://www.famima.com/img/usr/faq/q.png") no-repeat scroll left top transparent;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	width: 520px;
	margin-top:10px;
	margin-bottom:5px;
	}
#faq-wrap h3.a {
	background: url("http://www.famima.com/img/usr/faq/a.png") no-repeat scroll left top transparent;
	height: 28px;
	overflow: hidden;
	text-indent: -9999px;
	width: 520px;
	margin-top:25px;
	margin-bottom:5px;
	}
h4.faq {
	font-size: 12px;
	font-weight: bold;
	line-height: 1.8;
	text-align:right;
	margin-bottom:1em;
	}
#faq-wrap p {
	margin-bottom: 1em;
	line-height:1.5;
	}
#faq-wrap p.r {	
	text-align:right;
	}
/* self-clear floats */

.group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

/* IE6 */

* html .group { 
	height: 1%;
	}

/* IE7 */

*:first-child+html .group { 
	min-height: 1px;
	}