img {
  border:0;
  vertical-align:bottom;
}
ul,
li {
  margin:0;
  padding:0;
  list-style:none;
}
#image-navigation{
	width: 700px;
}

#image-navigation ul li a {
  display:block;
  width:220px;
  height:61px;
}
#image-navigation .navi {
  float:right;
}
#image-navigation .navi-image {
  float:left;
}

#image-navigation-text ul li a {
  display:block;
  width:150px;
  height:50px;
  color:#333;
  line-height:50px;
  text-align:center;
}
#image-navigation-text .navi {
  float:left;
}
#image-navigation-text .navi-image {
  float:left;
}
#image-navigation-text a {
  background:#eee;
}
#image-navigation-text a.active {
  background:#333;
  color:#fff;
}
#image-navigation-text .navi-image { position:relative;}
#image-navigation-text .navi-image a { display:block; }
#image-navigation-text .navi-image a { position:absolute; top:0; left:0; z-index:8; }
#image-navigation-text .navi-image a.active { z-index:10; }
#image-navigation-text .navi-image a.last-active { z-index:9; }




/*
新商品スライダー用
*/
.new_products_wrap {
	padding-top:10px; /* still 2012.6.4, padding:20px 0 0 0; */
}

.new_products_title {
	width: 680px;
	height: 21px;
	padding: 9px 0 0 20px;
	margin: 0 0 15px 0;
	background-image: url("http://www.famima.com/images/p/feature/new_product_list.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}

.new_products_container {
	height: 195px;
	psition: relative;
}

.new_products_container #new_products_list {
	position: absolute;
	top: 0;
	left: 16px;
	z-index:1;
}
.new_products_container{
	width:700px !important;
}
.new_products_container a{
	z-index:2;
	float:none !important;
	padding-top:0 !important;
}
.new_products_container a.slider_prev{
	position:absolute;
	top:30px;
	left:0;
}
.new_products_container a.new_slider_next{
	position:absolute;
	top:30px;
	right:0;
}

#new_products_list li div.item {
	width: 133px;
	padding: 0 17px;
	float:left;
}

#new_products_list li div.item p {
	width: 133px;
	padding: 5px 0 0 0;
	text-align: left;
	font-size: 11px; /* still 2012.6.4, font-size:12px; */
}

#new_products_list li div.item img {
    border:1px solid #ccc;
} /* from 2012.6.5, */

/*#new_products_list li div.item p a {
	color : #000000;
}*/


