@charset "Shift_JIS";

#affiliate{ margin:0; padding:0;}

#affiliate #sp_mainbase	{ width: 770px; margin: 0 auto; padding: 0; }
#affiliate .sp_vlextxt	{ color: #333333; font-size: 100%; line-height: 160%; margin: 10px 0 20px; padding: 0; }
#affiliate .sp_vlextxt2	{ color: #333333; font-size: 90%; line-height: 140%; margin: 10px 0 20px; padding: 0; }
#affiliate .sp_vlextxt3	{ color: #FF5A00; font-size: 100%; line-height: 160%; margin: 10px 0 20px; padding: 0; }
#affiliate .sp_vlextxt4	{ color: #FF5A00; font-size: 100%; line-height: 160%; margin: 0; padding: 15px 0 0 20px; }
#affiliate .sp_vlextxt5	{ color: #FF5A00; font-size: 100%; line-height: 160%; margin: 0; padding: 18px 20px 0 10px; }
#affiliate .sp_vlextxt6	{ margin: 10px 0 20px; padding: 0; }
#affiliate .sp_vlextxt7	{ color: #333333; font-size: 90%; line-height: 160%; margin: 0; padding: 0 0 0 10px; }
#affiliate ul#sp_vllist	{ margin: 15px 40px 10px; padding: 0; }
#affiliate #sp_vllist li	{ color: #333333; font-size: 85%; line-height: 140%; margin: 0; padding: 0 0 5px; }
#affiliate a.sp_vllinkcl	{ color: #FF5A00; text-decoration: none; }
#affiliate a:hover.sp_vllinkcl	{ color: #32C929; text-decoration: underline; }
#affiliate #sp_pagetop	{ margin: 0; padding: 10px 0 10px }