@charset "Shift_JIS";

/*
Title: chomiryo-banduke
URI: http://famima.com/shop/pages/banduke.aspx
*/

#banduke-wap{
	margin:0; padding:0; width:700px;}

#banduke-wap h1, #banduke-wap h2, #banduke-wap h3, #banduke-wap h4,
#banduke-wap img, #banduke-wap p, #banduke-wap div, #banduke-wap ul, #banduke-wap li{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}
	
#banduke-wap .newItem01{
	width:135px; height:415px; float:left;
	background:url(http://www.famima.com/images/p/banduke/newitem01.jpg) no-repeat;}
#banduke-wap .newItem02{
	width:135px; height:415px; float:left;
	background:url(http://www.famima.com/images/p/banduke/newitem02.jpg) no-repeat;}
#banduke-wap .newItem03{
	width:135px; height:415px; float:left;
	background:url(http://www.famima.com/images/p/banduke/newitem03.jpg) no-repeat;}
#banduke-wap .newItem04{
	width:272px; height:415px; float:left;
	background:url(http://www.famima.com/images/p/banduke/newitem04.jpg) no-repeat;}

#banduke-wap .newItem01 .BT{padding:370px 0 0 5px;}
#banduke-wap .newItem02 .BT{padding:370px 0 0 5px;}
#banduke-wap .newItem03 .BT{padding:370px 0 0 5px;}
#banduke-wap .newItem04 .BT{padding:355px 0 0 20px;}

	
#banduke-wap .clear{
	margin:0; padding:0; clear:both; font-size:0;}

#banduke-wap #bandukeitem_base{
	margin:0; padding:0; width:700px;}
	
#banduke-wap #bandukeitem_base .westBase{
	width:350px; float:left;}
	
#banduke-wap #bandukeitem_base .eastBase{
	width:350px; float:left;}
	
#banduke-wap #westItem01{
	width:350px; height:325px;
	background:url(http://www.famima.com/images/p/banduke/west_item01.jpg) no-repeat;}
#banduke-wap #eastItem01{
	width:350px; height:325px;
	background:url(http://www.famima.com/images/p/banduke/east_item01.jpg) no-repeat;}
	
#banduke-wap #westItem02{
	width:350px; height:291px;
	background:url(http://www.famima.com/images/p/banduke/west_item02.jpg) no-repeat;}
#banduke-wap #eastItem02{
	width:350px; height:291px;
	background:url(http://www.famima.com/images/p/banduke/east_item02.jpg) no-repeat;}
	
#banduke-wap #westItem03{
	width:350px; height:287px;
	background:url(http://www.famima.com/images/p/banduke/west_item03.jpg) no-repeat;}
#banduke-wap #eastItem03{
	width:350px; height:287px;
	background:url(http://www.famima.com/images/p/banduke/east_item03.jpg) no-repeat;}
	
#banduke-wap #westItem04{
	width:350px; height:165px;
	background:url(http://www.famima.com/images/p/banduke/west_item04.jpg) no-repeat;}
#banduke-wap #eastItem04{
	width:350px; height:165px;
	background:url(http://www.famima.com/images/p/banduke/east_item04.jpg) no-repeat;}
	
#banduke-wap #westItem05{
	width:350px; height:155px;
	background:url(http://www.famima.com/images/p/banduke/west_item05.jpg) no-repeat;}
#banduke-wap #eastItem05{
	width:350px; height:155px;
	background:url(http://www.famima.com/images/p/banduke/east_item05.jpg) no-repeat;}
	
#banduke-wap #westItem06{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/west_item06.jpg) no-repeat;}
#banduke-wap #eastItem06{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/east_item06.jpg) no-repeat;}
	
#banduke-wap #westItem07{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/west_item07.jpg) no-repeat;}
#banduke-wap #eastItem07{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/east_item07.jpg) no-repeat;}
	
#banduke-wap #westItem06{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/west_item06.jpg) no-repeat;}
#banduke-wap #eastItem06{
	width:350px; height:167px;
	background:url(http://www.famima.com/images/p/banduke/east_item06.jpg) no-repeat;}
	
#banduke-wap #westItem07{
	width:350px; height:137px;
	background:url(http://www.famima.com/images/p/banduke/west_item07.jpg) no-repeat;}
#banduke-wap #eastItem07{
	width:350px; height:137px;
	background:url(http://www.famima.com/images/p/banduke/east_item07.jpg) no-repeat;}
	
#banduke-wap #westItem08{
	width:350px; height:132px;
	background:url(http://www.famima.com/images/p/banduke/west_item08.jpg) no-repeat;}
#banduke-wap #eastItem08{
	width:350px; height:132px;
	background:url(http://www.famima.com/images/p/banduke/east_item08.jpg) no-repeat;}

#banduke-wap #westItem09{
	width:350px; height:148px;
	background:url(http://www.famima.com/images/p/banduke/west_item09.jpg) no-repeat;}
#banduke-wap #eastItem09{
	width:350px; height:148px;
	background:url(http://www.famima.com/images/p/banduke/east_item09.jpg) no-repeat;}

#banduke-wap #westItem10{
	width:350px; height:142px;
	background:url(http://www.famima.com/images/p/banduke/west_item10.jpg) no-repeat;}
#banduke-wap #eastItem10{
	width:350px; height:142px;
	background:url(http://www.famima.com/images/p/banduke/east_item10.jpg) no-repeat;}

#banduke-wap #westItem01 .BT{padding:260px 0 0 220px;}
#banduke-wap #westItem02 .BT{padding:213px 0 0 29px;}
#banduke-wap #westItem03 .BT{padding:213px 0 0 233px;}
#banduke-wap #westItem04 .BT{padding:128px 0 0 132px;}
#banduke-wap #westItem05 .BT{padding:100px 0 0 32px;}
#banduke-wap #westItem06 .BT{padding:124px 0 0 34px;}
#banduke-wap #westItem07 .BT{padding:90px 0 0 240px;}
#banduke-wap #westItem08 .BT{padding:90px 0 0 35px;}
#banduke-wap #westItem09 .BT{padding:96px 0 0 240px;}
#banduke-wap #westItem10 .BT{padding:100px 0 0 33px;}

#banduke-wap #eastItem01 .BT{padding:260px 0 0 205px;}
#banduke-wap #eastItem02 .BT{padding:225px 0 0 20px;}
#banduke-wap #eastItem03 .BT{padding:213px 0 0 210px;}
#banduke-wap #eastItem04 .BT{padding:135px 0 0 128px;}
#banduke-wap #eastItem05 .BT{padding:100px 0 0 20px;}
#banduke-wap #eastItem06 .BT{padding:130px 0 0 20px;}
#banduke-wap #eastItem07 .BT{padding:90px 0 0 230px;}
#banduke-wap #eastItem08 .BT{padding:94px 0 0 20px;}
#banduke-wap #eastItem09 .BT{padding:96px 0 0 230px;}
#banduke-wap #eastItem10 .BT{padding:94px 0 0 20px;}


/* clearfix */
#banduke-wap #bandukeitem_base .clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;}

/* IE6 */
* html #banduke-wap { 
	height: 1%;}
