@charset "Shift_JIS";

/*-----------------------------------------------------------
	common_category
-----------------------------------------------------------*/

/* New Arrival */
h2#NewArrival_darkgray {
	width:700px;
	height:35px;
	background:url(http://www.famima.com/images/p/common/newitem_info_na_darkgray.png);
	font-size:16px;
	font-weight:bold;
	line-height:2;
	color:#fff;
	padding:5px 0 0 110px;
}



/* New Items */
h2#NewItems_darkgray {
	width:700px;
	height:35px;
	background:url(http://www.famima.com/images/p/common/newitem_info_ni_darkgray.png);
	font-size:16px;
	font-weight:bold;
	line-height:2;
	color:#fff;
	padding:5px 0 0 110px;
}



/* transparent */
.areatransparent {
	display:none;
}


/* position ------------------------------------------------ */
/* padding */

.pad5 {
	padding:5px;
}

/* margin */

.mt10 {
	margin-bottom:10px;
}