#cp101208	{ width: 960px; }
#cp101208 .clear	{ clear: both; }
#cp101208 .hdlink	{ background: url(http://www.famima.com/images/p/cp101208/chance.jpg) no-repeat; position: relative; width: 960px; height: 167px; }
#cp101208 .hdlink a.bt01	{ background: url(http://www.famima.com/images/p/cp101208/bt01.jpg) no-repeat; position: absolute; top: 98px; left: 37px; width: 425px; height: 42px; margin: 0 auto; padding: 0; display: block; }
#cp101208 .hdlink a.bt02	{ background: url(http://www.famima.com/images/p/cp101208/bt02.jpg) no-repeat; position: absolute; top: 98px; left: 498px; width: 425px; height: 42px; margin: 0 auto; padding: 0; display: block; }
#cp101208 .hdlink a:hover	{ background-position: 0 -42px; }
#cp101208 .hdlink a span	{ display:none; }
#cp101208 .hdbn1	{ background: url(http://www.famima.com/images/p/cp101208/bnarea.jpg) no-repeat; text-align: center; position: relative; width: 960px; height: 116px; }
#cp101208 .hdbn1 a	{ margin: 0 auto; }
#cp101208 .hdbn2	{ background-color: #45a9e3; text-align: center; position: relative; width: 960px; height: 130px; margin: 0 0 25px; }
#cp101208 .hdbn2 a	{ margin: 0 auto; }
#cp101208 .cpbg	{ background: white url(http://www.famima.com/images/p/cp101208/bg.gif) repeat-y; text-align: center; margin: 0; padding: 0 30px; }
#cp101208 .cpbg div	{ margin: 0 auto; }
#cp101208 .item	{ margin: 0; padding: 0 0 15px; }
#cp101208 .cpbg ul	{ background: url(http://www.famima.com/images/p/cp101208/hint.gif) no-repeat 25px 0; width: 100%; height: 150px; margin: 0; padding: 0 0 0 7px; list-style-type: none; display: block; }
#cp101208 .cpbg li	{ float: left; margin: 35px 0 0 18px; padding: 0; list-style-type: none; display: inline; }
#cp101208 .cpbg li a	{ float: left; }
#cp101208 .cpobbt	{ text-align: left; width: 850px; clear: both;}
#cp101208 .cpobst	{ text-align: left; width: 850px; clear: both; margin: 0; padding: 10px 0; border-color: #53d000; border-style: solid; border-width: 1px 0 0; }
#cp101208 .cpobst img	{ float: left; }
#cp101208 .cpobst .cpobtx	{ font-size: 84%; line-height: 1.45em; text-align: left; width: 760px; float: left; margin: 0 0 0 10px; padding: 0; display: block; }
#cp101208 .cpobst .cpobtx2	{ font-size: 84%; line-height: 1.45em; text-align: left; clear: both; padding: 0 0 10px; display: block; }
#cp101208 .cpobsg	{ text-align: left; width: 850px; clear: both; margin: 0; padding: 10px 0; border-color: #ff8309; border-style: solid; border-width: 1px 0 0; }
#cp101208 .cpobsg img	{ float: left; }
#cp101208 .cpobsg .cpobtx	{ font-size: 84%; line-height: 1.45em; text-align: left; width: 760px; float: left; margin: 0 0 0 10px; padding: 0; display: block; }
#cp101208 .cpoinq1	{ background: url(http://www.famima.com/images/p/cp101208/obot1.gif) no-repeat 25px 0; position: relative; width: 900px; height: 75px; }
#cp101208 .cpoinq1 a	{ font-weight: bold; position: absolute; top: 17px; left: 575px; }
#cp101208 .cpoinq2	{ background: url(http://www.famima.com/images/p/cp101208/obot2.gif) no-repeat 25px 0; position: relative; width: 900px; height: 75px; }
#cp101208 .cpoinq2 a	{ font-weight: bold; position: absolute; top: 17px; left: 575px; }
#cp101208 .cpobbtn	{ background: url(http://www.famima.com/images/p/cp101208/obbtbg.jpg) no-repeat; position: relative; width: 900px; height: 135px; }
#cp101208 .cpobbtn a	{ background: url(http://www.famima.com/images/p/cp101208/obbtn.jpg) no-repeat; position: absolute; top: 38px; left: 200px; width: 510px; height: 54px; margin: 0 auto; padding: 0; display: block; }
#cp101208 .cpobbtn a:hover	{ background-position: 0 -54px; }
#cp101208 .cpobbtn a strong	{ display:none; }
#cp101208 .cpbckbtn	{ background: url(http://www.famima.com/images/p/cp101208/obbtbg.gif) no-repeat; position: relative; width: 900px; height: 115px; }
#cp101208 .cpbckbtn a	{ background: url(http://www.famima.com/images/p/cp101208/bt03.jpg) no-repeat; position: absolute; top: 20px; left: 200px; width: 512px; height: 54px; margin: 0 auto; padding: 0; display: block; }
#cp101208 .cpbckbtn a:hover	{ background-position: 0 -54px; }
#cp101208 .cpbckbtn a strong	{ display:none; }



