@charset "Shift_JIS";

/* --------------------------------------------------------------------
	soccer
	http://www.famima.com/
--------------------------------------------------------------------- */


#csoccer .subcontainer {
	background:url(http://www.famima.com/images/p/goods_direct/back_container.png);
	padding:10px;
}

#csoccer .pickup_items {
	width:165px;
	float:left;
	margin:10px 25px;
}

#csoccerr .pickup_items img.space {
	margin:0 0 10px;
}


#csoccerr .subcontainer .keywords {
	display:inline;
	margin:0 20px 0 0;
}