@charset "Shift_JIS";

/*
Title: chomiryo-banduke
URI: http://famima.com/shop/pages/banduke.aspx
*/

#fukuoka-container{
	margin:0; padding:0; width:852px; margin-left:30px;
	background:url(http://www.famima.com/images/p/fukuoka/bg.jpg) repeat;}
#fukuoka-wrap{
	margin:0; padding:0; width:852px;}

#fukuoka-wrap h1, #fukuoka-wrap h2, #fukuoka-wrap h3, #fukuoka-wrap h4,
#fukuoka-wrap img, #fukuoka-wrap p, #fukuoka-wrap div, #fukuoka-wrap ul, #fukuoka-wrap li{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}

#fukuoka-wrap .clear{
	margin:0; padding:0; clear:both; font-size:0;}

/* header */
#fukuoka-wrap h1#header{
	width:852px; height:130px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/header.jpg) no-repeat;}

#fukuoka-wrap #recipe-bt{
	width:250px; height:28px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/recipe_bt.jpg) no-repeat;
	margin-left:573px;}
	
#fukuoka-wrap #recipe-bt a{
	outline:0;}


/* maincontents */
#fukuoka-wrap #mainbase{
	width:790px; margin-left:30px;}

#fukuoka-wrap h2#title1{
	width:790px; height:64px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/title_1.jpg) no-repeat;}
#fukuoka-wrap h2#title2{
	width:790px; height:64px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/title_2.jpg) no-repeat;}
#fukuoka-wrap h2#title3{
	width:790px; height:64px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/title_3.jpg) no-repeat;}

#fukuoka-wrap h2#title4{
	width:790px; height:64px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/title_4.jpg) no-repeat;}

#fukuoka-wrap .TXTBase p{
	font-size:90%; color:#333333; line-height:125%;}

#fukuoka-wrap #itemBase782{
	width:770px; border:1px #996633 solid; background-color:#FFFFFF; padding:8px 3px 8px 8px; margin-bottom:10px;}
#fukuoka-wrap #itemBase782 #IMGBase{
	width:346px; height:286px; padding:0; float:left;}
#fukuoka-wrap #itemBase782 .TXTBase{
	width:420px; padding:0; float:left;}
#fukuoka-wrap #itemBase782 .TXTBase p{
	padding:3px 0 0 15px;}

#fukuoka-wrap #itemBase782 .TXTBase .bt{
	padding:5px 0 0 15px;}
#fukuoka-wrap #itemBase782 .TXTBase .bt a{
	outline:0;}
	
#fukuoka-wrap #itemBG382TOP{
	width:782px; height:10px; padding:0; margin:0; background:url(http://www.famima.com/images/p/fukuoka/itemborder1top.jpg) top center no-repeat;}
#fukuoka-wrap #itemBG382MDL{
	width:782px; background:url(http://www.famima.com/images/p/fukuoka/itemborder1.jpg) repeat-y;}
#fukuoka-wrap #itemBG382BTM{
	width:782px; height:10px; background:url(http://www.famima.com/images/p/fukuoka/itemborder1btm.jpg) top center no-repeat;}

#fukuoka-wrap .itemBase362R{
	width:362px; float:left; padding:0 0 0 10px; margin:0;}
#fukuoka-wrap .itemBase362L{
	width:362px; float:left; padding-left:38px;}
	
#fukuoka-wrap .itemBase362R .TXTBase .bt,
#fukuoka-wrap .itemBase362L .TXTBase .bt{
	padding:5px 0;}
#fukuoka-wrap .itemBase362R .TXTBase .bt a,
#fukuoka-wrap .itemBase362L .TXTBase .bt a{
	outline:0;}


#fukuoka-wrap #itemBGSAKETOP{
	width:782px; height:10px; background:url(http://www.famima.com/images/p/fukuoka/itemborder2top.jpg) no-repeat;}
#fukuoka-wrap #itemBGSAKEMDL{
	width:782px; background:url(http://www.famima.com/images/p/fukuoka/itemborder2.jpg) repeat-y;}
#fukuoka-wrap #itemBGSAKEBTM{
	width:782px; height:10px; background:url(http://www.famima.com/images/p/fukuoka/itemborder2btm.jpg) no-repeat; clear:both;}

#fukuoka-wrap .itemBase246R{
	width:246px; float:left; padding-left:5px;}
#fukuoka-wrap .itemBase500L{
	width:500px; float:left; padding-left:25px;}

#fukuoka-wrap .itemBase246R .TXTBase p{
	padding:0 5px;}
	
#fukuoka-wrap .itemBase500L .TXTBase1{
	width:233px; padding:0 0 0 5px; float:left;}
#fukuoka-wrap .itemBase500L .TXTBase2{
	width:233px; padding:0 0 0 20px; float:left;}

#fukuoka-wrap .itemBase246R .TXTBase .bt,
#fukuoka-wrap .itemBase500L .TXTBase1 .bt,
#fukuoka-wrap .itemBase500L .TXTBase2 .bt{
	padding:5px 0;}
#fukuoka-wrap .itemBase246R .TXTBase .bt a,
#fukuoka-wrap .itemBase500L .TXTBase1 .bt a,
#fukuoka-wrap .itemBase500L .TXTBase2 .bt a{
	outline:0}




#fukuoka-wrap #itemBase01-02{
	width:783px;
	background:url(http://www.famima.com/images/p/fukuoka/itemborder1.jpg) repeat-y;}
#fukuoka-wrap #itemBase03-04{
	width:783px;
	background:url(http://www.famima.com/images/p/fukuoka/itemborder1.jpg) repeat-y;}

#fukuoka-wrap .itemBaseL{
	width:384px; float:left; padding-right:15px;}
#fukuoka-wrap .itemBaseR{
	width:384px; float:left;}

#fukuoka-wrap .txtBase{
	width:365px; padding-left:10px;}
#fukuoka-wrap .txtBase p{
	padding:0 0 10px 0; color:#333333; line-height:130%;}
#fukuoka-wrap .txtBase .bt{
	padding-bottom:10px;}
#fukuoka-wrap .txtBase .bt a{
	outline:0}


#fukuoka-wrap .itemBase783{
	width:783px; margin-top:15px;
	background:url(http://www.famima.com/images/p/fukuoka/itemborder2.jpg) repeat-y;}
	
#fukuoka-wrap .itemBase783BTM{
	width:783px; height:20px; clear:both;
	background:url(http://www.famima.com/images/p/fukuoka/itemborder2btm.jpg) no-repeat;}
	
#fukuoka-wrap .itemBase783 #item03IMG{
	width:308px; height:233px; float:left;}
#fukuoka-wrap .itemBase783 #item03txtBase{
	width:475px; float:left;
	background:url(http://www.famima.com/images/p/fukuoka/item03_image.jpg) bottom right no-repeat;}
#fukuoka-wrap .itemBase783 #item03COPY{
	width:475px; height:41px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item03_copy.jpg) no-repeat;}
#fukuoka-wrap .itemBase783 h3#item03name{
	width:378px; height:92px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item03_name.jpg) no-repeat;}
#fukuoka-wrap .itemBase783 #item03txtBase p{
	width:378px; padding:4px; color:#333333; line-height:130%;}

#fukuoka-wrap h3#item01name{
	width:357px; height:78px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item01_name.jpg) no-repeat;}

#fukuoka-wrap h3#item02name{
	width:357px; height:78px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item02_name.jpg) no-repeat;}

#fukuoka-wrap h3#item04name{
	width:357px; height:78px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item04_name.jpg) no-repeat;}

#fukuoka-wrap h3#item05name{
	width:357px; height:78px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/fukuoka/item05_name.jpg) no-repeat;}
	
/* ---------------- PICKUP ----------------- */
#fukuoka-wrap .puitemBase{
	width:152px; float:left; padding-right:7px;}
#fukuoka-wrap .puitemBase h3.name{
	color:#555555; line-height:120%; font-weight:bold;}
	
#fukuoka-wrap .puitemBase .price{
	color:#CC3333; font-size:90%; padding:5px 0;}


/* ---------------- RECIPE ----------------- */
#fukuoka-wrap #mainbase2{
	width:790px; margin-left:30px;}

#fukuoka-wrap #recipeBase{
	width:787px;
	/* background:url(/images/p/fukuoka/recipebase_border.jpg) repeat-y;} */
	background:url(http://www.famima.com/images/p/hokkaido/recipebase_border.jpg) repeat-y;}

#fukuoka-wrap #recipeTTL{
	width:787px; height:46px; text-indent:-9999px;
	/* background:url(/images/p/fukuoka/recipe_ttl.jpg) no-repeat;} */
	background:url(http://www.famima.com/images/p/hokkaido/recipe_ttl.jpg) no-repeat;}

#fukuoka-wrap #recipeBase .recipeBase365{
	width:365px; padding-left:24px; float:left;}
	
#fukuoka-wrap #recipeBase .recipeBase365 .recipeIMG{
	width:166px; height:166px; padding:10px 0 0 0; float:left;}
#fukuoka-wrap #recipeBase .recipeBase365 .recipeTxtBase{
	width:186px; padding:10px 0 0 8px;; float:left;}
#fukuoka-wrap #recipeBase .recipeBase365 h4.recipetitle{
	color:#7f420f; font-size:110%; line-height:120%;}
#fukuoka-wrap #recipeBase .recipeBase365 .recipecmnt{
	color:#333333; line-height:120%; padding:10px 0;}
	
#fukuoka-wrap #recipeBase .recipeBase365 .recipetxt{
	color:#666666; font-size:90%; padding:4px 0 0 0;}

#fukuoka-wrap #recipeBase .recipeBase365 .recipetxt a:link, 
#fukuoka-wrap #recipeBase .recipeBase365 .recipetxt a:visited{
	text-decoration:underline; color:#666666;}
#fukuoka-wrap #recipeBase .recipeBase365 .recipetxt a:hover,
#fukuoka-wrap #recipeBase .recipeBase365 .recipetxt a:active{
	text-decoration:none; color:#666666;}

#fukuoka-wrap #recipeBase .recipeItembase{
	width:361px; border:1px solid #999999;}
	
#fukuoka-wrap #recipeBase .recipeItembase img{
	width:93px; height:167px; float:left; padding-left:7px;}
#fukuoka-wrap #recipeBase .recipeItembase .infobase{
	width:242px; float:left; padding-top:10px;}
	
#fukuoka-wrap #recipeBase .recipeItembase .infocmnt{
	width:176px; height:30px; text-indent:-9999px;
	/* background:url(/images/p/fukuoka/recipeitem_cmnt.jpg) no-repeat;} */
	background:url(http://www.famima.com/images/p/hokkaido/recipeitem_cmnt.jpg) no-repeat;}
#fukuoka-wrap #recipeBase .recipeItembase .infobase h3.name{
	color:#555555; line-height:120%; font-weight:bold;}
#fukuoka-wrap #recipeBase .recipeItembase .infobase .price{
	color:#CC3333; font-size:90%; padding:4px 0;}
#fukuoka-wrap #recipeBase .recipeItembase .infobase .cmnt{
	color:#555555; font-size:90%; line-height:125%;}
	
#fukuoka-wrap h3.name a:link, 
#fukuoka-wrap h3.name a:visited{
	text-decoration:underline; color:#555555;}
#fukuoka-wrap h3.name a:hover,
#fukuoka-wrap h3.name a:active{
	text-decoration:none; color:#555555;}

/* ---------------- RECIPE ----------------- */

/* clearfix */
#fukuoka-wrap .clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;}

/* IE6 */
* html #fukuoka-wrap { 
	height: 1%;}
