#morimoto_wrap{
	width:700px; margin:0; padding:0;}
	
#morimoto_wrap .clear{
	clear:both;}
	
#morimoto_wrap .image{
	margin:0; padding:0;}
	
#morimoto_wrap h1, h2, h3, h4{
	margin:0; padding:0;}

#morimoto_wrap .text{
	margin:10px 0; padding:0 50px; color:#444444; line-height:130%;}

#morimoto_wrap .itemBase{
	margin:0; padding:0; width:622px;}
	
.morimoto_itemIMG{
	margin:0; padding:0; width:335px; height:238px; float:left;}
.morimoto_itemCONT{
	margin:0; padding:0 0 0 20px; width:287px; float:left;}
	
.morimoto_name{
	margin:0; padding:65px 0 0 0; font-weight:bold; line-height:120%;}
.morimoto_name a:link, 
.morimoto_name a:visited{
	text-decoration:underline; color:#333333;}
.morimoto_name a:hover,
.morimoto_name a:active{
	text-decoration:none; color:#333333;}

.morimoto_itemCONT .itemtxt{
	margin:0; padding:4px 0; color:#444444; line-height:130%;}
.morimoto_itemCONT .itemprice{
	margin:0; padding:0; font-size:80%; color:#11a911; line-height:130%;}
.morimoto_itemCONT .buybt img{
	margin:18px 0 0 0; padding:0; border:none; outline:none;}
	
#morimoto_wrap .voice{
	margin:0; padding:20px 0 0 35px;}

#morimoto_wrap .aboutBase{
	margin:0 0 0 35px; padding:0; width:622px; background:url(http://www.famima.com/images/p/morimoto_tmt/about_border.jpg) repeat-y;}
	
#morimoto_wrap .aboutTXT{
	margin:0; padding:0; width:482px; float:left;}

#morimoto_wrap .aboutTXT p{
	margin:0; padding:5px 15px; color:#444444; line-height:140%;}

#morimoto_wrap .aboutIMG{
	margin:0; padding:0; float:left;}

#morimoto_wrap .aboutClear{
	clear:both; width:622px; height:19px; background:url(http://www.famima.com/images/p/morimoto_tmt/about_btm.gif) no-repeat;}

