@charset "shift_jis";

/*------------------------------------------
ONE PIECE PIRATES WORK WEAR
http://www.famima.com/shop/pages/onepiece_shirts.aspx
-------------------------------------------*/


#OPshirts h1, h2, h3 div.navitopicpath_ {
	margin:0;
	padding:0;
	font-size: 100%;
	font-style: normal;
}


#OPshirts img {
	margin:0;
	padding:0;
	border:0;
}


#OPshirts ul {
	margin:0;
	padding:0;
}


#OPshirts li {
	margin:0;
	padding:0;
	display:inline;
	float:left;
}


#OPshirts .transparent {
	display:none;
}


/* ---------------------------------------------------- */


/* #OPshirts {
	margin: 0 auto;
	line-height:1.25;
	width:960px;
} */


#OPshirts h1 {
	background:url(http://www.famima.com/images/p/onepiece_shirts/shirts_title.png) no-repeat;
	width:960px;
	height:195px;
}


#OPshirts h2.catch {
	background:url(http://www.famima.com/images/p/onepiece_shirts/JINSver2_catch.png) no-repeat;
	width:960px;
	height:87px;
}


#OPshirts h3.intro {
	background:url(http://www.famima.com/images/p/onepiece_shirts/JINSver2_intro.png) no-repeat;
	width:960px;
	height:349px;
}


#OPshirts h3.tokuten {
	background:url(http://www.famima.com/images/p/onepiece_shirts/JINSver2_tokuten.jpg) no-repeat;
	width:960px;
	height:257px;
}


#OPshirts h2.subtitleVer2 {
	background:url(http://www.famima.com/images/p/onepiece_shirts/JINSver2_subtitleVer2.png) no-repeat;
	width:960px;
	height:80px;
}


#OPshirts ul {
	width:960px;
}


#OPshirts li.Ver2 {
	float:left;
}





#OPshirts {
	position:relative;
	margin:0 auto;
	width:960px;
	height:2500px;
}

#OPshirts .shirts-title {
	position:absolute;
	top:0px;
	width:960px;
	height:195px;
	
}

#OPshirts .shirts-intro {
	position:absolute;
	top:195px;
	width:960px;
	height:173px;
}

#OPshirts .shirts-luffy {
	position:absolute;
	top:368px;
	width:960px;
	height:414px;
}

#OPshirts .shirts-zoro {
	position:absolute;
	top:782px;
	width:960px;
	height:415px;
}

#OPshirts .shirts-nami {
	position:absolute;
	top:1197px;
	width:960px;
	height:414px;
}

#OPshirts .shirts-sanji {
	position:absolute;
	top:1611px;
	width:960px;
	height:415px;
}

#OPshirts .shirts-robin {
	position:absolute;
	top:2026px;
	width:960px;
	height:414px;
}

#OPshirts .shirts-copyright {
	position:absolute;
	top:2440px;
	width:960px;
	height:33px;
}

#OPshirts img {
	margin:0;
	padding:0;
	border:0;
}
