
@charset "shift_jis";
/* CSS Document */
--------------------------------------------------
	QUOLOMO
	#category
	http://www.famima.com/shop/c/cquolomo/
--------------------------------------------------

/* --------------------------------------------------------------------*/

#quolomo_ctgy {
	margin:0;
	padding:0;
	font-size:0.75em;
	line-height:1;
	width:700px;
	text-align:left;
}

#quolomo_ctgy h1,h2,h3,ul,li,dl,dt,dd {
	margin:0;
	padding:0;	
}


/* start link setting */
#quolomo_ctgy a.btn_k29 {
	background:url(http://www.famima.com/images/p/quolomo/img_model_k29.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_k29 {
	background:url(http://www.famima.com/images/p/quolomo/img_model_k29.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/**/

#quolomo_ctgy a.btn_arare {
	background:url(http://www.famima.com/images/p/quolomo/img_model_arare.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_arare {
	background:url(http://www.famima.com/images/p/quolomo/img_model_arare.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/**/

#quolomo_ctgy a.btn_momo {
	background:url(http://www.famima.com/images/p/quolomo/img_model_momo.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_momo {
	background:url(http://www.famima.com/images/p/quolomo/img_model_momo.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/**/

#quolomo_ctgy a.btn_mami {
	background:url(http://www.famima.com/images/p/quolomo/img_model_mami.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_mami {
	background:url(http://www.famima.com/images/p/quolomo/img_model_mami.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/**/

#quolomo_ctgy a.btn_999 {
	background:url(http://www.famima.com/images/p/quolomo/img_model_999.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_999 {
	background:url(http://www.famima.com/images/p/quolomo/img_model_999.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/**/

#quolomo_ctgy a.btn_kitty {
	background:url(http://www.famima.com/images/p/quolomo/img_model_kitty.jpg) 0 0 no-repeat;
	width:226px;
	height:300px;
}

#quolomo_ctgy a:hover.btn_kitty {
	background:url(http://www.famima.com/images/p/quolomo/img_model_kitty.jpg) -226px 0 no-repeat;
	width:226px;
	height:300px;
}
/* end link setting */

/* -------------------*/


#quolomo_ctgy h1 {
	background:url(http://www.famima.com/images/p/quolomo/title_700.jpg) no-repeat;
	width:700px;
	height:361px;
	display:block;
	text-indent:-9999px;
	}

#quolomo_ctgy h1.subctgy {
	width:700px;
	height:361px;
	display:block;
	}


/* start subtitle */
#quolomo_ctgy h2.k29 {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_k29.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

#quolomo_ctgy h2.arare {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_arare.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

#quolomo_ctgy h2.momo {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_momo.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

#quolomo_ctgy h2.mami {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_mami.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

#quolomo_ctgy h2.g999 {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_999.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

#quolomo_ctgy h2.kitty {
	background:url(http://www.famima.com/images/p/quolomo/subtitle_kitty.png) no-repeat;
	width:700px;
	height:60px;
	display:block;
	text-indent:-9999px;
	}
/**/

/* end subtitle */

#quolomo_ctgy #aboutQUOLOMO {
	width:700px;
	display:block;
	clear:both;
	}

#quolomo_ctgy #aboutQUOLOMO dl {
	width:700px; /* 700px */
	display:block;
	clear:both;	
	background:#201413;
	}
	
#quolomo_ctgy #aboutQUOLOMO dt {
	width:233px;
	height:50px;
	float:left;
	display:inline-block;
	vertical-align:top;
	background:#201413;
	padding:10px 0;
	}

#quolomo_ctgy #aboutQUOLOMO dd {
	width:447px; /* 467px */
	height:50px;
	float:left;
	text-align:left;
	display:inline-block;	
	vertical-align:top;
	background:#EEEDED;
	padding:10px;
	font-size:0.8em;
	line-height:1.25;
	}

#quolomo_ctgy .quolomo_copyright_w700 {
	background:url(http://www.famima.com/images/p/quolomo/copyright_w700.png) no-repeat;
	display:block;
	width:700px;
	height:160px;
	margin:20px 0 40px;
	}

#quolomo_ctgy ul {
	width:700px;
	display:block;
	margin:10px 0;
	}

#quolomo_ctgy li {
	width:226px;
	height:300px;
	display:inline-block;
	float:left;
	margin:0 0 10px 5px;
	border:none;
	}

/* start link setting */
#quolomo_ctgy li .btn_k29, .btn_arare, .btn_momo, .btn_mami, .btn_999, .btn_kitty {
	width:226px;
	height:300px;
	display:inline-block;
	border:none;
	}
/* end link setting */


/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/

#quolomo-wrap{
	margin:0 auto; padding:0 auto; width:930px;}

#quolomo-wrap h1, #quolomo-wrap h2, #quolomo-wrap h3, #quolomo-wrap h4,
#quolomo-wrap img, #quolomo-wrap p, #quolomo-wrap div, #quolomo-wrap ul, #quolomo-wrap li{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}

#quolomo-wrap .clear{
	margin:0; padding:0; clear:both; font-size:0;}

/* clearfix */
#quolomo-wrap .clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;}

/* IE6 */
* html #quolomo-wrap { 
	height: 1%;}

/* --------------------------------------------------------------------*/

#quolomo-wrap h1#header{
	width:930px; height:175px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/quolomo/header.jpg) no-repeat;}
	
#quolomo-wrap h2#mainimage{
	width:930px; height:586px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/quolomo/mainimage.jpg) no-repeat;}

#quolomo-wrap .lineup{
	width:239px; margin:10px 0;}

#quolomo-wrap li{
	width:139px; height:58px; float:left; display:inline; padding-left:5px;}
	
#quolomo-wrap h3#title01{
	width:930px; height:54px; text-indent:-9999px; margin-top:20px;
	background:url(http://www.famima.com/images/p/quolomo/title01.jpg) no-repeat;}
	
#quolomo-wrap h3#title02{
	width:930px; height:54px; text-indent:-9999px; margin-top:20px;
	background:url(http://www.famima.com/images/p/quolomo/title02.jpg) no-repeat;}
	
#quolomo-wrap h3#title03{
	width:930px; height:54px; text-indent:-9999px; margin-top:20px;
	background:url(http://www.famima.com/images/p/quolomo/title03.jpg) no-repeat;}
	
#quolomo-wrap h3#title04{
	width:930px; height:54px; text-indent:-9999px; margin-top:20px;
	background:url(http://www.famima.com/images/p/quolomo/title04.jpg) no-repeat;}
	
#quolomo-wrap h3#title05{
	width:930px; height:54px; text-indent:-9999px; margin-top:20px;
	background:url(http://www.famima.com/images/p/quolomo/title05.jpg) no-repeat;}
	

#quolomo-wrap .itemBG930_1{
	width:930px;
	background:url(http://www.famima.com/images/p/quolomo/info_bg1.gif) repeat-y;}
	
#quolomo-wrap .itemBG930_2{
	width:930px;
	background:url(http://www.famima.com/images/p/quolomo/info_bg2.gif) repeat-y;}

#quolomo-wrap .itemBase594{
	width:594px; float:left;}
	
#quolomo-wrap .infoBase336{
	width:336px; float:left;}

#quolomo-wrap .infoBase336 .info{
	text-align:center; padding:10px 0 20px 0;}
	
#quolomo-wrap .infoBase336 p{
	text-align:left; padding:10px 15px 15px 15px; color:#FFFFFF; line-height:140%;
	font-size:80%;}
	
#quolomo-wrap .infoBase336 .bt a{
	outline:0;}
	
#quolomo-wrap .itemBOX{
	width:220px; float:left; padding-left:50px; text-align:center; margin:10px 0;}
	
#quolomo-wrap .itemBOX h4.name{
	font-weight:normal; font-size:100%; line-height:120%; color:#333333;
	padding:5px 0; text-align:left; font-size:80%;}

#quolomo-wrap .itemBOX .price{
	color:#e90000; padding-bottom:5px; text-align:left; font-size:80%;}
	
#quolomo-wrap .itemBOX .bt{
	 text-align:left;}
	 
#quolomo-wrap #whatsQUOLOMO{
	width:930px; margin:60px 0 20px 0;
	background:url(http://www.famima.com/images/p/quolomo/whatsquolomo_bg.gif) repeat-y;}

#quolomo-wrap #whatsQUOLOMOttl{
	width:222px; float:left;}
	
#quolomo-wrap #whatsQUOLOMOtxtBase{
	width:708px; float:left;}

#quolomo-wrap #whatsQUOLOMOtxtBase p{
	padding:10px; font-size:80%; color:#333333; line-height:130%; text-align:left;}	

#quolomo-wrap #copyright{
	margin:20px 0; text-align:center;}


/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/
#quolomo-wrap-over{
	margin:0 auto;
	padding:0 auto;
	width:960px;}

#quolomo-wrap-over h1, #quolomo-wrap-over h2, #quolomo-wrap-over h3, #quolomo-wrap-over h4,
#quolomo-wrap-over img, #quolomo-wrap-over p, #quolomo-wrap-over div, #quolomo-wrap-over ul, #quolomo-wrap-over li{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}

#quolomo-wrap-over .clear{
	margin:0; padding:0; clear:both;}
	

/* clearfix */
#quolomo-wrap-over .clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;}

/* IE6 */
* html #quolomo-wrap-over { 
	height: 1%;}

/* --------------------------------------------------------------------*/

#quolomo-wrap-over .transparent {
	display:none;
	margin:0;
}

#quolomo-wrap-over h1#bland {
	float:left;
	vertical-align:top;
	width:319px; height:495px;
	background:url(http://www.famima.com/images/p/quolomo/title.png) no-repeat;
	margin:0;
	}
	
#quolomo-wrap-over h2#mainvisual {
	float:right;
	vertical-align:top;
	width:641px; height:495px;
	background:url(http://www.famima.com/images/p/quolomo/mainvisual.jpg) no-repeat;
	margin:0;
	}
	
#quolomo-wrap-over #newarrival {
	text-align:left;
	margin:32px 0 63px 0;
}

#quolomo-wrap-over #newarrival .na_title {
	margin:0 0 10px 16px;
}

#quolomo-wrap-over #newarrival #na_box {
	width:896px; /* 960px */
	border:1px solid #666;
	padding:18px 44px 19px 18px;
}

#quolomo-wrap-over #newarrival #na_box .left_modelcut {
	float:left;
	vertical-align:top;
}

#quolomo-wrap-over #newarrival #na_box .right_items {
	float:right;
	vertical-align:top;
	width:615px;
}

#quolomo-wrap-over #newarrival #na_box .right_items img.items_left {
	float:left;
}



















