@charset "Shift_JIS";

/* --------------------------------------------------------------------
	RED
--------------------------------------------------------------------- */

#red-wrap{
	margin:0; padding:0; width:700px; background-color:#000000;}
	
#red-wrap h1, #red-wrap h2, #red-wrap h3, #red-wrap h4, 
#red-wrap div, #red-wrap img, #red-wrap p{
	margin:0; padding:0; outline:0; border:0;}
	
#red-wrap .clear{
	margin:0; padding:0; clear:both;}

#red-wrap .copyright{
	padding:5px; font-size:11px; color:#999999; text-align:right;}
	
#red-wrap .date{
	margin:0; padding:0; background:url(http://www.famima.com/images/p/red/date.jpg) no-repeat;
	width:700px; height:48px;}
	
#red-wrap .infobg{
	background-color:#000000; background:url(http://www.famima.com/images/p/red/border_story.jpg) top no-repeat;
	width:700px; padding-top:10px; font-size:11px;}

#red-wrap .info_L{
	width:200px; float:left; padding-left:12px; color:#FFFFFF; line-height:100%; text-align:left;}
#red-wrap .info_R{
	width:460px; float:left; padding-left:15px; color:#FFFFFF; line-height:140%; text-align:left;}


#red-wrap .infobg dl,
#red-wrap .infobg dt,
#red-wrap .infobg dd {
	margin: 0; padding: 0;}

#red-wrap .infobg .info_L dl {
	border:none; width:200px;}

#red-wrap .infobg .info_L dt,
#red-wrap .infobg .info_L dd {
	padding:1px 3px;}
	
#red-wrap .infobg .info_L dt {
	clear:left; float:left; width:40px;}
	
#red-wrap .infobg a:link, 
#red-wrap .infobg a:visited{
	text-decoration:underline; color:#ff3300;}
#red-wrap .infobg a:hover,
#red-wrap .infobg a:active{
	text-decoration:none; color:#ff3300;}
	
#red-wrap .infobg_btm{
	padding-top:5px; clear:both;
	background:url(http://www.famima.com/images/p/red/border_story.jpg) center no-repeat;
	width:700px; height:20px;}
	
#red-wrap .ticketbt{
	padding:0 0 0 12px; float:left; width:264px;}
	
#red-wrap .ticketbt_txt{
	width:404px; height:20px; float:left;
	background:url(http://www.famima.com/images/p/red/bt_chui.jpg) no-repeat;
	text-indent:-9999px; margin-top:30px;}
	
#red-wrap .foodbase{
	width:700px; background:url(http://www.famima.com/images/p/red/food_base.jpg) repeat-y;}

#red-wrap .itemBase{
	width:212px; float:left; padding-left:14px;}
	
#red-wrap .itemBase .name{
	color:#000000; font-size:11px; padding-bottom:4px;}

#red-wrap .itemBase .price{
	color:#FF0000; font-size:11px; text-decoration:none;}

#red-wrap .itemBase a:link, 
#red-wrap .itemBase a:visited{
	text-decoration:none;}
#red-wrap .itemBase a:hover,
#red-wrap .itemBase a:active{
	text-decoration:none;}
	
#red-wrap .itemBase a:link .name, 
#red-wrap .itemBase a:visited .name{
	text-decoration:underline;}
#red-wrap .itemBase a:hover .name,
#red-wrap .itemBase a:active .name{
	text-decoration:underline; color:#0fad0c;}


#red-wrap #item01IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item01_img.jpg) no-repeat;}
	
#red-wrap #item02IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item02_img.jpg) no-repeat;}
	
#red-wrap #item03IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item03_img.jpg) no-repeat;}
	
#red-wrap #item04IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item04_img.jpg) no-repeat;}
	
#red-wrap #item05IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item05_img.jpg) no-repeat;}
	
#red-wrap #item06IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item06_img.jpg) no-repeat;}
	
#red-wrap #item07IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item07_img.jpg) no-repeat;}
		
#red-wrap #item08IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item08_img.jpg) no-repeat;}
	
#red-wrap #item09IMG{
	width:212px; height:211px;
	background:url(http://www.famima.com/images/p/red/item09_img.jpg) no-repeat;}

#red-wrap #item01IMG .txtbase{
	padding:125px 0 0 88px;}
	
#red-wrap #item02IMG .txtbase, 
#red-wrap #item03IMG .txtbase, 
#red-wrap #item04IMG .txtbase, 
#red-wrap #item05IMG .txtbase, 
#red-wrap #item06IMG .txtbase, 
#red-wrap #item07IMG .txtbase, 
#red-wrap #item08IMG .txtbase, 
#red-wrap #item09IMG .txtbase{
	padding:165px 0 0 16px;}

#red-wrap .itemBaseBTM{
	width:700px; height:80px; background:url(http://www.famima.com/images/p/red/bg_btm.jpg) no-repeat;
	clear:both; margin:0; padding:0;}















