@charset "Shift_JIS";

/* --------------------------------------------------------------------
	RodeoCrowns×ONE PIECE
--------------------------------------------------------------------- */

#rodeo_op{
	margin:0; padding:0; width:700px;
	background:url(http://www.famima.com/images/p/rodeo_op/bg.jpg) repeat-y;}
	
#rodeo_op h1, #rodeo_op h2, #rodeo_op h3, #rodeo_op h4, 
#rodeo_op div, #rodeo_op img, #rodeo_op p{
	margin:0; padding:0; outline:0; border:0;}
	
#rodeo_op .clear{
	margin:0; padding:0; clear:both;}

#rodeo_op #header{
	background:url(http://www.famima.com/images/p/rodeo_op/header.jpg) no-repeat;
	width:700px; height:144px; text-indent:-9999px;}
	
#rodeo_op .base306{
	width:306px; float:left;}
	
#rodeo_op .base394{
	width:394px; float:left;}

#rodeo_op .base306 #img1{
	width:306px; height:261px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/rodeo_op/item_img1.jpg) no-repeat;}
	
#rodeo_op .base306 #img2{
	width:306px; height:140px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/rodeo_op/item_img2.jpg) no-repeat;}
	
#rodeo_op .base394 #copy{
	width:394px; height:82px; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/rodeo_op/item_copy.jpg) no-repeat;}

#rodeo_op .base394 p.cmnt{
	width:360px; color:#333333;
	line-height:140%; padding-bottom:15px;}

#rodeo_op .copyright{
	width:700px; height:69px; clear:both; text-indent:-9999px; 
	background:url(http://www.famima.com/images/p/rodeo_op/copyright.jpg) no-repeat;}
	
#rodeo_op #collaboteeIMG{
	width:700px; height:176px;
	background:url(http://www.famima.com/images/p/rodeo_op/collabotee_img.jpg) no-repeat;
	text-indent:-9999px;}
	
#rodeo_op #collabotee_btm{
	width:700px; height:110px;
	background:url(http://www.famima.com/images/p/rodeo_op/collabotee_btm.jpg) no-repeat;}
	
/*BT*/
#rodeo_op .btBUYbase{
	padding:10px 0 10px 14px; width:344px;}

#rodeo_op .btBUYbase .btBUY a{
	width:344px; height:42px; overflow:hidden; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/rodeo_op/buy_bt.jpg) no-repeat;
	display:block;
	outline:0;}
	
#rodeo_op .btBUYbase .btBUY a:hover{
	background-position:0 -42px;
	outline:0;}
	

/*BT*/
#rodeo_op .btCHECKbase{
	padding:7px 0 10px 42px; width:179px;}

#rodeo_op .btCHECKbase .btCHECK a{
	width:179px; height:38px; overflow:hidden; text-indent:-9999px;
	background:url(http://www.famima.com/images/p/rodeo_op/check_bt.jpg) no-repeat;
	display:block;
	outline:0;}
	
#rodeo_op .btCHECKbase .btCHECK a:hover{
	background-position:0 -38px;
	outline:0;}











