@charset "Shift_JIS";

/*------------------------------------
	taiyo-no-tomato-men
	http://www.famima.com/e/et-tomato/
------------------------------------*/

#t-tomato {
	width:700px;
	margin:0 auto;
}

#t-tomato .hid {
	display:none;
	margin:0;
}

#t-tomato h1 {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_title.png);
	width:700px;
	height:126px;
	margin:0;
}

#t-tomato h2.date {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_date.png);
	width:700px;
	height:31px;
	margin:0;
}

#t-tomato h2.catch {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_catch.jpg);
	width:700px;
	height:94px;
	margin:0;
}

#t-tomato h3.detail {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_detail.jpg);
	width:700px;
	height:128px;
	margin:0;
}

#t-tomato .tokuten_detail {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_detail.jpg);
	width:700px;
	height:128px;
	margin:0;
}



#t-tomato .btn_shop {
	margin:101px 0 0 42px;
}

#t-tomato .caution {
	background:url(http://www.famima.com/images/p/t-tomato/taitoma_cp_footer.png);
	width:660px;
	min-height:50px;
	padding:20px;
	margin:0;
}