@charset "shift_jis";

/*
Title: twitter
http://www.famima.com/shop/pages/twitter.aspx
*/

/* links */	
	
#twitter-wrap a:hover  img, #twitter-wrap a:focus img {
	opacity: .5;
	}

#twitter-wrap p {
	margin:0;
	padding:0;
	line-height:0;

	}
	
/* module
--------------------------------------------- */
#twitter-wrap .twitter-mod {
	margin: 20px;
	margin-left: 95px;
	}
#twitter-wrap .twitter-mod2 {
	width: 780px;
	background: #fff;
	padding-bottom: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	}
#twitter-wrap .twitter-mod3 {
	width: 780px;
	}
#twitter-wrap .twitter-gutter {
	margin: 15px;
	}
#twitter-wrap .twitter-gutter2 {
	margin: 10px 0;
	}
/* content
--------------------------------------------- */
#twitter-wrap {
	text-align: left;
	margin: 0 auto;
	width: 960px;
	background: url(http://www.famima.com/images/p/twitter/bg-inner1.png) left center repeat-y;
	}
#twitter-wrap2 {
	text-align: left;
	margin: 0 auto;
	width: 960px;
	background: url(http://www.famima.com/images/p/twitter/bg-inner2.png) left center repeat-y;
	}

#twitter-wrap #twitter-extra-inner3 {
	text-align: left;
	margin: 0 auto;
	width: 960px;
	background: url(http://www.famima.com/images/p/twitter/bg-inner2.png) left center repeat-y;
	}

#twitter-wrap h2#twitter-branding {
	width: 960px;
	height: 400px;
	text-indent: -9999px;
	background: url(http://www.famima.com/images/p/twitter/branding.png) top left no-repeat;
	margin-bottom: 10px;
	}

#twitter-wrap #twitter-h3-01 {
	width: 780px;
	height: 50px;
	text-indent: -9999px;
	background: url(http://www.famima.com/images/p/twitter/h3-01.png) top left no-repeat;
	}

#twitter-wrap #twitter-h3-02 {
	width: 780px;
	height: 50px;
	text-indent: -9999px;
	background: url(http://www.famima.com/images/p/twitter/h3-02.png) top left no-repeat;
	}
#twitter-wrap #twitter-h3-03 {
	width: 780px;
	height: 50px;
	text-indent: -9999px;
	background: url(http://www.famima.com/images/p/twitter/h3-03.png) top left no-repeat;
	}

#twitter-wrap .twitter-cat-list {
	float: left;
	}

#twitter-wrap .twitter-cat-list li {
	float: left;
	margin: 0 3px 10px 0;
	height: 90px;
	}

#twitter-wrap .twitter-cat-thumb {

	}

#twitter-wrap .twitter-bot {
	width:780px;
	height: 10px;
	background: url(http://www.famima.com/images/p/twitter/bot.png) top left no-repeat;
	}

#twitter-wrap .twitter-fleft {
	width: 200px;
	float: left;
	}
#twitter-wrap .twitter-fright {
	margin-left: 265px;
	}	

#twitter-wrap .twitter-hr {
	width:960px;
	height: 30px;
	background: url(http://www.famima.com/images/p/twitter/bird.png) top left no-repeat;
	}	
#twitter-wrap .twitter-zig {
	width:960px;
	height: 15px;
	background: url(http://www.famima.com/images/p/twitter/zig.png) top left no-repeat;
	}	

#twitter-wrap .twitter-mod-extra {
	width: 960px;
	background: url(http://www.famima.com/images/p/twitter/bg-inner2.png) left center repeat-y;
	}		
	
#twitter-wrap #camp {
	width: 780px;
	height: 250px;
	text-indent:-9999px;
	background: url(http://www.famima.com/images/p/twitter/t-camp.png) left center no-repeat;
	position:relative;
	}		
	
#kinme a {
position: absolute;
top:223px;
left:538px;
width:100px;
height:20px;
}
#gopan a {
position: absolute;
top:223px;
left:657px;
width:100px;
height:20px;
}





#twitter-wrap .rank {
	margin:0 0 0 10px;
	width:780px;

	}
#twitter-wrap .rank table{
	margin-bottom:20px;
	color :#000;
	width:780px;	
	border-bottom:1px solid #fff;
	background:#fff;
	}
#twitter-wrap .rank table td{
	padding:7px;
	}
#twitter-wrap .rank table td.l{
	text-align:center;
	color:#bc0309;
	font-weight:bold;
	width:80px;
	border-right:1px solid #999;
	}
#twitter-wrap .rank table td.m{
	border-right:1px solid #999;
	}
#twitter-wrap .rank table td.r{
	text-align:center;
	}
#twitter-wrap .rank tr{
	border-bottom: 1px dotted #b2b2b2;
	}
*html #twitter-wrap .rank td {	
	border-bottom: 1px dotted #b2b2b2;
	}	










/* self-clear floats */

.twitter-group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}/* IE6 */* html .twitter-group { 	height: 1%;	}/* IE7 */*:first-child+html .twitter-group { 	min-height: 1px;	}