/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
    width: 100%;
    background: #fff;
}

.contain-to-grid .top-bar {
    margin-bottom: 0;
}

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}

.fixed.expanded:not(.top-bar) {
    overflow-y: auto;
    height: auto;
    width: 100%;
    max-height: 100%;
}

.fixed.expanded:not(.top-bar) .title-area {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.fixed.expanded:not(.top-bar) .top-bar-section {
    z-index: 98;
    margin-top: 45px;
}

.top-bar {
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #093e5e;
    margin-bottom: 0;
}

.top-bar ul {
    margin-bottom: 0;
    list-style: none;
}

.top-bar .row {
    max-width: none;
}

.top-bar form, .top-bar input {
    margin-bottom: 0;
}

.top-bar input {
    height: auto;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-size: 0.75rem;
}

.top-bar .button {
    padding-top: 0.45rem;
    padding-bottom: 0.35rem;
    margin-bottom: 0;
    font-size: 0.75rem;
}

.top-bar .title-area {
    position: relative;
    margin: 0;
}

.top-bar .name {
    height: 45px;
    margin: 0 0 0 10px;
    font-size: 16px;
}

.top-bar .name h1 {
    line-height: 45px;
    font-size: 1.0625rem;
    margin: 0;
}

.top-bar .name h1 a {
    font-weight: normal;
    width: 50%;
    display: block;
}

.top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0;
}

.top-bar .toggle-topbar a {
    font-size: 0.8125rem;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
}

.top-bar .toggle-topbar.menu-icon {
    right: 15px;
    top: 50%;
    margin-top: -16px;
    padding-left: 40px;
}

.top-bar .toggle-topbar.menu-icon a {
    text-indent: -48px;
    width: 34px;
    height: 34px;
    line-height: 33px;
    padding: 0;
}

.top-bar .toggle-topbar.menu-icon a span {
    position: absolute;
    right: 0;
    display: block;
    width: 16px;
    height: 0;
    -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

.top-bar.expanded {
    height: auto;
    background: transparent;
}

.top-bar.expanded .title-area {
    background: #115f85;
}

.top-bar.expanded .toggle-topbar a {
}

.top-bar.expanded .toggle-topbar a span {
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}

.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
    -webkit-transition: left 300ms ease-out;
    -moz-transition: left 300ms ease-out;
    transition: left 300ms ease-out;
}

.top-bar-section ul {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    font-size: 16px;
    margin: 0;
}

.top-bar-section .divider, .top-bar-section [role="separator"] {
    border-top: solid 1px #1a1a1a;
    clear: both;
    height: 1px;
    width: 100%;
}

.top-bar-section ul li > a {
    display: block;
    width: 100%;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    background: #fff;
}

.top-bar-section ul li > a.button {
    background: #008cba;
    font-size: 0.8125rem;
    padding-right: 15px;
    padding-left: 15px;
}

.top-bar-section ul li > a.button:hover {
    background: #006887;
}

.top-bar-section ul li > a.button.secondary {
    background: #e7e7e7;
}

.top-bar-section ul li > a.button.secondary:hover {
    background: #cecece;
}

.top-bar-section ul li > a.button.success {
    background: #43ac6a;
}

.top-bar-section ul li > a.button.success:hover {
    background: #358753;
}

.top-bar-section ul li > a.button.alert {
    background: #f04124;
}

.top-bar-section ul li > a.button.alert:hover {
    background: #d3290e;
}

.top-bar-section ul li:hover > a {
    background: #fff;
    color: #333;
    text-decoration: underline;
}

.top-bar-section ul li.active > a {
    background: #008cba;
    color: white;
}

.top-bar-section ul li.active > a:hover {
    background: #007ba1;
}

.top-bar-section .has-form {
    padding: 15px;
}

.top-bar-section .has-dropdown {
    position: relative;
}

.top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
    border-left-style: solid;
    margin-right: 15px;
    margin-top: -4.5px;
    position: absolute;
    top: 50%;
    right: 0;
}

.top-bar-section .has-dropdown.moved {
    position: static;
}

.top-bar-section .has-dropdown.moved > .dropdown {
    display: block;
}

.top-bar-section .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    z-index: 99;
}

.top-bar-section .dropdown li {
    width: 100%;
    height: auto;
}

.top-bar-section .dropdown li a {
    font-weight: normal;
    padding: 8px 15px;
}

.top-bar-section .dropdown li a.parent-link {
    font-weight: normal;
}

.top-bar-section .dropdown li.title h5 {
    margin-bottom: 0;
}

.top-bar-section .dropdown li.title h5 a {
    color: white;
    line-height: 22.5px;
    display: block;
}

.top-bar-section .dropdown label {
    padding: 8px 15px 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    font-size: 0.625rem;
}

.js-generated {
    display: block;
}

@media only screen and (min-width: 940px) {
    .top-bar {
        background: #fff;
        *zoom: 1;
        overflow: visible;
        height:auto;
    }

    .top-bar:before, .top-bar:after {
        content: " ";
        display: table;
    }

    .top-bar:after {
        clear: both;
    }

    .top-bar .toggle-topbar {
        display: none;
    }

    .top-bar .title-area {
        float: left;
    }

    .top-bar .name h1 a {
        width: auto;
    }

    .top-bar input, .top-bar .button {
        font-size: 0.875rem;
        position: relative;
        top: 7px;
    }

    .top-bar.expanded {
        background: #fff;
    }

 .component-globalutilitynav .topbar, .component-globalutilitynav .topbar.expanded {
overflow: hidden;
height: 25px;
line-height: 25px;
position: relative;
background: #333 !important;	
}

   .contain-to-grid .top-bar {
        max-width: 62.5rem;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .top-bar-section {
        -webkit-transition: none 0 0;
        -moz-transition: none 0 0;
        transition: none 0 0;
        left: 0 !important;
        margin-bottom: 1em;
        background: #093e5e;
    }

    .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline-block;
    }

    .top-bar-section ul li {
        float: left;
    }

    .top-bar-section ul li .js-generated {
        display: none;
    }

    .top-bar-section li.hover > a:not(.button) {
        background: #e7eff3;
        color: #666;
    }

    .top-bar-section li a:not(.button) {
        padding: 0;
        background: #fff;
    }

    .top-bar-section li a:not(.button):hover {
        /*background: #e7eff3;*/
        color:#fff;
    }

    .top-bar-section .has-dropdown > a {
        padding-right: 35px !important;
    }

    .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px;
    }

    .top-bar-section .has-dropdown.moved {
        position: relative;
    }

    .top-bar-section .has-dropdown.moved > .dropdown {
        display: none;
    }

    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        display: block;
    }

    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
        border: none;
        content: "\00bb";
        top: 1rem;
        margin-top: -2px;
        right: 5px;
    }

    .top-bar-section .dropdown {
        left: 0;
        top: auto;
        background: transparent;
        min-width: 100%;
    }

    .top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 12px 15px;
        background: #aaa;
    }

    .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #aaa;
    }

    .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0;
    }

    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #4d4d4d;
        clear: none;
        height: 45px;
        width: 0;
    }

    .top-bar-section .has-form {
        background: #aaa;
        padding: 0 15px;
        height: 45px;
    }

    .top-bar-section ul.right li .dropdown {
        left: auto;
        right: 0;
    }

    .top-bar-section ul.right li .dropdown li .dropdown {
        right: 100%;
    }

    .title-area {
    	display:none;
    }
    
    .no-js .top-bar-section ul li:hover > a {
        background: #e7eff3;
        color: #666;
    }

    .no-js .top-bar-section ul li:active > a {
        background: #e7eff3;
        color: #666;
    }

    .no-js .top-bar-section .has-dropdown:hover > .dropdown {
        display: block;
    }
}

.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu,
.left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas,
.move-left a.exit-off-canvas {
    -webkit-backface-visibility: hidden;
}

.off-canvas-wrap, .inner-wrap {
    position: relative;
    width: 100%;
}

.left-off-canvas-menu, .right-off-canvas-menu {
    width: 250px;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    background: #fff;
    z-index: 1001;
    box-sizing: content-box;
}

section.left-small, section.right-small {
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0;
}

.off-canvas-wrap {
    overflow: hidden;
}

.inner-wrap {
    *zoom: 1;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}

.inner-wrap:before, .inner-wrap:after {
    content: " ";
    display: table;
}

.inner-wrap:after {
    clear: both;
}

nav.tab-bar {
    background: #fff;
    color: #333;
    height: 5.625rem;
    line-height: 2.8125rem;
    position: relative;
}

nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5,
nav.tab-bar h6 {
    color: #666;
    font-weight: bold;
    line-height: 2.8125rem;
    margin: 0;
}

nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
    font-size: 1.125rem;
}

section.left-small {
    border-right: solid 1px #1a1a1a;
    box-shadow: 1px 0 0 #4d4d4d;
    left: 0;
}

section.right-small {
    border-left: solid 1px #4d4d4d;
    box-shadow: -1px 0 0 #1a1a1a;
    right: 0;
}

section.tab-bar-section {
    padding: 0 0.625rem;
    position: absolute;
    text-align: center;
    height: 2.8125rem;
    top: 0;
}

@media only screen and (max-width:939px) {
    section.tab-bar-section {
        text-align: left;
    }
}

section.tab-bar-section.left {
    left: 0;
    right: 2.8125rem;
}

section.tab-bar-section.right {
    left: 2.8125rem;
    right: 0;
}

section.tab-bar-section.middle {
    left: 2.8125rem;
    right: 2.8125rem;
}

a.menu-icon {
    text-indent: 2.1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    line-height: 2.0625rem;
    padding: 0;
    color: white;
    position: relative;
}

a.menu-icon span {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    left: 0.8125rem;
    top: 0.3125rem;
    -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

a.menu-icon:hover span {
    -webkit-box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
    box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

.left-off-canvas-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.right-off-canvas-menu {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0;
}

ul.off-canvas-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.off-canvas-list li label {
    padding: 0.3rem 0.9375rem;
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    background: #404040;
    border-top: 1px solid #5e5e5e;
    border-bottom: none;
    margin: 0;
}

ul.off-canvas-list li a {
    display: block;
    padding: 0.66667rem;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #262626;
}

.move-right > .inner-wrap {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.move-right a.exit-off-canvas {
    transition: background 300ms ease;
    cursor: pointer;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
}

@media only screen and (min-width: 940px) {
    .move-right a.exit-off-canvas:hover {
        background: rgba(255, 255, 255, 0.05);
    }
}

.move-left > .inner-wrap {
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

.move-left a.exit-off-canvas {
    transition: background 300ms ease;
    cursor: pointer;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
}

@media only screen and (min-width: 940px) {
    .move-left a.exit-off-canvas:hover {
        background: rgba(255, 255, 255, 0.05);
    }
    /*.has-sub-nav {margin-bottom:45px;}*/
}

.lt-ie10 .left-off-canvas-menu {
    left: -250px;
}

.lt-ie10 .right-off-canvas-menu {
    right: -250px;
}

.lt-ie10 .move-left > .inner-wrap {
    right: 250px;
}

.lt-ie10 .move-right > .inner-wrap {
    left: 250px;
}

