@charset "utf-8";
/* CSS Document */

body {background:none; margin:0; padding:0; width:100%; color:#333; font-family:arial, Helvetica, sans-serif; font-size:1.1em;}

.bodyLeft {width:980px; margin:auto}

p {padding-bottom:10px; color:#333; font-family:arial, Helvetica, sans-serif; font-size:1.1em;}


.box3, .button1, .box5 ,.webPath, .gradientGray, .mainHeader, .searchInput {display:none;}

.imageLrg
#bodyLeftWide .bodyNews h1 { font-size:36px; color:#373737; padding-bottom:20px; }