body {font-family:Tahoma; color: #000;}

h1, h2, h3, h4, h5 {line-height:1.2em; text-align:center; font-weight:normal; position:relative; zoom:1;}
h1 {font-size:2.7em; line-height:1.25em; margin:0; font-weight:bold; color:#fff;}
h2 {font-size:2.7em; line-height:1.25em; margin:0; font-weight:bold; color:#fff; background:#000; width:898px; margin:5px auto 10px -7px; padding:0 0 2px 0;}
h3 {font-size:2em; line-height:1.8em; margin:0; font-weight:bold; color:#000;}


p, pre, li {text-align:left; font-size:1.6em; line-height:1.5em; color:#000; clear:both;}

p {margin:0; padding:5px 10px}


p a:hover img {border: 1px solid #00abff;}
.form p{text-align:center}


a {color:#00abff;}

a:hover {color: #57c7ff;}

#container a{color:#000; font-size:inherit;}
#container a:hover{color:#ccc; font-size:inherit}


strong {font-weight: bold;}
pre {font-family:Courier;}

ul {list-style-position: outside; list-style-type: none;}
li {margin-bottom:0; clear:none;text-align:center;}

dl {margin-bottom: 2.1em; padding: 0 0 0 20px;}
dt, dd {display:block; text-align: left;}
dt {font-size:1.4em; line-height:1.5em; font-weight: bold; color:#DA5802; clear:both;}
dd {margin-left: 40px; }
.left{text-align:left;}
.wpmem_msg p{
	text-transform:uppercase;
	color:#F00 !important;
	margin:0; padding:0;
	text-align:center;
}
.quick-chat-container{width:80%; background:#fff; padding:10px!important; margin:0 auto!important;}
.quick-chat-alias{width:200px!important; float:left}
.quick-chat-history-message-alias-container{ text-align:left!important}
.quick-chat-users-container{width:200px!important; background:#eaeaea!important; padding-top:10px!important; max-width:none!important}
