
	
	#list {
		padding:0;
		overflow:hidden;
		margin:0;
		width:800px;
		float:right;
		}
		
		
		#list div {
			padding:10px;
			background-color:#151515 !important;
			color:#fff;
			margin:0 0 10px;
			}
	
		
		#list div .title {

			padding:1px 5px;
			margin:0 0 10px 5px;
			display:inline;
			position:relative;
			font-weight:bold;
			color:#fff;
			font-size:16px;
			background-color:#fc0;
			color:#000;
			line-height:1.4em;
			}
			
			
			
			#list div dd.sel {
				margin:5px 0 0 0;
				}
			
			
			
			#list div .title img {
				vertical-align:bottom;

				margin:0 10px 0 0;
				}

			
				
				#list div dl dt {
					display:block;
					float:right;
					margin:0 0 0 10px;
					}
				
				
				
				
				#list div dl dd.comment, #list div dl dd.review {
					position:relative;
					width:330px;
					height:236px;
					}
					

				
	
					#list div dl dd.comment {
						font-size:14px;
						line-height:1.7em;
						}				
			
			
				#list div dl dd.review {
					display:none;
					}
			
					
					

				#list div dl dd span a.com {
					border:1px solid #ff0;
					color:#ff0;
					}
					
						
					
					
					#list div dl dd ul {
						margin:0 0 10px;
						}
						
						
						#list div dl dd ul em {
							font-style:normal;
							color:#ff0;
							}
						
						
						
						#list div dl dd ul li span {
							margin:0 10px;
							display:inline;
							}
				
				
			/*	change view between comment and review */	
				
				#list div dl dd span {
					display:block;
					margin:0 0 10px;
					}
					
						
					#list div dl dd span a {
						border:1px solid #7d8000;
						padding:2px 5px;
						font-size:10px;
						margin:0 10px 0 0;
						color:#7d8000;
						text-decoration:none;
						}
							

					
					#list div dl dd span em {
						font-style:normal;
						color:#fc0;
						}
							
								
					#list div dl.comment a.go4 {
						position:absolute;
						left:0;
						bottom:0;
						background-color:#fc0;
						color:#000;
						font-weight:bold;
						}	
					
				

			/*	text link to detail  */
					
					#list div dl dd a.go {
						position:absolute;
						bottom:0;
						right:0;
						color:#fff;
						}
						
					#list div dl dd a.go2 {
						position: absolute;
                        bottom:0;
                   	    right:130px;
                        color:#c30000;
	                    }	
					
					
					.go3, .go4 {
						position:absolute;
						left:0;
						bottom:0;
				q		background-color:#fc0;
						color:#fc0 !important;
						display:block;
						font-weight:bold;
						font-style:normal;
						color:#000;
						}
					

.pagenate {
	padding:5px 10px;
	text-align:center;
	background-color:#333;
	color:#fff;
	margin:0 0 10px;
	}
	
.pagenate a {
	color:#fff;
	margin:0 0 0 10px;
}

.pagenate a.current {
	color: #000 !important;
	border:1px solid #fff;
        background-color:#a8ff00;
        padding:1px 5px;
        text-decoration:none;
        height:14px;
}


#list div.series {
	padding:0px !important;	
}