@charset "Shift_JIS";

/* 全体構造
---------------------------------------------------- */
body {
	color: #000000;
	background: #fff6dc;
}

#wrapper {
	background: #ffffff;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	width: 800px;
}


/* 01_HeaderTitle
-----------------------------------------------------*/
#wrapper #HeaderTitle {
	display: none;
}


/* 02_Uretemasu
-----------------------------------------------------*/
#wrapper #Uretemasu {
	display: none;
}


/* 08_BabyVersion
-----------------------------------------------------*/
#wrapper #BabyVersion {
	display: none;
}


/* 03_Taisetsunakoto
-----------------------------------------------------*/
#wrapper #Taisetsu00 {
	display: none;
}
#wrapper #Taisetsu01 {
	display: none;
}
#wrapper #Taisetsu02 {
	display: none;
}
#wrapper #Taisetsu03 {
	display: none;
}
#wrapper #Taisetsu04 {
	display: none;
}
#wrapper #Taisetsu05 {
	display: none;
}


/* 04_Ureshii
-----------------------------------------------------*/
#wrapper #Ureshii {
	display: none;
}


/* 05_Seibunnoohanashi
-----------------------------------------------------*/
#wrapper #Seibunno01 {
	display: none;
}

#wrapper #Seibunno02 {
	display: none;
}

#wrapper #Seibunno03 {
	display: none;
}

#wrapper #Seibunno04 {
	display: none;
}


/* 06_Bihadanotukurikata
-----------------------------------------------------*/
#wrapper #Bihadano01 {
	display: none;
}

#wrapper #Bihadano02 {
	display: none;
}


/* 07_Mizunoirodori
-----------------------------------------------------*/
#wrapper #Irodori01 {
	display: none;
}

#wrapper #Irodori02 {
	display: none;
}

#wrapper #Irodori03 {
	display: none;
}


/* 08_FooterArea
-----------------------------------------------------*/
#wrapper #FooterArea {
	display: none;
}


/* 09_PrintArea
-----------------------------------------------------*/
#wrapper #PrintArea {
	width: 800px;
}










