@charset "Shift_JIS";

/* 全体構造
---------------------------------------------------- */
body {
	color: #000000;
	background: #fff6dc;
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", "メイリオ", Meiryo, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0px;
}

a.typeA {color:#0000ff;}
a.typeB {color:#189db0;}

.text14 {font-size:14px; line-height:1.5; letter-spacing:0px;}
.text13 {font-size:13px; line-height:1.5; letter-spacing:1px;}
.text12 {font-size:12px; line-height:1.7; letter-spacing:1px;}
.text12b {font-size:12px; line-height:1.5; letter-spacing:1px;}
.text11 {font-size:11px; line-height:1.5; letter-spacing:0px;}

.BottomSpace {padding:0px 0px 0px 0px;}
.img_line {vertical-align:middle;}

#wrapper {
	background: #ffffff;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	width: 850px;
}


/* 01_HeaderTitle
-----------------------------------------------------*/
#wrapper #HeaderTitle {
	width: 845px;
	height: 1042px;
	position: relative;
}
#HeaderTitle #HeaderTtl_Img01 {position:absolute; left:25px; top:0px;}
#HeaderTitle #HeaderTtl_Img02 {position:absolute; left:371px; top:163px;}
#HeaderTitle #HeaderTtl_Img03 {position:absolute; left:299px; top:19px;}
#HeaderTitle #HeaderTtl_Img04 {position:absolute; left:378px; top:71px;}
#HeaderTitle #HeaderTtl_Img05 {position:absolute; left:517px; top:163px;}
#HeaderTitle #HeaderTtl_Img06 {position:absolute; left:316px; top:174px;}
#HeaderTitle #HeaderTtl_Img07 {position:absolute; left:439px; top:252px;}
#HeaderTitle #HeaderTtl_Img19 {position:absolute; left:693px; top:316px;}
#HeaderTitle #HeaderTtl_Img08 {position:absolute; left:266px; top:283px;}
#HeaderTitle #HeaderTtl_Img09 {position:absolute; left:40px; top:511px;}
#HeaderTitle #HeaderTtl_Img10 {position:absolute; left:181px; top:429px;}
#HeaderTitle #HeaderTtl_Img11 {position:absolute; left:326px; top:344px;}
#HeaderTitle #HeaderTtl_Img12 {position:absolute; left:507px; top:447px;}
#HeaderTitle #HeaderTtl_Img13 {position:absolute; left:389px; top:533px;}

#HeaderTitle #IrodoriTi {position:absolute; left:0px; top:561px;
	width: 825px;
	height: 131px;
	position: relative;
	background: url(http://www.saiseisha.co.jp/purupuru/img_cream/07_irodori07a.gif) no-repeat left top;
}
#IrodoriTi #ShopBagArea01 {position:absolute; left:25px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}
#IrodoriTi #ShopBagArea02 {position:absolute; left:295px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}
#IrodoriTi #ShopBagArea03 {position:absolute; left:565px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}

img.BaseLine {vertical-align: text-bottom;}

#HeaderTitle #HeaderTtl_Img14 {position:absolute; left:49px; top:724px;}
#HeaderTitle #HeaderTtl_Img15 {position:absolute; left:341px; top:701px;}
#HeaderTitle #HeaderTtl_Img16 {position:absolute; left:282px; top:765px;}
#HeaderTitle #HeaderTtl_Img17 {position:absolute; left:245px; top:917px;}
#HeaderTitle #HeaderTtl_Txt01 {position:absolute; left:402px; top:919px; width:423px; height:29;}
#HeaderTitle #HeaderTtl_Img18 {position:absolute; left:25px; top:961px;}


/* 02_Uretemasu
-----------------------------------------------------*/
#wrapper #Uretemasu {
	width: 800px;
	height: 214px;
	margin: 0px auto;
	position: relative;
}
#Uretemasu #Uretemasu_Img01 {position:absolute; left:4px; top:12px;}
#Uretemasu #Uretemasu_Img02 {position:absolute; left:266px; top:12px;}
#Uretemasu #Uretemasu_Img03 {position:absolute; left:539px; top:12px;}
#Uretemasu #Uretemasu_Txt01 {position:absolute; left:2px; top:98px; width:796px; height:50; text-align: center;}
#Uretemasu #Uretemasu_Txt02 {position:absolute; left:2px; top:156px; width:796px; height:50; text-align: center;}


/* 08_BabyVersion
-----------------------------------------------------*/
#wrapper #BabyVersion {
	width: 845px;
	height: 404px;
	position: relative;
}
#BabyVersion #BabyTtl_Img01 {position:absolute; left:61px; top:130px;}
#BabyVersion #BabyTtl_Img02 {position:absolute; left:485px; top:5px;}
#BabyVersion #BabyTtl_Img03 {position:absolute; left:432px; top:320px;}
#BabyVersion #BabyTtl_Img04 {position:absolute; left:28px; top:21px;}
#BabyVersion #BabyTtl_Img05 {position:absolute; left:25px; top:75px;}
#BabyVersion #BabyTtl_Img06 {position:absolute; left:346px; top:170px;}
#BabyVersion #BabyTtl_Img07 {position:absolute; left:407px; top:225px;}
#BabyVersion #BabyTtl_Img09 {position:absolute; left:423px; top:351px;}
#BabyVersion #BabyTtl_Img10 {position:absolute; left:316px; top:322px;}
#BabyVersion #BabyTtl_Img08 {position:absolute; left:36px; top:361px;}


/* 03_Taisetsunakoto
-----------------------------------------------------*/
#wrapper #Taisetsu00 {
	width: 825px;
	height: 141px;
	position: relative;
}
#Taisetsu00 #Taisetsu00_Img01 {position:absolute; left:25px; top:0px;}

#wrapper #Taisetsu01 {
	width: 825px;
	height: 305px;
	position: relative;
}
#Taisetsu01 #Taisetsu01_Img01 {position:absolute; left:25px; top:0px;}
#Taisetsu01 #Taisetsu01_Img02 {position:absolute; left:622px; top:35px;}
#Taisetsu01 #Taisetsu01_Img03 {position:absolute; left:469px; top:57px;}
#Taisetsu01 #Taisetsu01_Img04 {position:absolute; left:607px; top:117px;}
#Taisetsu01 #Taisetsu01_Img05 {position:absolute; left:362px; top:180px;}

#wrapper #Taisetsu02 {
	width: 825px;
	height: 306px;
	position: relative;
}
#Taisetsu02 #Taisetsu02_Img01 {position:absolute; left:25px; top:0px;}
#Taisetsu02 #Taisetsu02_Txt01 {position:absolute; left:66px; top:107px; width:276px; height:134;}
#Taisetsu02 #Taisetsu02_Txt02 {position:absolute; left:73px; top:242px; width:250px; height:33;}
#Taisetsu02 #Taisetsu02_Txt03 {position:absolute; left:347px; top:0px; width:220px; height:134;}
#Taisetsu02 #Taisetsu02_Txt04 {position:absolute; left:392px; top:134px; width:176px; height:33;}
#Taisetsu02 #Taisetsu02_Txt05 {position:absolute; left:572px; top:168px; width:275px; height:114;}
#Taisetsu02 #Taisetsu02_Txt06 {position:absolute; left:646px; top:288px; width:180px; height:20;}

#wrapper #Taisetsu03 {
	width: 825px;
	height: 401px;
	position: relative;
}
#Taisetsu03 #Taisetsu03_Img01 {position:absolute; left:25px; top:0px;}
#Taisetsu03 #Taisetsu03_Img02 {position:absolute; left:57px; top:0px;}
#Taisetsu03 #Taisetsu03_Img03 {position:absolute; left:58px; top:95px;}
#Taisetsu03 #Taisetsu03_Img04 {position:absolute; left:58px; top:277px;}
#Taisetsu03 #Taisetsu03_Txt01 {position:absolute; left:592px; top:156px; width:250px; height:121;}
#Taisetsu03 #Taisetsu03_Txt02 {position:absolute; left:603px; top:275px; width:240px; height:33;}

#wrapper #Taisetsu04 {
	width: 825px;
	height: 256px;
	position: relative;
}
#Taisetsu04 #Taisetsu04_Img01 {position:absolute; left:25px; top:0px;}
#Taisetsu04 #Taisetsu04_Txt01 {position:absolute; left:73px; top:1px; width:365px; height:125;}
#Taisetsu04 #Taisetsu04_Txt02 {position:absolute; left:184px; top:132px; width:220px; height:33;}
#Taisetsu04 #Taisetsu04_Txt03 {position:absolute; left:493px; top:2px; width:320px; height:118;}
#Taisetsu04 #Taisetsu04_Txt04 {position:absolute; left:606px; top:121px; width:210px; height:33;}
#Taisetsu04 #Taisetsu04_Img02 {position:absolute; left:157px; top:197px;}
#Taisetsu04 #Taisetsu04_Img03 {position:absolute; left:25px; top:248px;}


/* 04_Ureshii
-----------------------------------------------------*/
#wrapper #Ureshii {
	width: 800px;
	height: 154px;
	position: relative;
}
#Ureshii #Ureshii_Img01 {position:absolute; left:664px; top:7px;}
#Ureshii #Ureshii_Img02 {position:absolute; left:30px; top:18px;}
#Ureshii #Ureshii_Txt01 {position:absolute; left:57px; top:13px; width:595px; height:61;}
#Ureshii #Ureshii_Txt02 {position:absolute; left:57px; top:76px; width:755px; height:40;}
#Ureshii #Ureshii_Txt03 {position:absolute; left:57px; top:121px; width:755px; height:27;}


/* 05_Seibunnoohanashi
-----------------------------------------------------*/
#wrapper #Seibunno01 {
	width: 825px;
	height: 364px;
	position: relative;
}
#Seibunno01 #Seibunno01_Img01 {position:absolute; left:25px; top:0px;}
#Seibunno01 #Seibunno01_Img02 {position:absolute; left:25px; top:20px;}
#Seibunno01 #Seibunno01_Img03 {position:absolute; left:622px; top:56px;}
#Seibunno01 #Seibunno01_Img04 {position:absolute; left:674px; top:123px;}
#Seibunno01 #Seibunno01_Img05 {position:absolute; left:48px; top:49px;}
#Seibunno01 #Seibunno01_Img06 {position:absolute; left:52px; top:106px;}
#Seibunno01 #Seibunno01_Img07 {position:absolute; left:52px; top:176px;}
#Seibunno01 #Seibunno01_Txt01 {position:absolute; left:50px; top:203px; width:550px; height:87;}
#Seibunno01 #Seibunno01_Txt02 {position:absolute; left:50px; top:293px; width:550px; height:48;}

#wrapper #Seibunno02 {
	width: 825px;
	height: 195px;
	position: relative;
}
#Seibunno02 #Seibunno02_Img01 {position:absolute; left:25px; top:0px;}
#Seibunno02 #Seibunno02_Img02 {position:absolute; left:52px; top:0px;}
#Seibunno02 #Seibunno02_Txt01 {position:absolute; left:50px; top:27px; width:550px; height:145;}

#wrapper #Seibunno03 {
	width: 825px;
	height: 221px;
	position: relative;
}
#Seibunno03 #Seibunno03_Img01 {position:absolute; left:25px; top:0px;}
#Seibunno03 #Seibunno03_Img02 {position:absolute; left:52px; top:0px;}
#Seibunno03 #Seibunno03_Txt01 {position:absolute; left:50px; top:27px; width:550px; height:128;}
#Seibunno03 #Seibunno03_Txt02 {position:absolute; left:50px; top:122px; width:290px; height:24;}
#Seibunno03 #Seibunno03_Img03 {position:absolute; left:50px; top:146px;}



/* 06_Bihadanotukurikata
-----------------------------------------------------*/
#wrapper #Bihadano01 {
	width: 825px;
	height: 449px;
	position: relative;
}
#Bihadano01 #Bihadano01_Img01 {position:absolute; left:25px; top:0px;}
#Bihadano01 #Bihadano01_Img02 {position:absolute; left:25px; top:37px;}
#Bihadano01 #Bihadano01_Img03 {position:absolute; left:795px; top:37px;}
#Bihadano01 #Bihadano01_Img04 {position:absolute; left:622px; top:48px;}
#Bihadano01 #Bihadano01_Img05 {position:absolute; left:104px; top:77px;}
#Bihadano01 #Bihadano01_Img06 {position:absolute; left:114px; top:127px;}
#Bihadano01 #Bihadano01_Img07 {position:absolute; left:120px; top:173px;}

#wrapper #Bihadano02 {
	width: 800px;
	height: 509px;
	position: relative;
}
#Bihadano02 #Bihadano02_Img01 {position:absolute; left:25px; top:0px;}
#Bihadano02 #Bihadano02_Img02 {position:absolute; left:795px; top:0px;}
#Bihadano02 #Bihadano02_Img03 {position:absolute; left:25px; top:472px;}
#Bihadano02 #Bihadano02_Img04 {position:absolute; left:114px; top:0px;}
#Bihadano02 #Bihadano02_Img05 {position:absolute; left:106px; top:17px;}
#Bihadano02 #Bihadano02_Img06 {position:absolute; left:299px; top:17px;}
#Bihadano02 #Bihadano02_Img07 {position:absolute; left:303px; top:216px;}


/* 07_Mizunoirodori
-----------------------------------------------------*/
#wrapper #Irodori01 {
	width: 825px;
	height: 748px;
	position: relative;
}
#Irodori01 #HeaderTtl_Img01 {position:absolute; left:25px; top:0px;}
#Irodori01 #HeaderTtl_Img03 {position:absolute; left:299px; top:19px;}
#Irodori01 #HeaderTtl_Img04 {position:absolute; left:378px; top:71px;}
#Irodori01 #HeaderTtl_Img05 {position:absolute; left:517px; top:163px;}
#Irodori01 #HeaderTtl_Img06 {position:absolute; left:316px; top:174px;}
#Irodori01 #HeaderTtl_Img07 {position:absolute; left:439px; top:252px;}
#Irodori01 #HeaderTtl_Img08 {position:absolute; left:266px; top:283px;}
#Irodori01 #Irodori01_Img01 {position:absolute; left:337px; top:323px;}
#Irodori01 #Irodori01_Img02 {position:absolute; left:25px; top:388px;}
#Irodori01 #Irodori01_Img03 {position:absolute; left:423px; top:357px;}
#Irodori01 #Irodori01_Img04 {position:absolute; left:25px; top:406px;}
#Irodori01 #Irodori01_Img05 {position:absolute; left:290px; top:406px;}
#Irodori01 #Irodori01_Img06 {position:absolute; left:560px; top:406px;}
#Irodori01 #HeaderTtl_Img10 {position:absolute; left:440px; top:398px;}
#Irodori01 #Irodori01_Img07 {position:absolute; left:225px; top:695px;}
#Irodori01 #HeaderTtl_Img20 {position:absolute; left:708px; top:366px;}

#wrapper #Irodori02 {
	width: 825px;
	height: 493px;
	position: relative;
	background: url(http://www.saiseisha.co.jp/purupuru/img_cream/07_irodori07.gif) no-repeat left top;
}
#Irodori02 #ShopBagArea01 {position:absolute; left:25px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}
#Irodori02 #ShopBagArea02 {position:absolute; left:295px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}
#Irodori02 #ShopBagArea03 {position:absolute; left:565px; top:0px; width:244px; height:126;
	padding: 11px 0px 0px 16px; text-align: left;}

#Irodori02 #HeaderTtl_Img14 {position:absolute; left:49px; top:168px;}
#Irodori02 #HeaderTtl_Img15 {position:absolute; left:341px; top:145px;}
#Irodori02 #HeaderTtl_Img16 {position:absolute; left:282px; top:209px;}
#Irodori02 #HeaderTtl_Img17 {position:absolute; left:245px; top:361px;}
#Irodori02 #HeaderTtl_Txt01 {position:absolute; left:402px; top:363px; width:423px; height:29;}
#Irodori02 #HeaderTtl_Img18 {position:absolute; left:25px; top:405px;}


#wrapper #Irodori03 {
	width: 845px;
	height: 909px;
	position: relative;
}
#Irodori03 #Irodori03_Img01 {position:absolute; left:25px; top:0px;}
#Irodori03 #Irodori03_Img02 {position:absolute; left:605px; top:113px;}
#Irodori03 #Irodori03_Img03 {position:absolute; left:41px; top:137px;}
#Irodori03 #Irodori03_Img04 {position:absolute; left:44px; top:181px;}
#Irodori03 #Irodori03_Img05 {position:absolute; left:47px; top:220px;}
#Irodori03 #Irodori03_Img06 {position:absolute; left:100px; top:218px;}
#Irodori03 #Irodori03_Txt01 {position:absolute; left:100px; top:245px; width:458px; height:28; text-align: left;}


#Irodori03 #Irodori03_Img07 {position:absolute; left:49px; top:309px;}
#Irodori03 #Irodori03_Txt03 {position:absolute; left:43px; top:338px; width:780px; height:128;}
#Irodori03 #Irodori03_Txt04 {position:absolute; left:43px; top:451px; width:780px; height:38;}

#Irodori03 #Irodori03_Img08 {position:absolute; left:49px; top:492px;}
#Irodori03 #Irodori03_Txt05 {position:absolute; left:43px; top:521px; width:800px; height:115;}
#Irodori03 #Irodori03_Txt06 {position:absolute; left:43px; top:581px; width:780px; height:115;}

#Irodori03 #Irodori03_Img09 {position:absolute; left:49px; top:639px;}
#Irodori03 #Irodori03_Txt07 {position:absolute; left:43px; top:668px; width:800px; height:112;}
#Irodori03 #Irodori03_Txt08 {position:absolute; left:43px; top:803px; width:780px; height:38;}


/* 09_FooterArea
-----------------------------------------------------*/
#wrapper #FooterArea {
	width: 825px;
	height: 190px;
	position: relative;
}
#FooterArea #FooterImg01 {position:absolute; left:217px; top:0px;}
#FooterArea #FooterImg02 {position:absolute; left:375px; top:0px;}
#FooterArea #FooterImg03 {position:absolute; left:530px; top:0px;}
#FooterArea #FooterImg04 {position:absolute; left:25px; top:42px;}
#FooterArea #FooterImg05 {position:absolute; left:25px; top:84px;}
#FooterArea #FooterImg06 {position:absolute; left:25px; top:99px;}
#FooterArea #FooterImg07 {position:absolute; left:180px; top:112px;}
#FooterArea #FooterTxt01 {position:absolute; left:25px; top:57px; width:800px; text-align:center;}
#FooterArea #FooterTxt02 {position:absolute; left:435px; top:117px; width:390px; text-align:left;}
#FooterArea #FooterImg08 {position:absolute; left:280px; top:159px;}


/* 10_PrintArea
---------------------------------------------------- */
#PrintArea {
	display: none;
}



/* Submit */
input.submit {
background:url(http://www.saiseisha.co.jp/purupuru/img_cream/submit.gif) no-repeat left top;
width: 165px;
height: 33px;
border: none;
overflow: hidden;
cursor: pointer;
text-indent: -9999px;
text-align: left;
margin-top: 8px;
margin-left: 0px;
}
/* Operaのみ適用 */
*+html:first-child body form input.submit {
padding-left: 300px; 
}








