/**/
body.src_search .no_online_override { width:293px; height:134px; background:0 0 url(../i/no_online_mypage.gif) no-repeat; margin:0 auto;　}

body.src_search .no_online_override img { display:none;}

/*
	12/05/12 by wito2009
	to future developper/designer, 
	if you do not see div#freeBtn_general_1 on this page,
	please delete css section
*/
.displayNone { display:none;}
.freeBtn_general_1 { width:100%; text-align:center; padding-top:32px; margin-top:-8px;}
.freeBtn_general_1 a { display:block; width:557px; height:82px; background:0 0 url(../img/generic/freeBtn_general_1.png) no-repeat; margin:0 auto; text-indent:-9999px;}
.freeBtn_general_1 a:hover { background-position:0 -82px;}
/*
	end 12/05/12 by wito2009
*/


.purchase {
   
        font-size: 11px;
        color: #333333;
        line-height: 0;
}

.tableCatalogalll {
   
    font-size: 11px;
    color: #333333;
    line-height: 1.3em;
}

td {


    color: #333333; font-size: 11px;

}

a.:link {color:#FF0099;text-decoration:none;}
a.:alink {color:#FF0099;text-decoration:none;}
a.:visited {color:#FF0099;text-decoration:none;}
a.:hover {color:#FF99CC;;text-decoration:none;}
    
h1 { f
    font-size: 12px;
    color: #333333;
    line-height: 1.3em;
}
h2 { f
    font-size: 10px;
    color: #333333;
    line-height: 1.3em;
}
IMG {
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}

.BoxBorderBlack {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN: 0px 0px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px;
}

.BoxBorderGrey {
    BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; MARGIN: 0px 0px; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px;
}

.BoxShadow {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #EFEFEF 1px solid; MARGIN: 0px 0px; BORDER-LEFT: #EFEFEF 1px solid; BORDER-BOTTOM: #999999 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
}

.BoxShadowLight {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #EFEFEF 1px solid; MARGIN: 0px 0px; BORDER-LEFT: #EFEFEF 1px solid; BORDER-BOTTOM: #999999 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
}

.BoxShadowDark {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #CCCCCC 1px solid; MARGIN: 0px 0px; BORDER-LEFT: #CCCCCC 1px solid; BORDER-BOTTOM: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
}

.tableStyle1 {
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    MARGIN: 0px 0px;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px; 
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    }

.tableStyle2 {
    BORDER-RIGHT: #900E0E 1px solid;
    BORDER-TOP: #900E0E 1px solid;
    MARGIN: 0px 0px;
    BORDER-LEFT: #900E0E 1px solid;
    BORDER-BOTTOM: #900E0E 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px; 
    PADDING-TOP: 3px;
    PADDING-BOTTOM: 3px;
}

.tableStyle3 {
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: 0px solid;
    MARGIN: 0px 0px;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM: #cccccc 1px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px; 
    PADDING-TOP: 4px;
    PADDING-BOTTOM: 4px;
}

.tableStyle4 {
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: 0px solid;
    MARGIN: 0px 0px;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM: #000000 1px solid;
}
.tableSearch {
    MARGIN: 0px 0px;
    border: 1px solid #CCCCCC;
}
.tableCatalogall {
    background-image: url(../img/search/box_all.gif);
    background-repeat: no-repeat;
    background-position: center center;
    f
    font-size: 10px;
    color: #000000;
}
.tableCatalogon {
    background-image: url(../img/search/onlineThumb.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    f
    font-size: 10px;
    color: #000000;
}
.tableCatalogoff {
    background-image: url(../img/thumbnail/thumb_offline_02a.gif);
    background-repeat: no-repeat;
    background-position: center center;
    f
    font-size: 10px;
    color: #000000;
}

.txtPink1 {

    f
    font-size: 10px;
    color: #FF00CC;

}

.txtpink2 {

    f
    font-size: 12px;
    color: #FF00CC;

}

.txtPink3{

    f
    font-size: 14px;
    color: #FF00CC;

}

.txtWhite1{

    f
    font-size: 10px;
    color: #FFFFFF;

}

.txtWhite2{

    f
    font-size: 12px;
    color: #FFFFFF;

}

.txtWhite3{

    f
    font-size: 14px;
    color: #FFFFFF;

}

.txtBrown1{

    f
    font-size: 10px;
    color: #660000;

}

.txtBrown2{

    f
    font-size: 12px;
    color: #660000;

}

.txtBrown3{

    f
    font-size: 14px;
    color: #660000;

}

.txtBlack1{

    f
    font-size: 10px;
    color: #000000;

}

.txtBlack2{

    f
    font-size: 12px;
    color: #000000;

}

.txtBlack3{

    f
    font-size: 14px;
    color: #000000;

}


.txtGrey1{

    f
    font-size: 10px;
    color: #333333;

}

.txtGrey2{

    f
    font-size: 12px;
    color: #333333;

}

.txtGrey3{

    f
    font-size: 14px;
    color: #333333;

}

.textShadowBox{
    border-top: 1px solid #333333;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #333333;
    border-right: 1px solid #999999;
       padding-left: 4px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;    
    color: #666666;
    background-image: url(http://www.dxlive.com/img/search/shadowBox.jpg);
    }

