
/* OVERRIDE */
/*#action_link {
background: url("/nl/cms/images/pages/mhp/navbar_vakantie_140604.jpg") no-repeat scroll right bottom transparent;
display: block;
}*/

/*.sc_be #action_link {
background: url("/nl/cms/images/pages/mhp/nav_solden_280114.jpg") no-repeat scroll right bottom transparent;
}*/

.btn_icon_search.fleft {
background: url("../../static/images/buttons/btn_icon_search.png") repeat scroll 0 0 transparent;
}

.css_contactinfo h2 { background:url('../images/klantenservice/css_icons-contact.png') no-repeat 0 2px;line-height:13px;padding-left:25px;}
.css_contactinfo h2 span {font-family:Verdana,Arial,Helvetica,sans-serif;text-transform:none;}
.css_contactinfo .nl {background:url('../images/klantenservice/css_icons-contact.png') no-repeat 0 -47px;padding-left:25px;}
.css_contactinfo .de {background:url('../images/klantenservice/css_icons-contact.png') no-repeat 0 -97px;padding-left:25px;}
.css_contactinfo .nl strong, .css_contactinfo .de strong {font-size:15px;}

#usp {
font-size: 12px;
line-height: 14px;
padding-top: 2px;
}

#main_logo_small {
margin-top:4px;
margin-left:0;
margin-right:3px;
margin-bottom:4px;
}

.productlist_block .product_divider { /*edited to delete the rollup divider */
background: none;
height:0;}

.productlist_block {
margin:0 0 15px 0;
padding:0 0 15px 0;
border-bottom:2px solid #eee;}

@media screen and (max-width: 972px) {
#top_header.abs, #top_header.fixed {
position: absolute;
width: auto;
left: 10px;
}
}

.buyblock_new .usp_slot .usp_icon{background:url("../images/pages/usp_icons.png") no-repeat; height: 30px; width:62px; margin-right:15px;}
.buyblock_new .usp_slot .usp_icon.usp_safe{background-position: center -90px;}
.buyblock_new .usp_slot .usp_icon.usp_contact{background-position: center -120px;}

/* WSPACC-2258: Tijdelijke style fix voor upsell slot kan na livegang sprint 50 weg */
.upsell_slot .imgwrap_tout {
height: auto;}

#nav_offer .nav_submenu li.section {
padding: 5px 0 6px 10px;
color: black;
}

/* Navblock header: Seperation fix */
.nb-header {
margin-bottom: -30px;
}

/* Breder maken aanbiedingen-tab (toegevoegd op 7 maart 2013): */
#nav_offer div.nav_submenu {
left: 655px !important;
width: 325px;
}

/* Carlo: Fixed wrong height navbar on MHP */
body #main_menu_wrapper .callouts .without_menu {
height: 38px;
width: 778px;
}

/* Carlo: Fixed 1px bug in header */
body #main_menu_wrapper.variant_b #main_menu li.last ul {
width: 778px;
}

/* Carlo/Angelo: Fixed variant A offer dropdown */
body #main_menu_wrapper .details .item.nav_item_offer {
width: 506px; margin-left: 446px;
}

/*Rik/Angelo: fix breadcrump marge */
body #header_bar ~ #content_wrapper {
padding-top: 100px;
}


/* WSP-5318: */
.tile .product_image_regular img {
max-width: 168px;
max-height: 210px;
}

/* USP BUYBLOCK PRODUCTPAGE */
.small_details .checklist_secundary li {
background:transparent url("../../upload/images/list_icons.png") no-repeat 2px -1395px;
line-height: 14px;
padding: 2px 0 2px 18px;
}


/* Fixed layout problem on ranked list slot */
.rankedlistslot .product_content {
  width: 275px;
}

/* Fixed stamp problems on listpage remove after SP78*/
.product-tile__stampholder {
  bottom: 3em;
  top: auto;
}
