
/*	=============================================================================================================
	SHARED
	============================================================================================================= */
	
    #content-wrapper  { 
		padding:0 0 25px 0; 
		z-index: 1; 
		min-height:350px; 
		overflow:hidden;
    }
	
    #content-wrapper h1
    {
		font-size: 27px;
		font-weight: bold;
		margin: 15px 0px;
    }
		
    #content-wrapper h1 a
	{
		color:#153268;
	}

	#content-wrapper h2
	{
		font-size:25px;
		font-weight:bold;
	}
	
	#content-wrapper hr, #ppc-campaign-wrapper hr
	{
		display: block;
		height: 8px;
		background: transparent URL('../images/home/suboffer-bg-dot.png') 0px -2px;
		border: 0px;
	}
	
	#content-wrapper p,
	#content-wrapper li
	{
		font-size: 14px;
		line-height:22px;
	}

	#content-wrapper h2.subheader
	{
		display: inline-block;
		padding: 8px 12px;
		background-color: #333;
		color: #FFF;
		font-family: Bitter;
		font-size: 20px;
		float: left;
		margin-right: 15px;
	}
	#content-wrapper h2#book-title
	{
		margin-bottom:10px;
	}
	#content-wrapper .subheader-wrap
	{
		margin-bottom: 15px;
	}
	#content-wrapper h2.subheader:first-child
	{
		margin-top:10px;
	}
	
	#content-wrapper h2.urgent-header
	{
		background-color:#f7e2e2;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e2e2), to(#d5b4b4));
		color:#800;
	}

	#content-wrapper h2.subheader a
	{
		color:#fff;
		text-decoration:none;
	}

	#content-left h2
	{
		font-size: 25px;
		margin-bottom: 14px;
	}

	#content-wrapper h1 .trans
    {
    	color:#ccc;
    	margin:0 10px;
    }
	#content-wrapper h3
	{
		font-weight:bold;
	}
	#content-left p
	{
		line-height:22px;
		color:#333;
		margin-bottom:20px;	
	}
	#content-left h3
	{
		font-size:16px;
		color:#666;	
		font-weight:normal;
		margin:30px 0;
	}
	#content-left h4
	{
		font-size:15px;
		color:#333;	
		font-weight:bold;
		margin-bottom:10px;
		margin-top:30px;
	}
	#content-left li
	{
		list-style-type:disc;
		margin:0 0 8px 25px;
	}
	#content-left li a
	{
		font-weight:normal;
	}
	#content-right h2
	{
		color: #FFFFFF;
		font-size: 13px;
		font-weight: bold;
		padding: 8px 10px;
		line-height:16px;
		margin-bottom:0;
	}
	#book-title 
	{ 
		font-size:16px; 
		color:#333; 
		font-weight:bold; 
	}
	.italic{
		font-style:italic;	
	}
    #green-callout{
		position:absolute;
		top:25px;
		right:15px;	
	}
	.float-left{
		float:left;	
	}
	.float-right{
		float:right;	
	}
	
/*	=============================================================================================================
	Paging
	============================================================================================================= */

	.pagination 
	{ 
		margin-top:20px; 
		width:auto;
	}
	
	.pagination .next-link,
	.pagination .previous-link
	{
		display:block;
		width:62px;
		height:24px;
	}
	
	.pagination .next-link,
	.pagination .previous-link { background:transparent url(../Images/Pagination/prev-next.gif) no-repeat 0 0; }
	
	.pagination .next-link { background-position:-62px 0; }
	.pagination .previous-link { background-position:0 0; }
	
	.pagination .next-link:hover { background-position:-62px -24px; }
	.pagination .previous-link:hover { background-position:0 -24px; }
	
	.pagination .page-numbers a 
	{ 
		display:block; 
		width:27px; 
		height:24px; 
		margin:0px 3px;
		line-height:24px;
		text-align:center;
		text-decoration:none;
		color:#fff;
		background:transparent url(../Images/Pagination/numbers.gif) no-repeat 0 0;  
	}
	
	.pagination .page-numbers a:hover { background-position:0 -24px; }
	
	.pagination .page-numbers a.active
	{
		cursor:default !important;
		color:#5d768e !important;
		background:transparent url(../Images/Pagination/numbers.gif) no-repeat 0 -48px;  
	}

/*	=============================================================================================================
	Date Filter
	============================================================================================================= */
    
    .no-margin { margin-top:0px !important; }

    .filter-by
    {
        position:absolute;
        top:5px;
        right:20px;
        color:#5d768e;
        height:37px;
        width:140px;
        text-align:center;
        padding-top:20px;
        z-index:9998;
    }
    .filter-by-clicked
    {
        background-color:#eee;
        border:1px solid #ddd;
        border-bottom:0;
    }
    .datefilter 
    { 
    	display:none; 
    	position:relative; 
    	background-color:#eee; 
    	padding:15px; 
    	border:1px solid #ddd; 
    	margin-bottom:20px; 
    	z-index:1;
    }
    .datefilter .input-container, 
    .datefilter .cancel-filter 
	{ 
		float:left; 

    }
	.datefilter .input-error
	{
		display:none;
		position:absolute;
		top:127px;
		left:410px;
		color:#900;
		padding-left:20px;
	}
    .datefilter h4
    { 
        color:#000; 
        margin-bottom:15px;
        font-size:16px;
        font-weight:bold;
    }       
    .datefilter p
    { 
    	color:#666;
    	line-height:20px;
        margin-bottom:15px;
        padding-bottom:15px;
        border-bottom:1px dotted #aaa;
    }       
    .datefilter label { color:#000; margin-right:5px; font-weight:bold; }       
    .datefilter .input-container { margin-right:30px; height:30px; }       
    .datefilter .button-container { margin-left:30px; float:right; margin-top:3px; width:170px; }
    
    .datefilter .filter-button,
    .datefilter .no-filter-button
    {
    	position:absolute;
    	top:120px;
    }
    .datefilter .filter-button { right:10px; }
    .datefilter .no-filter-button { right:120px; }
    .datefilter .cancel-filter
    {
        text-decoration:underline;
        display:block;
        margin-left:10px;
        margin-top:7px;
        font-size:11px;
    }
    .datefilter .cancel-filter:hover { text-decoration:underline; }
    
    .filter-dates
    {
    	margin-left:10px;
    	font-size:13px;
    	color:#667;
    }

/*	=============================================================================================================
	CART
	============================================================================================================= */
    
    .cart-options { margin:60px 0 20px 0; }
    .cart-options tbody td, .order-number tbody td { border-bottom:none; }
    .coupon-container 
    { 
    	margin-top:20px; 
		margin-bottom:20px;
    }
    .coupon-container table
    { 
    	width:360px;
		border:1px solid #CCC;
    }
    .coupon-container th,
    .coupon-container td
    { 
    	background-color:#ffffff;
    }
    .coupon-container th
    { 
    	color:#000;
		padding: 10px 6px 6px 12px;
    }
    .coupon-container td
    { 
    	padding:6px 6px 6px 10px;
    }
    .coupon-error-label
    {
		color:#900;
		font-weight:bold;
    }
    #validating-label
    {
    	display:none; 
    	width:100px; 
    	height:28px; 
    	line-height:28px; 
    	text-align:center;
    	font-weight:bold;
    }
	
/*	=============================================================================================================
	ACCOUNTING
	============================================================================================================= */
    
    .accounting-table { margin-bottom:20px; }
    .accounting-table th { }

	.total-row td { }
	.table-total { font-weight:bold; width:100%; } 
	.row-amount { padding-left:30px !important; }

	.td-date { width:140px; }
    .th-amount { text-align:right; }

    .link-trans, 
    .link-trans a, 
    .link-sales, 
    .link-sales a { width:120px; }
    
    .link-trans a, 
    .link-sales a 
    { 
    	text-align:center; 
    	display:block; 
    	color:#5d76af; 
    }
	
/*	=============================================================================================================
	TABLES
	============================================================================================================= */

	.data-table { width:100%; }
	
	.data-table th,
	.data-table td { padding:7px; }
	
	.data-table th
	{
		font-weight:bold;
		color: #000;
		border: 1px solid #CCC;
		background-color: #EEE;
	}
	
		.data-table td
		{
			background-color:#fff;
		}
	.data-table td, .data-table tr { border: 1px solid #ccc; }
	
	.data-table p { line-height:18px; }
	
	.data-table .highlighted-row 
	{ 
		background-color:#fafafa; 
		color:#000; 
	}
	
	.data-table .highlighted-row-uploads 
	{ 
		background-color:#fafafa !important; 
		color:#000 !important; 
	}
	.data-table .highlighted-error-row { background-color:#f9eeee; }
	
	#total-row td 
	{ 
		font-weight:bold;
		border-top:2px solid #ddd;
		border-bottom:none;
	}

/*	=============================================================================================================
	FORMS
	============================================================================================================= */

    .form .section 
    { 
    	padding:0; 
    }
    
    .form .sub-section 
    { 
    	padding-left:0px; 
    }
    
    .form .section-margin-top
    {
    	margin-top:30px;
    }

    .form .section-info 
    { 
    	color:#000; 
    	font-size:12px; 
    	font-weight:bold; 
    	margin-bottom:7px;
    	line-height:18px;
    }

    .form .section-info .note
    { 
    	color:#999; 
    	font-size:11px; 
    }

	.form .input-container,
	.form .button-container
	{
		zoom:1;
	}

	.form .input-container
	{
		line-height:35px;
		margin-bottom:15px;
	}
    
    .form-sm .input-container
    {
        line-height: 20px;
        margin: 0 0 5px 3px;
    }
    
	.form .button-container { margin-top:15px; }
	.form-sm .button-container { margin-top:5px; }
	.form .line-above { padding-top:15px; border-top:1px solid #ddd; }

	.form label,
	.form .textbox,
	.form .textbox-sm,
	.form .checkbox,
	.form .dropdown,
	.form .additional,
	.form .textarea { float:left; }
    
    .form-sm span.right > label { float: right; margin-top: 10px; }
    .form-sm span.right > input { margin-top: 10px; margin-left: 7px; }
	.form .textbox,
	.form .textbox-sm,
	.form .dropdown,
	.form .textarea
	{
		background-color:#FFFFFF;	
		border:1px solid #ccc;
	}

	.form label
	{
		text-align:right;
		margin-right:10px;
	}
	
	.form-sm label
	{
	    text-align:left;
	}
	
	.form .additional
	{
		color:#999;
		margin-left:15px;
		font-size:11px;
	}
	.form .additional-inline {
		display: inline;
		float: none !important;
		font-weight: normal;
	}
	.form .additional-label
	{
		color:#999;
		margin-left:5px;
		font-weight:normal;
	}
	
	.form .additional-inline
	{
		float: none !important;
		display: inline;
	}
	
	.form .note
	{
		line-height:18px;
		font-size:13px;
		color:#333;
	}
	

	/* new form styles */
	
	.input
	{
		padding: 7px 10px;
		width: 250px;
		border: 1px solid #ccc;
		box-shadow: inset 0px 3px 3px #f0f0f0;
	}
	label
	{
		display: block;
		font-weight: 900;
		font-size: 12px;
		color: #555;
		margin: 0px 0px 5px 0px;
	}
	
	.form p,
	p
	{
		display: block;
		margin-bottom: 15px;
	}
/*	=============================================================================================================
	TOP-ALIGNED LABELS
	============================================================================================================= */

	.top-label label, 
	.top-label select 
	{ 
		clear: both; 
		line-height: 24px; 
	}
	.top-label label 
	{ 
		float:none; 
		display:block; 
		text-align:left;
		font-weight:bold; 
	}
	.top-label label img
	{
		margin-top:-2px;
	}

	.top-label .highlighted-container
	{
		padding:5px 8px 8px 8px;
		border:1px solid #e8dddd;
	}
	
	.top-label .input-error
	{
		margin-left:0px !important;
		margin-top:5px;
		line-height:normal !important;
	}
	
	.top-label .button-container 
	{ 
		border-top:1px solid #ced3d9;
		padding-top:20px;
		margin-top:20px;
	}
	
	.top-label .button-container .button
	{ 
		float:left;
	}

/*	=============================================================================================================
	OUPUT MESSAGES
	============================================================================================================= */
	
	.no-color { color:#fff !important; }
	
	.finalized { margin-top:20px; }
	
	.form .highlighted-container
	{
		font-weight:bold;
		background-color:#f9eeee;
	}
	
	.form .input-error
	{
		display:none;
		color:#900;
		margin-left:10px;
	}
	
	.success-message,
	.error-message
	{
		line-height:20px;
	}
	
	.success-message
	{
		display:block;
		color:#070;
		font-weight:bold;
		background-color:#f1f8d6;
		border:2px solid #dfe6c8;
		padding:10px;
		margin-bottom:20px;
	}
	
	.error-message
	{
		display:block;
		color:#900;
		font-weight:bold;
		background-color:#f9eeee;
		border:2px solid #f9dddd;
		padding:10px;
		margin-bottom:20px;
	}

    .callout-message
    {
        display:block;
        padding:8px;
        background-color: #D8EBE9;
        color:#666;
        line-height:16px;
        margin-bottom:15px;
        font-size:11px;
        vertical-align:middle;
    }
    .single-line
    {
        line-height:18px;
        padding:12px 8px;
    }
    .callout-message img 
    { 
		float:left; 
		margin:7px 10px 0 3px; 
    }
    .single-line img 
    { 
		margin-top:0 !important; 
    }
    .callout-message strong { color:#555; }
    .callout-message u { text-decoration:underline; }
    
/*	=============================================================================================================
	CHECKBOXES
	RADIOBUTTONS
	============================================================================================================= */
	
	/* wrapper divs */
	.custom-checkbox, .custom-radio { display:block; position: relative; }
		
	/* input, label positioning */
	.custom-checkbox input, 
	.custom-radio input 
	{
		display:none;
		position: absolute;
		left: 6px;
		top: 4px;
		margin: 0;
		z-index: 0;
	}

	.custom-checkbox label, 
	.custom-radio label {
		display: block;
		width:auto !important;
		position: relative;
		z-index: 1;
		text-align:left;
		padding:5px 0 5px 30px;
		cursor: pointer;
		line-height:15px;
		font-weight:normal !important;
	}
	.custom-checkbox label {
		background: url(../images/checkbox.png) no-repeat; 
	}

	.custom-radio label { 
		background: url(../images/radiobutton.png) no-repeat; 

	}
	.custom-checkbox label, .custom-radio label {
		background-position: -10px -14px;
	}

	.custom-checkbox label.hover,
	.custom-checkbox label.focus
	 {
		background-position: -10px -114px;
	}

	.custom-radio label.hover,
	.custom-radio label.focus {
		background-position: -10px -214px;
	}


	.custom-checkbox label.checked {
		background-position: -10px -214px;
	}
	.custom-radio label.checked {
		background-position: -10px -415px;
	}

	.custom-checkbox label.checkedHover, 
	.custom-checkbox label.checkedFocus {
		background-position: -10px -314px;
	}

	.custom-checkbox label.focus, 
	.custom-radio label.focus {
		outline: 1px dotted #ccc;
	}
/*	=============================================================================================================
	CHECKBOXES
	============================================================================================================= */
	
	/*
	.checkbox
	{
		margin:10px 10px 0 0;
	}
	*/

/*	=============================================================================================================
	RADIOBUTTONS
	============================================================================================================= */
	
	/*
	.radio-button-list tr,
	.radio-button-list td,
	.radio-button-list input,
	.radio-button-list label
	{ 
		vertical-align:middle;
	}
	
	.radio-button-list label
	{
		float:none;
		margin-left:10px;
		line-height:28px;
	}
	*/

/*	=============================================================================================================
	TEXTAREAS
	============================================================================================================= */
	
	.textarea
	{
		color:#555;
		padding:8px;
	}
	
	.txt-shortdescript,
	.txt-longdescript,
	.txt-authorbio,
	.txt-services,
	.txt-keywords { width:700px !important; } 

/*	=============================================================================================================
	DROPDOWNS
	============================================================================================================= */
	
	.dropdown
	{
		padding:7px;
		color:#555;
	}

/*	=============================================================================================================
	TEXTBOXES
	============================================================================================================= */
	
	.textbox
	{
		/*height:13px;*/
		color:#555;
		padding:8px;
	}
	
	.txt-coupon
	{
		padding:3px;
		margin-right:10px;
	}
	
	.hinted
	{
		color:#aaa;
	}
	
	.txt-booktitle,
	.textarea { width:400px; }
	
	.txt-faq-search { width:360px; }
	
	.txt-email,
	.txt-password,
	.txt-address { width:300px; }
	
	.textbox-sm { width: 200px; padding: 2px; margin-left: 5px; }
	
	.txt-fullname { width:250px; }
	
	.txt-name,
	.txt-taxID,
	.txt-banknumber { width:200px; }
	
	.txt-coupon { width:200px; }
	
	.txt-creditcard { width:175px; }
	
	
	.txt-date,
	.txt-isbn { width:100px; }
	
	.txt-phone { width:150px; }
	
	.txt-paypoint,
	.txt-zipcode,
	.txt-series,
	.txt-imagecount  { width:60px; }
	
	.txt-pagecount { width:40px; }
	
	.txt-cvv { width:35px; }

/*	=============================================================================================================
	LINKS
	============================================================================================================= */
	
	.remove, .delete { color:#b33; }
	
	.add, .edit { color:#070; }

/*	=============================================================================================================
	BUTTONS
	============================================================================================================= */
	
	/* Base */

	a.button
	{
		display:inline-block;
		text-decoration:none;
	}

	.button
    {
		cursor:pointer;
		color: #FFF !important;
		padding: 7px 15px;
		background-color:#ff8000;
		border-radius: 4px;
		border: 1px solid #a3511a;
		text-shadow: 0px -1px 0px #a3511a;
		font-weight: bold;
		box-shadow: inset 0 1px 0px #FFFFFF;
		box-shadow: inset 0 1px 0px RGBa(256,256,256,0.5);		
		background: #ff8000 -webkit-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%,  RGBa(256,256,256,0.1) 100%);
		background: #ff8000 -moz-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
		background: #ff8000 -o-linear-gradient(bottom, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
		background: #ff8000 linear-gradient(to top, RGBa(0,0,0,0.2) 0%, RGBa(256,256,256,0.1) 100%);
		cursor: pointer;	
		font-size: 14px;
    }

	.button-cancel
	{
		color: red !important;
		margin-top:6px;
		display:inline-block;
	}

	.hidden-button
	{
		display: none;
	}

	.button:hover
	{
		background-color:#FFA041 !important;
	}

	.button:active,
	.button.active
	{
		background-color:#E77604 !important;
		box-shadow: inset 0 -1px 0px RGBa(256,256,256,0.4);
		color: #E7E7E7 !important;
	}
    
	.button.join-now
	{
		padding: 7px 15px;
		font-size: 14px !important;
		text-transform: none !important;
		margin-top: -4px;
		margin-bottom: 0px !important;
	}

	.button-hidden
	{
		display:none;
	}
	
	/*  Big button  */
	.button.hero
	{
		padding: 12px 35px !important;
		font-size: 20px !important;
	}
	/*  Small button  */
	.button.small
	{
		padding: 4px 8px;
		font-size: 10px !important;
		text-transform: uppercase;
	}

	.button.red
	{ 
		background-color:#d93838 !important;	
		border: 1px solid #8f2121 !important;
		text-shadow: 0px -1px 0px #8f2121 !important;
	}
	
	/*  Red Button  */
	.button.red:hover {
		background-color: #EE6565 !important;
	}
		
	.button.red:active, 
	.button.red.active {
		background-color: #B81B1B !important;
		box-shadow: inset 0 -1px 0px RGBa(256,256,256,0.5);
		color: #aaa !important;
	}

	/*  Blue Button  */
	.button.blue
	{
		background-color:#446CB7 !important;	
		border: 1px solid #253A61 !important;
		text-shadow: 0px -1px 0px #253A61 !important;
	}
	
	.button.light-blue
	{
		background-color:#96C2BF !important;	
		border: 1px solid #253A61 !important;
		text-shadow: 0px -1px 0px #253A61 !important;
	}
	.button.light-blue:hover
	{
		background-color: #BBDBD9 !important;
	}
	
	.button.blue:hover {
		background-color: #6C91D6 !important;
	}
	
	.button.blue:active,
	.button.blue.active {
		background-color: #253A61 !important;
		box-shadow: inset 0 -1px 0px RGBa(256,256,256,0.5);
		color: #aaa !important;
	}
	
	/*  Green Button  */
	.button.green 
	{
		background-color: #a5bc48 !important;
		border: 1px solid #556417 !important;
		text-shadow: 0px -1px 0px #556417 !important;
	}
	
	.button.green:hover {
		background-color: #BFD174 !important;
	}
	
	.button.green:active,
	.button.green.active {
		background-color: #556417 !important;
		box-shadow: inset 0 -1px 0px RGBa(256,256,256,0.5);
		color: #aaa !important;
	}
	
	.button.hidden { display: none; }

    /*	=============================================================================================================
	RIGHT SIDEBAR STYLES
	============================================================================================================= */
	
	.right-sidebar-box, .right-sidebar-box-1col

	{
		background-color:#FFF;
		border:1px solid #CCC;
		margin-bottom:25px;
	}
	.right-sidebar-box ul
	{
		width:90px;
		float:left;
		margin:15px 10px 10px 35px;
		list-style-position:inside;
	}
	.right-sidebar-box-1col ul
	{
		width:180px;
		float:left;
		margin:10px;
		list-style-position:inside;
	}
	.right-sidebar-box li, .right-sidebar-box-1col li
	{
		list-style-type:disc;
		margin-bottom:8px;
		color:#333;
		margin-left:30px;
	}
	#eBookRetailers-banner-ePubGuide{
		background: url("../images/Howto-guidebanner.jpg");
		background-position:top;
		clear: both;
		display: block;
		float: left;
		height: 175px;
		width: 250px;
	}
	#eBookRetailers-banner-ePubGuide:hover{
		background-position:bottom;
	}
	.right-sidebar-box p {
		margin:12px 15px 0px 10px;
		line-height:18px;
		color:#333;
	}
	.right-sidebar-box p a {
		color:#5D768E;
	}
	.right-sidebar-box p a:hover {
		color:#F0A04F
;
	}
	.right-sidebar-box p.asterisk{
		font-size:11px;
		line-height:18px;
		color:#666;
		margin-bottom:10px;		
	}
/*	=============================================================================================================
	CAMPAIGN PAGES
	============================================================================================================= */

	#campaign-wrapper h1
	{
		font-size:34px;
		line-height:46px;
		margin:0 0 20px;
		padding-top:30px;
		color:#000;
		width:420px;
		font-weight:bold;
	}
	#campaign-wrapper h2 
	{
		font-size:18px;
		width:445px;
		line-height:28px;
		color:#424242;
	}
	#campaign-book-pile
	{
		position:absolute;
		top:30px;
		right:15px;
	}
	#campaign-left-content {
		width:470px;
		float:left;	
	}
	#campaign-right-content {
		margin-top:40px;
		padding-left:30px;
		float:left;	
		border-left:1px solid #E6E6E6;
	}
	#campaign-upper-content {
		position:relative;
	}
	#campaign-lower-content
	{
		position:relative;
		padding-bottom:30px;
	}
	#campaign-lower-content h3
	{
		background-color:#F1F1F1;
		padding:7px 20px;
		font-size:18px;
		font-weight:bold;
		color:#333;
		text-align:left;
		margin-bottom:0;
	}
	#campaign-lower-content a
	{
		line-height:20px;
		margin:20px;
		text-decoration:none;
		display:block;
		float:left;
		color:#333;
	}
	#campaign-lower-content img
	{
		margin:0 20px 10px 0;
		float:left;
	}
	#campaign-lower-content, #campaign-ePUB, #campaign-logos, { height:140px; }
	#campaign-ePUB, #campaign-logos
	{
		position:absolute;
		top:0;
		width:480px;
	}
	#campaign-ePUB { 
		border-right:1px solid #e0e0e0;
		left:-20px;
	}
	#campaign-logos { left:460px; text-align:center; }
	#campaign-get-started
	{
		margin-top:35px;
		height:100px;
		line-height:56px;
		font-size:13px;
	}
/*	=============================================================================================================
	PPC CAMPAIGN PAGES
	============================================================================================================= */
#ppc-campaign-upper-content h1 {
	font-family: "Bitter";
	font-size:46px;
	line-height:50px;
    margin:35px 0px 20px 30px;
    color:#153268;
	width:460px;
	font-weight:bold;
}
#ppc-campaign-upper-content h2 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight:600px;
    font-size:21px;
    width:380px;
    line-height:30px;
	color:#333;
	margin-left:30px;
}
#ppc-campaign-wrapper h4 {
    font-size:18px;
    line-height:24px;
	color:#666;
	font-weight:bold;
}
#ppc-campaign-upper-content {
	width:940px;
	height:405px;
	background-image:url(../images/ebook-retailers.jpg);
	background-repeat:no-repeat;
	margin-bottom:30px;
	float:left;
}
.ppc-service-container {
	width:450px;
	margin-right:30px;
	float:left;
}
.ppc-service-container2 {
	width:450px;
	margin:0px;
	float:left;
}
.ppc-service-entry {
	float:left;
	margin:0px 40px 30px 0px;
}
.ppc-service-entry img {
	height:70px;
	width:70px;
    margin:0px 20px 10px 0px;
    float:left;
}
.ppc-service-entry h3, .ppc-service-entry h3 a {
    font-size:14px;
	font-weight:bold;
    color:#333;
	text-align:left;
	margin-bottom:0;
	text-decoration:none;
}
.ppc-service-entry h3 a:hover {
    color:#F0A04F
;
	text-decoration:underline;
}
#ppc-ereader-callout {
	width:940px;
	height:130px;
	background-image:url(../images/ereaders-callout.jpg);
	background-repeat:no-repeat;
	float:left;
	margin-bottom:30px;
		background-position:top;
}
#ppc-ereader-callout:hover {
	background-position:bottom;
}
#ppc-ereader-callout h3 {
	font-size:25px;
	line-height:32px;
	color:#5D778C;
	font-weight:bold;
	margin:25px 0px 3px 20px;
}
#ppc-ereader-callout p {
	font-size:16px;
	line-height:24px;
	color:#666;
	font-weight:normal;
	margin-left: 20px;
}
#ppctestimonial {
	width:450px;
	height:160px;
	background-image:url(../images/bookbaby-review.jpg);
	background-repeat:no-repeat;
	margin:0px;
	float:left;
	margin:0px 40px 30px 0px;
}
#ppctestimonial p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	color:#333333;
	line-height:21px;
	margin:20px 0px 0px 20px;
	width:270px
}
.ppctestimonial-byline {
	color:#5A728C;
	font-size:11px;
	line-height:17px;
}
#ppcguide-callout {
    position: relative;
	float:left;
    margin-bottom:30px;
    width:450px;
    height:160px;
    background-image:url(../images/cover-design.jpg);
}
#ppcguide-callout h3 {
	font-size:21px;
	line-height:24px;
	margin:18px 0px 2px 200px;
	color: #000;
	font-weight:bold;
	width:238px;
}
#ppcguide-callout p {
	font-size:15px;
	line-height:19px;
	margin:0px 0px 0px 200px;
	color: #666666;
	width:220px;
}
#ppcfooter {
	position:relative;
	width:680px;
	margin:15px auto;
	line-height:22px;
}
#ppcfooter ul li {
	margin: 0 0 5px 0;
	list-style-type: disc;
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
.ppcfooter-logo {
	width:119px;
	height:20px;
	float:left;
	margin-right:-5px;
}
#ppcfooter-nav2 {
    margin:15px auto;
    text-align: center;
}  
#ppcfooter-nav2 ul {
	margin: 0px;
	white-space: nowrap;
}
li.ppcfooternav {
	list-style-type: none;
	display: inline;
	padding:0 20px;
	border-right-style:solid;
	border-right-color:#CCC;
	border-right-width:thin;
}
li.ppcfooternopipe {
	list-style-type: none;
	display: inline;
	padding:0 20px;
}
#ppcfooter-nav2, #ppcfooter-nav2 a {
	width: 580px;
	margin:15px auto;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-align:center;
}
.clear-both {
	clear: both;
}  
.clear-content20 {
	clear: both;
	height: 20px;
}   


	/*	=============================================================================================================
	OVERLAY
	============================================================================================================= */
	
	/* the overlayed element */ 
.overlay {
	/* must be initially  hidden */     
	display:none;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */     
	background-color:#000;
	width:900px;
	min-height:200px;
	top: 35px !important;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}  

#menu-overlay {}
.overlay h5 { background-color:#CCC; border-bottom:1px solid #CCC; padding:10px 20px; color:#313846;font-size:14px; font-weight:bold; text-align:left; }
.overlay h6 {color:#666; font-size:12px; }
.overlay h6, .overlay p { margin:20px;color:#666; font-size:12px; line-height:20px; }
.overlay a { color:#ED8707; text-decoration:none; }
.overlay a:hover { color:#ED8707; text-decoration:underline; } 
.overlay-close a { position:absolute; top:13px; right:20px; font-size:12px; text-decoration:none; color:#777; }
.overlay-close a:hover { color:#000; }     


/*	=============================================================================================================
	SOCIAL ICONS
	============================================================================================================= */
#social-icons{
	width:440px;
	float:left;
	margin: 25px 0px;
}
.fb_iframe_widget{
	display:block;
	float:left;	
	width: 120px;
}
.twitter-share-button{
	width:115px !important;	
	float:left;
	display:block;
}
#___plusone_0{
	display:block;
	float:left !important;	
}

.social-container {
    display: inline-block;
    overflow: visible;
    position: relative;
}