
/*	=============================================================================================================
	COLORS
	============================================================================================================= */
	
	/* 
		Primary		(	)			# 
		Secondary	(	)			#
		Action   	(	)			#
	*/

/*	===========================================#==================================================================
	SITE STYLE
	============================================================================================================= */
	
	html, body
	{
		font:13px "Open Sans","Arial", sans-serif;
		color:#333;
		text-align:center;
		background-color: #F8F7F6; 
		min-width: 980px;
	}
	
	a
	{
		cursor: pointer;
		color: #D46B00;
		font-weight: bold;
	}

	a:hover
	{
		color: #F0A04F;
	}

	nav, section
	{
		display:block;
	}

	img
	{
		border: 0;
	}

	h1, h2, h3, h4
	{
		color:#153268;
		font-weight:bold;
		font-family:"Bitter";
		line-height: 1.3em;
	}
	h1
	{
		font-size: 30px;
	}
	h2
	{
		font-size: 25px;
	}
	h3
	{
		font-size: 22px;
	}
	h4
	{
		font-size: 20px;
	}
	p
	{
		line-height: 1.75em;
	}
/*	=============================================================================================================
	FULL WIDTH STYLE
	============================================================================================================= */
	
	#container-meta-nav,
	#container-header,
	#container-navigation,
	#container-content,
	#container-footer,
	#container-footer-band,
	#container-footer-links
	{
		width:100%;
	}
	
	
	#header,
	#navigation,
	#content,
	#footer,
	#footer-band,
	#footer-links
	{
		width:960px;
		margin:0 auto;
		text-align:left;
	}
	#header
	{
		width: 100%;
	}
	.inner-wrap
	{
		width: 980px;
		text-align:left;
		margin: 0px auto;
		position:relative;
	}
	.inner-wrap.wide
	{
		width: 1095px;
	}
	.inner-wrap.extra-wide
	{
		width: 1200px;
	}
	.float-container
	{
		position:relative;
		overflow:hidden;
	}
	#container-header,
	#container-navigation,
	#container-content
	{
		background-color:#FFFFFF;
	}
	#container-meta-nav
	{
		background-color:#838179;	
		height:40px;	
		position:fixed;
		top:0px;
		z-index:9999;
	}

	#container-meta-nav .float-container
	{
		overflow:visible;
	}
/*	=============================================================================================================
	META NAV STYLE
	============================================================================================================= */
	#meta-nav	
	{
		height:36px;
		position:relative;
		float: left;
		color:#FFF;
	}
	#tab-ebook
	{
		font-weight: 400;
		position: absolute;
		left: -9px;
		top: 10px;
		width: 150px;
		height: 20px;
		background-color: rgb(62, 59, 50);
		text-align: center;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding-top: 10px;
		font-size: 11px;
		color: #FFF;
	}
	#tab-printedbook
	{
		font-weight: 400;
		position: absolute;
		left: 151px;
		top: 10px;
		width: 131px;
		height: 20px;
		background: #ddddd9;
		color: #666;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		text-align: center;
		padding-top: 10px;
		font-size: 11px;
		font-style:normal;
		text-decoration: none;
	}
/*	=============================================================================================================
	HEADER STYLE
	============================================================================================================= */


	#header
	{
		position:relative;
		z-index: 9998;
		height:95px;
		background-color: rgb(62, 59, 50);
		position:fixed;
		top:36px;
	}
	
	#header .float-container
	{
		overflow: visible;
	}
	#logo
	{
		display: block;
		margin-top: 28px;
		float:left;
		
	}
	#logo img{
		width: 220px;
		vertical-align: middle;
	}
	#header-nav
	{
		position:absolute;
		right:0px;
		font-size:13px;
	}

	#header-nav li
	{
		float: left;
		padding: 0 10px;
		margin-top: 10px;
		line-height: 20px;
		text-transform: uppercase;
		border-right: 1px solid #94928a;
	}

	#header-nav li:last-child { border-right-width:0; }
	
	#header-nav a
	{
		display: block;
		height: 20px;
		font-family:'Open Sans Condensed', sans-serif !important;
		color: rgb(223, 223, 208);
		text-decoration: none;
	}
	#header-nav a:hover{
		color: rgb(223, 223, 208) !important;
	}

	#header-nav a:hover
	{
		color:#FFF;
		text-decoration:underline;
	}
	#header-nav .blog-link a{
		text-decoration:none;
		font-size:11px;
		color:#FFF;
		font-weight: normal;
	}
	#header-nav .blog-link a:hover{
		color:#FFF;
		text-decoration:underline;
	}
	#header-nav .cart-link a
	{
		display:block;
		height:27px;
		width:30px;
		background:transparent url(../images/topnav-cart.gif) no-repeat 0 0;
	}
	
	#header-nav .cart-link a:hover
	{
		background-position:0 -27px;
	}
	#login-container .first-button { 
		margin: 6px 20px 5px 0px; 
		float:left;
	}
	#login-container
	{
		position: absolute;
		left: 682px;
		top: 36px;
		z-index: 9999;
		display: none;
		width: 268px;
		text-align:left;
		height: 315px;
		overflow:visible;
		background: #F8F7F6;
		-moz-box-shadow: 1px 2px 6px #555;
		-webkit-box-shadow: 1px 2px 6px #555;
		box-shadow: 1px 2px 6px #555;
		padding: 15px;
	}
	#login-container:before {
		content: '';
		display: block;
		position: absolute;
		top: -15px;
		left: 177px;
		width: 0;
		height: 0;
		border-color: transparent transparent #F8F7F6 transparent;
		border-style: solid;
		border-width: 9px;
	}
	
	#login-container .login-container-header
	{
		font-weight: bold;
		line-height: 23px;
	}
	#login-container .forgot
	{
		float: left;
		font-size: 13px;
		margin-right: 12px;
		line-height: 45px;
	}
	#login-container .login-password
	{
		width: 150px;
	}
	#login-container .button-container
	{
		text-align: left;
		position: relative;
		margin-bottom: 15px;
		height: 46px;
	}
	#login-container .button-container .or
	{
		position: absolute;
		top: 50px;
		left: 111px;
		background-color: #F8F7F6;
		padding: 4px;
		display: block;
		font-weight: 700;
		font-family: "Bitter";
		font-size: 15px;
	}
	#login-container .social-login
	{
		margin-top: 15px;
		text-align: center;
	}
	#login-container .social-button-container
	{
		margin-left: 5px;
		margin: 0px auto;
		width: 180px;
	}
	#login-container .social-icon
	{
		height: 39px;
		width: 39px;
		float: left;
		margin: 12px 31px 0px 0px;
	}
	#login-container .social-icon.last
	{
		margin-right:0px;
	}
	#login-container .google-icon
	{
		background-position: 0px;
	}
	#login-container .facebook-icon
	{
		background-position: 65px;
	}
	#login-container .twitter-icon
	{
		background-position: 32px;
	}
	#login-container .input {
		width: 242px;
	}
	#login-container
	{
		margin-top: 0px !important;
	}

/*	=============================================================================================================
	NAVIGATION STYLE
	============================================================================================================= */
	
	.orange {
	color: #d46b00;
	}

	nav { display: block; }
	
	#navigation
	{
		width: 508px;
		float: right;
		text-align: right;
		top: 22px;
	}

	#navigation a {
		color: #FFF;
		font-weight: 700;
		font-size: 16px;
		text-decoration: none;
		text-align:center;
		letter-spacing: 0.04em;
		padding: 8px 12px;

	}
	#navigation a:hover{
		color: #c0d478;
	}

	#navigation li
	{
		position: relative;
		display: block;
		overflow: visible;
		float: left;
		text-align: right;
		background:transparent;
		padding-bottom: 20px;
	}
	#navigation .sub_menu
	{
		background-color: #FFF;
		box-shadow: 0px 3px 5px #666;
		top: 55px;
	}
	#navigation .sub_menu a
	{
		color: #666;
	}
	#navigation .sub_menu li {
		margin: 0px;
		list-style: none;
		float: none;
		overflow: hidden;
		
		padding-bottom: 0px;
	}
	#navigation .sub_menu li a {
		color: #666;
		display: block;
		margin-left: 0px;
		padding: 13px 15px 10px;
		margin-top:1px;
		/*box-shadow: 0 3px 5px 0 #666;*/
		
		-webkit-box-shadow: 0px 3px 5px 0px #666;
		box-shadow: 0px 3px 5px 0px #666;
		border-bottom: 1px dotted #FFF;
		text-transform: none;
		font-size: 15px;
		font-weight: 700;
		text-align: left;
		width: 300px;
		letter-spacing: inherit;
		filter: none;
/*line-height: 180%;
background: none repeat scroll 0 0 #fff;
width: 260px;
top: 15px;
z-index: 9999;*/
	}

	#navigation .sub_menu.make-a-book:before
	{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: -10px;
		left: 56px;
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}
	#navigation .sub_menu.pricing:before
	{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: -10px;
		left: 30px;
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}
	#navigation .sub_menu.help:before
	{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: -10px;
		left: 20px;
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}

	#navigation .sub_menu.services:before
	{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: -10px;
		left: 35px;
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}
	#navigation .sub_menu li a:hover
	{
		margin: 0;
		margin-top: 1px;
		padding: 13px 15px 11px 15px;
		border-bottom: 0;
		background-color:#d2e1e4;
	}
	#navigation .sub_menu li a.last
	{
		border-bottom: 0px;
	}
	#navigation a:hover
	{

	}
	#tel-nav{padding-right: 0 !important;}
	#navigation .condensed-phone{
		color: #a8c8dd;
		font-size: 18px;
		line-height:38px;
		text-transform: none;
		font-weight: 700;
		font-family: 'Open Sans Condensed',sans-serif;
		border-left: 1px solid #58554b;
		padding: 8px 12px;
	}



	
	#subnav .nav-box
	{
		height: 32px;
		display: block;
		float: left;
		margin-right: 13px;
		width: 160px;
		border: 1px solid #ddd;
		border-bottom: 0px;
		background-color: white;
		color: #666;
		padding-left: 10px;
		text-decoration:none;
		font-weight:bold;
		line-height: 33px;
	}
	#subnav .nav-box.active
	{
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		height: 32px;
		color: #333;
		border-bottom: 1px solid #F8F7F6;
		font-weight:bold;
		font-size: 14px;
		/* IE10 Consumer Preview */ 
		background-image: linear-gradient(to top, #F8F7F6 0%, #EEE 100%);
		/* Mozilla Firefox */ 
		/* Opera */ 
		/* Webkit (Safari/Chrome 10) */ 
		/* Webkit (Chrome 11+) */ 
		/* W3C Markup, IE10 Release Preview */
	}

	#subnav .nav-box:hover
	{
		/* IE10 Consumer Preview */ 
		background-image: linear-gradient(to top, #F8F7F6 0%, #EEE 100%);
		/* Mozilla Firefox */ 
		/* Opera */ 
		/* Webkit (Safari/Chrome 10) */ 
		/* Webkit (Chrome 11+) */ 
		/* W3C Markup, IE10 Release Preview */
	}

/*	=============================================================================================================
	CONTENT STYLE
	============================================================================================================= */

	#content-wrapper { position:relative;  }

	#hero
	{
		height: 517px;
		background-color:#000;
		position:relative;
		margin-top:135px;
	}
	
	#hero h1 {
		font-family: "Bitter";
		color: #FFF !important;
		position: absolute;
		top: 70px;
		font-size: 71px;
		font-weight: bold;
		left: 50px;
		width: 380px;
		line-height: 67px;
		text-align: left;
	}
	
	#hero .subhead
	{
		font-family: "Bitter";
		color: #A6D1CE;
		font-size: 40px;
		position: absolute;
		top: 213px;
		left: 50px;
		font-weight: bold;
		font-style: italic;
	}
	
	#hero .subsubhead
	{
		font-family: 'Open Sans';
		color: #FFF;
		font-size: 27px;
		position: absolute;
		top: 280px;
		left: 50px;
	}
		#hero .subsubhead-2
	{
		font-family: 'Open Sans';
		color: #FFF;
		font-size: 27px;
		position: absolute;
		top: 220px;
		left: 50px;
	}
	#hero_button {
		position: absolute;
		top: 340px;
		left: 50px;
	}
	#hero_button-2 {
		position: absolute;
		top: 290px;
		left: 50px;
	}
	#content-hero
	{
		margin-top:130px !important;
		overflow:hidden;
	}
/*	=============================================================================================================
	FOOTER STYLE
	============================================================================================================= */

	
	#footer-link
	{
		background-color: #3E3B32;
		width: 100%;
		height: 475px;
	}
	#footer-link .footer-column {
		width: 185px;
		float: left;
		color: #FFF;
		margin: 20px 0 22px 1%;
		padding: 1% 0 0 1%;
		width: 18%;
		text-align: left;
		font-size: 12px;

	}
	#footer-link .footer-column a
	{
		color: #FFF;
		font-weight: normal;
		text-decoration: none;
	}
	.last
	{
		margin-right: 0px !important;
	}


	
	#footer-link .footer-column a:hover{
		text-decoration: underline;
	}
	#footer-link .footer-column .list-title, #footer-link .footer-column .list-title a
	{
		padding-top: 15px;
		font-weight: bold;
		font-size: 15px;
		line-height: 16px;
	}
	#footer-link .footer-column li {
		margin-bottom: 8px;
	}
	#footer-link .footer-column ul
	{
		margin-bottom:10px;
	}
	#footer-bands
	{
		background-color: #2d2c25;
		height: 45px;
		padding: 20px 0;
		text-align: left;
		width: 100%;
		float: left;
		
	}
	#footer-bands .inner-wrap
	{
		position: relative;
	}
	#footer-bands img {
		float: left;
		margin-top: 25px;
	}	
	.footer-content
	{
		float: left;
		
	}
	.footer-input
	{
		border: 7px solid #838179;
		overflow: visible;
		width: 394px;
		height: 33px;
        float: left;
		margin-right: 30px;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease;
        -ms-transition: All 1s ease;
        transition: All 1s ease;
        position: relative;
	}
    .footer-input.error {
        border: 7px solid #D86969;

    }
    .footer-input-error {
        display: none;
        background-color: rgb(201, 63, 63);
        padding: 3px 8px;
        position: absolute;
        top: 40px;
        font-size: 12px;
        color: #FFFFFF;
    }
	.txt-signup
	{
		width: 340px;
		float: left;
		height: 15px;
		border: 1px solid #FFF;
		color:#666;
	}
	.no-color
	{
		color:#666;
	}
	.a-signup
	{
		background: #FFF URL('../images/home/sub-button.png') 6px 3px no-repeat;
		height: 13px;
		width: 15px;
		display: block;
		float: left;
		padding: 10px;
	}
	
	.a-social
	{
		float: left;
		width: 45px;
		height: 45px;
		background-color: #838179;
		color: #838179;
		margin-right:30px;
		background: #838179 url('../images/home/social-sprite.jpg') no-repeat;
	}

	.a-social:hover
	{
		text-decoration:none;
	}

	.a-social.facebook
	{
		background-position:  0 0;
	}

	.a-social.facebook:hover
	{
		
		background-position: 0 -45px;
	}

	.a-social.twitter
	{
		background-position: -44px 0;
	}

	.a-social.twitter:hover
	{
		background-position: -44px -45px;
	}

	.a-social.youtube
	{
		background-position: -86px 0;
	}

	.a-social.youtube:hover
	{
		background-position: -86px -45px;
	}

	.a-social.gplus
	{
		background-position: -131px 0;
	}

	.a-social.gplus:hover
	{
		background-position: -131px -45px;
	}

	.a-social.insta{
	background-position: -175px 0;
	}

	.a-social.insta:hover{
	background-position: -175px -45px;
	}

	.a-social.pinterest {
	background-position: -263px 0;
	}

	.a-social.pinterest:hover {
	background-position: -263px -45px;
	}

	.a-social.wp {
	background-position: -219px 0;
	}
	.a-social.wp:hover {
	background-position: -219px -45px;
	}

	#footer-bottom {
		
		background-color: #3E3B32;
		width: 100%;
		height: 58px;
		padding-top: 20px;
		border-top: 1px #666 solid;
	}
	#footer-logo {
		float: left;
		font-size: 12px;
		color: #999;
		line-height: 20px;
	}
	#footer-logo a {
		font-size: 12px;
		color: #999;
		line-height: 20px;
		text-decoration: none;
		font-weight: normal;
	}
	#footer-logo img { 
		vertical-align: middle;
		margin: 0 15px 0 10px;
	}
	#footer-usa {
		color: #999;
		float: right;
		font-size: 12px;
		line-height: 20px;
	}
	#footer-usa img {
		margin: 0 10px 0 5px;
		vertical-align: middle;
	}

/*	================================================6=============================================================
	CAMPAIGN FOOTER STYLE
	============================================================================================================= */

	#container-footer	
	{
		position:relative;
		height:70px;
		border-top:1px solid #CCC;
		line-height:22px;
		margin-bottom:20px;
		padding-top:20px;
		color:#666;

	}
	#campaign-footer
	{
		background-color:#2D2C25;
	}
	#campaign-footer-links {
		background-color: #3E3B32;
		width: 100%;
		height: 49px;
		text-align: center;
	}
	#campaign-footer-links ul {
		margin: 0px auto;
		width: 450px;
		overflow: hidden;
	}
	#campaign-footer-links ul li {
		float: left;
		padding: 0px 20px;
		border-right: 1px solid #FFF;
		margin: 15px 0px;
	}
	#campaign-footer-links ul li.last,
	#campaign-footer-logo ul li.last
	{
		border-right:0px;
	}
	#campaign-footer-links ul li a,
	#campaign-footer-logo ul li
	{
		font-weight:normal;
		color:#FFF;
		text-decoration:none;
	}
	#campaign-footer-logo {
		background-color: #2D2C25;
		width: 100%;
		text-align: center;
		overflow:hidden;
	}
	#campaign-footer-logo #logo-container {
		width: 800px;
		overflow: hidden;
		margin: 20px auto 50px;
	}
	#campaign-footer-logo #logo-container img
	{
		float:left;
	}
	#campaign-footer-logo ul li {
		float: left;
		padding: 0px 20px;
		border-right: 1px solid #FFF;
		margin: 15px 0px;
		text-decoration:none;
	}	
	.campaign-footer img
	{
		margin-right:10px;
	}	
	#footer-notes 
	{
		position:absolute;
		top:20px;
		left:125px;
	}	
	
	.campaign-footer h4
	{
		font-size:16px;
		font-weight:bold;
	}

	#campaign-content-hero
	{
		width: 100%;
		height: 460px;
		overflow: hidden;
		background: #D8EBE9 URL('../images/ebook-pub-sandpaper-bg.png') repeat center center;
		margin-bottom:15px;
	}
	#campaign-content-hero .inner-wrap {
		height: 460px;
	}
	#campaign-content-hero p.subhead {
		font-size: 20px;
		color: #153268;
		margin-bottom: 0px;
	}
	#campaign-hero-content h1 {
		margin: 0px auto 10px auto;
		font-size: 49px;
		line-height: 55px;
	}
	#campaign-hero-content p
	{
		color:#153268;
		font-size: 20px;
	}
	#campaign-hero-content {
		width: 500px;
		margin-top: 25px;
	}
	#campaign-hero-content #hero-actions
	{
		margin-top:15px;
	}
	#campaign-content-hero #hero-image {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	#campaign-hero-content .learn-more {
		margin-left: 15px;
		font-size: 15px;
	}
	#campaign-items .ppc-item
	{
	
	}
	#campaign-publish-devices
	{
		display: block;
		overflow:hidden;
		background-color:#EDEDEB;
	}
	#campaign-publish-devices .inner-wrap
	{
		overflow:hidden;
	}
	#campaign-publish-devices img {
		float: left;
		margin-right: 19px;
	}
	#campaign-publish-devices #publish-content
	{
		margin-top:32px;
		overflow:hidden;
	}
	#campaign-publish-devices #publish-content h2
	{
		margin-bottom:7px;
	}
	#campaign-publish-devices #publish-content p
	{
		margin-bottom:5px;
	}
	#campaign-banner-section p {
		font-size: 18px;
		margin-top:25px;
	}
	#campaign-banner-section a.button
	{
		margin-bottom: 30px;
	}
	#campaign-banner-section #banners
	{
		margin-bottom:30px;
	}
	#campaign-banner-section #banners #left
	{
		margin-right: 30px;
	}
	#campaign-items .ppc-item {
		overflow: hidden;
		margin: 15px 0px;
		padding: 14px 0px 35px 0px;
		background: transparent URL('../images/home/suboffer-bg-dot.png') repeat-x bottom center;
	}
	#campaign-items .ppc-item.last
	{
		background:transparent;
		padding-bottom:0px;
	}
	#campaign-items .ppc-item img {
		float: left;
		margin-right: 20px;
	}
	#campaign-items .ppc-item h3 a
	{
		color:inherit;
		text-decoration:none;
	}
	#campaign-items .ppc-item h3
	{
		margin-bottom: 7px;
	}
	#campaign-items .ppc-content {
		float: right;
		width: 830px;
	}
	
	/*	=============================================================================================================
	RIGHT SIDEBAR PAGE LAYOUT
	============================================================================================================= */
	
	#content-left
	{
		width:620px;
		float:left;	
		margin-right:50px;
	}
	#content-right
	{
		width:250px;
		float:right;
		margin-bottom:20px;	
	}
	
	/*
		
		*/

	
/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1;}
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: none;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 285px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }