#l1		{background:#FF6000; padding:4px; width:100%; border-bottom:1 solid #FFFFFF; border-right:1 solid #FFFFFF}
#l2		{background:#FFF0E0; padding:4px; width:25%;  border-bottom:1 solid #FFFFFF; border-right:1 solid #FFFFFF; font-family:Verdana; font-size:13px; font-weight:bold; text-align:center}
#l3		{background:#F0F0F0; padding:4px; width:25%;  border-bottom:1 solid #FFFFFF; border-right:1 solid #FFFFFF; font-family:Verdana; font-size:13px; font-weight:bold; text-align:center}
#l4             {background:#F0F0F0; padding:4px; width:25%;  border-bottom:1 solid #FFFFFF; border-right:1 solid #FFFFFF; font-family:Verdana; font-size:13px; text-align:left}
#l5		{background:#F0F0F0; padding:4px;  border-right:2 solid #FFFFFF; font-family:Verdana; font-size:13px; font-weight:bold; text-align:center}
#banners	{font-family:Verdana; font-size:10px; padding:5px; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px; background:#FFFFFF; margin-bottom:5px}
#logo		{font-family:Arial; font-size:50px; margin-left:10px; margin-right:10px; margin-top:2px; margin-bottom:3px; color:#FFFFFF}
#logo           A:link		{text-decoration: none; color:#FFFFFF}
#logo           A:visited	{text-decoration: none; color:#FFFFFF}
#logo           A:hover		{text-decoration: none; color:#FFFFFF}
#reklama	{margin-top:3px; padding:5px; margin-bottom:5px}
#reklama	A:link		{text-decoration: none}
#reklama	A:visited	{text-decoration: none}
#reklama	A:hover		{text-decoration: underline;color: #FF0000}
#tableline	{font-family:Verdana; font-size:12px; font-weight:bold; text-align:center}
#tablecell	{font-family:Verdana; font-size:12px; padding:4px; margin-bottom:4px}
#descr		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:4px; margin-top:10px; margin-bottom:10px}
#columnheader	{font-family:Times New Roman Cyr, Times New Roman; font-size:15pt; color:#606060; padding:10px; margin-top:0px; font-weight:bold}
#columnheader2	{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; color:#606060; margin-top:15px; margin-bottom:4px; margin-left:10px; font-weight:bold}
#columntext	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; color:#606060; margin-top:5px; margin-bottom:10px; margin-left:10px}
#comments	{font-family:Times New Roman Cyr, Times New Roman; font-size:10pt; font-weight:normal}
#small		{font-family:Times New Roman Cyr, Times New Roman; font-size:10pt}
#butt		{font-family:Verdana; font-size:8pt; font-weight:bold}
#tablelogin	{border:1px dotted #808080; width:180; text-align:center; margin-right:10px; margin-top:10px}
#tablediary	{margin-right:10px}
#footer		{font-family:Times New Roman Cyr, Times New Roman; font-size:10pt; color:#808080; padding:10px}
#printver	{font-family:Verdana; font-size:12px; padding:0px; margin-left:10px; margin-right:30px; text-align:left}	
#title		{font-family:Times New Roman Cyr, Times New Roman; font-size:18pt; padding:5px; margin-top:20px; margin-left:20px; font-weight:bold; color:#606060}
#titleauthor	{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-bottom:30px; margin-left:20px; font-weight:bold}
#text		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:5px; margin-left:50px; margin-right:50px; margin-top:40px; margin-bottom:20px}
#copyright	{font-family:Times New Roman Cyr, Times New Roman; font-size:11pt; margin-left:20px; margin-top:10px; margin-bottom:10px}
#titlerec	{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-top:60px; margin-bottom:0px; margin-left:15px; font-weight:bold; color:#606060}
#textlink	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:20px; margin-left:20px; margin-right:20px}
#rec		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:10px; margin-bottom:10px; margin-left:10px; margin-right:5px; background:#FFF0E0}
#notesline	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:0px; margin-bottom:0px; margin-left:10px; margin-right:5px}
#notes		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:10px; margin-bottom:10px; margin-left:100px; margin-right:5px; background:#F0F0F0}
#anonses	{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:20px; margin-bottom:20px; margin-left:10px; margin-right:5px; background:#F0F0F0}
#authorsphoto	{margin-left:22px; margin-top:20px; margin-bottom:0px; overflow:hidden; width:96%}
#calendar	{font-family: Verdana, Arial, Helvetica; font-size: 8pt}
#header		{font-family:Times New Roman Cyr, Times New Roman; font-size:18pt; padding:5px; margin-top:20px; margin-left:20px; margin-bottom:5px; font-weight:bold; color:#606060}
#header1	{font-family:Times New Roman Cyr, Times New Roman; font-size:18pt; padding:5px; margin-top:20px; margin-left:20px; margin-bottom:5px; font-weight:bold; color:#606060}
#header2	{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-top:20px; margin-bottom:10px; margin-left:20px; margin-right:0px; font-weight:bold; color:#606060}
#header3	{font-family:Times New Roman Cyr, Times New Roman; font-size:15pt; padding:5px; margin-top:20px; margin-bottom:10px; margin-left:20px; margin-right:0px; font-weight:bold; color:#606060}
#cite		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-left:40px; font-style: italic}
#margin		{padding:5px; margin-top:5px; margin-left:20px; margin-right:20px; margin-bottom:5px}
#margins	{padding:5px; margin-top:5px; margin-left:20px; margin-right:20px; margin-bottom:5px}
#diary		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:10px; margin-left:20px}
#diary		A:link		{text-decoration: none}
#diary		A:visited	{text-decoration: none}
#diary		A:hover		{text-decoration: underline;color: #FF0000}
#search		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:20px; margin-bottom:20px; margin-left:20px; margin-right:10px; background:#F0F0F0}
#diarycalendar	{margin-left:20px; margin-right:10px}
#searchmarquee	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:20px; margin-left:20px; display:block; width:98%}
#textassist	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:450}
#recform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:800}
#textform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:800}
#textheader	{font-family:Courier New Cyr, Courier New; font-size:12pt; font-weight:bold; width:800}
#loginsform	{font-family:Courier New Cyr, Courier New; font-size:10pt; width:600}
#htmlcode	{font-family:Courier New Cyr, Courier New; font-size:12pt; margin-left:20px; margin-top:10px; margin-bottom:10px}
#introform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:800}
#rifmaul	{display:inline; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px; padding-left:0}
#rifmali	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; margin-left:20px; margin-right:0px; margin-top:0px; margin-bottom:0px; padding:10px; display:inline; width:200}
#loginform	{font-family:Verdana; font-size:9pt; margin-left:20px; margin-top:20px; margin-right:20px; background-color:#F8F8F8; border:1 solid #000000; position:absolute; top:40%; left:25%; width:30%; height:220; display:none}
#bookheader	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:0px; margin-left:20px; margin-right:20px; font-weight:bold}
#resolution     {font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:10px; margin-bottom:10px; margin-left:23px; margin-right:10px; width:1100px; background:#FCFCF0}

#answerslayer	{POSITION:absolute; TOP:0; LEFT:0; Z-INDEX:80000; WIDTH:100%; visibility:hidden}
#piclayer	{POSITION:absolute; TOP:70; LEFT:0; Z-INDEX:80000; WIDTH:100%; visibility:hidden}
#letterlayer	{POSITION:absolute; TOP:100; LEFT:0; Z-INDEX:80000; WIDTH:100%; visibility:visible}
#anonslayer	{POSITION:absolute; TOP:160; LEFT:0; Z-INDEX:80000; WIDTH:100%; visibility:visible}


h1		{font-family:Times New Roman Cyr, Times New Roman; font-size:20pt; padding:5px; margin-top:15px; margin-left:20px; margin-bottom:5px; font-weight:bold; color:#606060}
h2		{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-top:20px; margin-bottom:5px; margin-left:20px; margin-right:20px; font-weight:bold; color:#606060}
h3		{font-family:Times New Roman Cyr, Times New Roman; font-size:15pt; padding:5px; margin-top:20px; margin-bottom:5px; margin-left:20px; margin-right:20px; font-weight:bold; color:#606060}
P		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px}
DIV		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt}
TD		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt}
UL		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; margin-top:10px; margin-bottom:10px}
OL		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; margin-left:10px}
LI		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; margin-top:2px; margin-bottom:2px}
PRE		{font-family: Times New Roman Cyr, Times New Roman; font-size:13pt}
INPUT		{font-family: Verdana, Arial, Helvetica; font-size:10pt}
TEXTAREA	{font-family: Verdana, Arial, Helvetica; font-size:10pt}
.avtormenu	{font-family: Arial; font-size:9pt}
.letter		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-left:20px; margin-right:10px; margin-top:10px; margin-bottom:10px}
.answer		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:20px; margin-bottom:10px; margin-left:100px; margin-right:10px; background:#F0F0F0}
.text		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:5px; margin-left:50px; margin-right:50px; margin-top:40px; margin-bottom:20px}
.titleauthor	{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-bottom:30px; margin-left:20px; font-weight:bold}
.authorsphoto	{margin-left:22px; margin-top:20px; margin-bottom:0px; overflow:hidden; width:96%}
.copyright	{font-family:Times New Roman Cyr, Times New Roman; font-size:11pt; margin-left:20px; margin-top:10px; margin-bottom:10px}
.titlerec	{font-family:Times New Roman Cyr, Times New Roman; font-size:16pt; padding:5px; margin-top:60px; margin-bottom:0px; margin-left:15px; font-weight:bold; color:#606060}
.rec		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:10px; margin-bottom:10px; margin-left:15px; margin-right:10px; background:#FFF0E0}
.bigdot		{margin-top:3px; padding:5px; margin-bottom:5px}
.bigdot		A:link		{text-decoration: none}
.bigdot		A:visited	{text-decoration: none}
.bigdot		A:hover		{text-decoration: underline;color: #FF0000}
.notes		{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:10px; margin-top:10px; margin-bottom:10px; margin-left:100px; margin-right:5px; background:#F0F0F0}
.notesline	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:0px; margin-bottom:0px; margin-left:10px; margin-right:5px}
.search		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:20px; margin-bottom:20px; margin-left:20px; margin-right:10px; background:#F0F0F0}
.searchmarquee	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:20px; margin-left:20px; display:block; width:98%}
.calendar	{font-family: Verdana, Arial, Helvetica; font-size: 8pt}
.small		{font-family:Times New Roman Cyr, Times New Roman; font-size:10pt}
.butt		{font-family:Verdana; font-size:8pt; font-weight:bold}
.footer		{font-family:Times New Roman Cyr, Times New Roman; font-size:10pt; color:#808080; padding:10px}
.margins	{padding:5px; margin-top:5px; margin-left:20px; margin-right:20px; margin-bottom:5px}
.textassist	{font-family:Courier New Cyr, Courier New; font-size:11pt; width:450}
.textlink	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:20px; margin-left:20px; margin-right:20px}
.rightmenu	{font-family:Arial;font-size:9pt;margin-left:0px}
.diary		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:10px; margin-left:20px}
.diary		A:link		{text-decoration: none}
.diary		A:visited	{text-decoration: none}
.diary		A:hover		{text-decoration: underline;color: #FF0000}
.diarytext	{font-family:Times New Roman Cyr, Times New Roman; font-size:13.5pt; padding:5px; margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px}
.bookheader	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-top:5px; margin-bottom:0px; margin-left:20px; margin-right:20px; color:#404040; font-weight:bold}
.anonses	{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:10px; margin-top:20px; margin-bottom:20px; margin-left:15px; margin-right:10px; background:#F0F0F0}
.recform	{font-family:Trebuchet MS, Courier New Cyr, Courier New; font-size:12pt; width:800}
.textform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:800}
.textheader	{font-family:Courier New Cyr, Courier New; font-size:12pt; font-weight:bold; width:800}
.loginsform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:600}
.htmlcode	{font-family:Courier New Cyr, Courier New; font-size:12pt; margin-left:20px; margin-top:10px; margin-bottom:10px}
.introform	{font-family:Courier New Cyr, Courier New; font-size:12pt; width:800}
.cite		{font-family:Times New Roman Cyr, Times New Roman; font-size:13pt; padding:5px; margin-left:40px; font-style: italic}
.answerslayer	{POSITION:absolute; TOP:0; LEFT:0; Z-INDEX:80000; WIDTH:13pt; visibility:hidden}

A:hover		{color: #FF3000}
SPAN.sel	{background-color:#FFF0E0}
