/* image size are 80% of the 1500 breakpoint */

#ssi-content.w1200 .button-shadow {
	display:inline-block;
	background:url("../../../../../../us/en/include/tablets-2/imgs/000000-15.png");
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:2px 0 0 1px;
	padding:0 1px 2px 0;
}
#ssi-content.w1200 .button {
	display:inline-block;
	background-color:#00aeef;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:-2px 0 0 5px;
	padding:5px 15px;
	font-size:18px;
	line-height:26px;
	color:#ffffff;
}
#ssi-content.w1200 .button:hover {
	background-color: #9addf7;
}

#ssi-content.w1200 .shop-button {
	position:fixed;
	width:1200px;
	margin-left:-600px;
	left:50%;
	z-index:100;
}
#ssi-content.w1200 .shop-button .background {
	position:absolute;
	top:0;
	right:0;
	background:url("../../../../../../us/en/include/tablets-2/imgs/2f2f2f-70.png");
	padding:16px 24px;
}
#ssi-content.w1200 .shop-button .text {
	margin: 5px 24px 0 0;
	font-size:18px;
	line-height:26px;
	font-weight:200;
	color:#ffffff;
	display:inline-block;
}

/* #ssi-content.w1200 .shadowed {
	-webkit-filter: drop-shadow(40px 70px 30px rgba(0,0,0,0.36));
	filter: url("/content/dam/www/public/us/en/include/tablets-2/imgs/shadow.svg#drop-shadow");
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=40,OffY=70,Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=40,OffY=70,Color='#444')";
} */

#ssi-content.w1200 .section .inner {
	width:1200px;
}

#ssi-content.w1200 .section-1 {
	background-color:#202020;
	color:#ffffff;
	z-index:1;
}
#ssi-content.w1200 .section-1 .inner {
	height:780px;
}
#ssi-content.w1200 .section-1 .margin {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#ssi-content.w1200 .section-1 .background {
	position:absolute;
	top:0;
	left:0;
}
#ssi-content.w1200 .section-1 .clipping {
	position:absolute;
	left:330px;
	top:225px;
	z-index:1;
	/* -webkit-transform:translate(110px,-390px) rotate(30deg); */
	/* -ms-transform:translate(110px,-390px) rotate(30deg); */
	/* -o-transform:translate(110px,-390px) rotate(30deg); */
	/* transform:translate(110px,-390px) rotate(30deg); */
}
#ssi-content.w1200 .section-1 .clipping .device {
	position:absolute;
	top:0;
	left:-120px;
}
#ssi-content.w1200 .section-1 .text {
	/* opacity:0; */
	/* visibility:hidden; */
	position:absolute;
	top:100px;
	left:60px;
	/* width:500px; */
}
#ssi-content.w1200 .section-1 .text-1 {
	/* position:absolute; */
	/* top:0; */
	/* left:0; */
	/* right:0; */
	/* text-align:center; */
	font-weight:200;
	padding-bottom:50px;
	border-bottom:1px solid #666666;
}
#ssi-content.w1200 .section-1 .text-1 .line-1 {
	font-size:36px;
}
#ssi-content.w1200 .section-1 .text-1 .line-2 {
	font-size:60px;
	line-height:73px;
}
#ssi-content.w1200 .section-1 .text-1 .line-3 {
	font-size:60px;
}
#ssi-content.w1200 .section-1 .tagline {
	padding-top:50px;
}
#ssi-content.w1200 .section-1 .badge-1 {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0;
}
#ssi-content.w1200 .section-1 .text-2 {
	display:inline-block;
	vertical-align:middle;
	font-size:26px;
	line-height:44px;
	font-weight:200;
	padding-left:20px;
	/* width:265px; */
}

#ssi-content.w1200 .section-2 {
	background-color:#000000;
	overflow:hidden;
}
#ssi-content.w1200 .section-2 .inner {
	height:730px;
}
#ssi-content.w1200 .section-2 .parallax {
	position:absolute;
	top:0;
	left:0;
}
#ssi-content.w1200 .section-2 .parallax .background {
	position:absolute;
}
#ssi-content.w1200 .section-2 .blurb {
	opacity:0;
	visibility:hidden;
	position:absolute;
	left:60px;
	top:220px;
}
#ssi-content.w1200 .section-2 .icon {
	display:block;
}
#ssi-content.w1200 .section-2 .text {
	color:#ffffff;
	font-size:72px;
	/* line-height:66px; */
	margin-top:15px;
	font-weight:200;
}
#ssi-content.w1200 .section-2 .text-1 {
	width:1080px;
}
#ssi-content.w1200 .section-2 .text-2 {
	width:1080px;
}
#ssi-content.w1200 .section-2 .text-3 {
	width:770px;
}

#ssi-content.w1200 .section-3 {
	background-color:#555c61;
	color:#ffffff;
	z-index:1;
}
#ssi-content.w1200 .section-3 .inner {
	height:2645px;
}
#ssi-content.w1200 .section-3 .device-1 {
	position:absolute;
	top:130px;
	left:640px;
}
#ssi-content.w1200 .section-3 .info-1 {
	width:454px;
	height:454px;
	margin:-272px;
	position:absolute;
	top:60px;
	left:250px;
}
#ssi-content.w1200 .section-3 .info-1 img {
	position:absolute;
	left:33px;
	top:42px;
}
#ssi-content.w1200 .section-3 .title {
	font-size:72px;
	line-height:83px;
	padding-bottom:40px;
}
#ssi-content.w1200 .section-3 .inner > .text {
	font-weight:200;
}
#ssi-content.w1200 .section-3 .text > .text {
	font-size:22px;
	line-height:30px;
	padding-bottom:20px;
}
#ssi-content.w1200 .section-3 .text > .cta {
	color:#00aeef;
	font-size:22px;
	line-height:30px;
}
#ssi-content.w1200 .section-3 .text-1 {
	position:absolute;
	left:60px;
	top:320px;
	width:510px;
}
#ssi-content.w1200 .section-3 .device-2 {
	position:absolute;
	top:1055px;
	left:-260px;
}
#ssi-content.w1200 .section-3 .info-2 {
	width:462px;
	height:462px;
	margin:-231px;
	position:absolute;
	top:1600px;
	left:895px;
}
#ssi-content.w1200 .section-3 .info-2 img {
	position:absolute;
	left:34px;
	top:42px;
}
#ssi-content.w1200 .section-3 .text-2 {
	position:absolute;
	left:650px;
	top:835px;
	width:510px;
}

#ssi-content.w1200 .section-3 .device-3 {
	position:absolute;
	top:1990px;
	left:425px;
}
#ssi-content.w1200 .section-3 .info-3 {
	width:461px;
	height:461px;
	margin:-230px;
	position:absolute;
	top:2450px;
	left:190px;
}
#ssi-content.w1200 .section-3 .info-3 img {
	position:absolute;
	left:33px;
	top:42px;
}
#ssi-content.w1200 .section-3 .text-3 {
	position:absolute;
	left:60px;
	top:1700px;
	width:510px;
}

#ssi-content.w1200 .section-4 {
	background-color:#2a2a2a;
}
#ssi-content.w1200 .section-4 .inner {
	height:935px;
}
#ssi-content.w1200 .section-4 .title {
	color:#ffffff;
	font-size:66px;
	text-align:center;
	font-weight:200;
	padding:90px 0 0;
}
#ssi-content.w1200 .section-4 .slide {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	z-index:0;
	opacity:0;
	overflow:hidden;
	/* transition:opacity 500ms linear 0s,z-index 0s linear 500ms,height 0s linear 500ms; */
}
#ssi-content.w1200 .section-4 .slide.active {
	z-index:1;
	opacity:1;
	height:100%;
	overflow:visible;
	/* transition:opacity 500ms linear 0s,z-index 0s linear 500ms,height 0s linear 0s; */
}
#ssi-content.w1200 .section-4 .slide img {
	position:absolute;
}
#ssi-content.w1200 .section-4 .slide .text {
	position:absolute;
	color:#555555;
	font-size:42px;
	line-height:50px;
	font-weight:200;
}
#ssi-content.w1200 .section-4 .slide.slide-1 img {
	left:65px;
	top:265px;
}
#ssi-content.w1200 .section-4 .slide.slide-1 .text {
	left:50px;
	top:152px;
	width:390px;
}
#ssi-content.w1200 .section-4 .slide.slide-2 img {
	left:80px;
	top:270px;
}
#ssi-content.w1200 .section-4 .slide.slide-2 .text {
	left:50px;
	top:152px;
	width:390px;
}
#ssi-content.w1200 .section-4 .slide.slide-3 img {
	left:97px;
	top:277px;
}
#ssi-content.w1200 .section-4 .slide.slide-3 .text {
	left:50px;
	top:152px;
	width:390px;
}
#ssi-content.w1200 .section-4 .nav {
	position:absolute;
	left:50px;
	bottom:50px;
	z-index:2;
	white-space:nowrap;
}
#ssi-content.w1200 .section-4 .nav .item {
	white-space:normal;
	display:inline-block;
	width:69px;
	height:68px;
	margin-right:20px;
	background:url("../../../../../../us/en/include/tablets-2/imgs/1200/usage_nav_sheet.png") no-repeat;
	content:" ";
}
#ssi-content.w1200 .section-4 .nav .item div {
	width:89px;
	left:-10px;
	top:68px;
	text-align:center;
	color:#ffffff;
	font-size:13px;
	font-weight:200;
}
#ssi-content.w1200 .section-4 .nav .item:after {
	background:url("../../../../../../us/en/include/tablets-2/imgs/1200/usage_nav_sheet.png") no-repeat;
	content:" ";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	margin:-50%;
	left:50%;
	top:50%;
	transform:scale(1);
	opacity:0;
}
#ssi-content.w1200 .section-4 .nav .item.anim:after {
	-webkit-animation:pulse 1s;
	-moz-animation:pulse 1s;
	-o-animation:pulse 1s;
	animation:pulse 1s;
}
#ssi-content.w1200 .section-4 .nav .item.item-1,
#ssi-content.w1200 .section-4 .nav .item.item-1:after {
	background-position:0px 0px;
	content:"  ";
}
#ssi-content.w1200 .section-4 .nav .item.item-2,
#ssi-content.w1200 .section-4 .nav .item.item-2:after {
	background-position:-70px 0px;
	content:"  ";
}
#ssi-content.w1200 .section-4 .nav .item.item-3,
#ssi-content.w1200 .section-4 .nav .item.item-3:after {
	background-position:-139px 0px;
	content:"  ";
}
#ssi-content.w1200 .section-4 .nav .item.item-1.active,
#ssi-content.w1200 .section-4 .nav .item.item-1:hover {
	background-position:0px -68px;
	content:"   ";
}
#ssi-content.w1200 .section-4 .nav .item.item-2.active,
#ssi-content.w1200 .section-4 .nav .item.item-2:hover {
	background-position:-70px -68px;
	content:"   ";
}
#ssi-content.w1200 .section-4 .nav .item.item-3.active,
#ssi-content.w1200 .section-4 .nav .item.item-3:hover {
	background-position:-139px -68px;
	content:"   ";
}

#ssi-content.w1200 .section-5 {
	background-color:#ffffff;
	z-index:1;
}
#ssi-content.w1200 .section-5 .inner {
	height:1025px;
}
#ssi-content.w1200 .section-5 .info-4,
#ssi-content.w1200 .section-5 .info-4-trigger {
	position:absolute;
	bottom:88px;
	left:742px;
}
#ssi-content.w1200 .section-5 .info-4-trigger {
	visibility:hidden;
	opacity:0;
}
#ssi-content.w1200 .section-5 .info-4 {
	width:470px;
	height:470px;
	margin:-235px;
}
#ssi-content.w1200 .section-5 .info-4 img {
	position:absolute;
	left:33px;
	top:41px;
}
#ssi-content.w1200 .section-5 .device {
	top:175px;
	left:-250px;
}
#ssi-content.w1200 .section-5 .title {
	color:#0071c5;
	font-size:66px;
	font-weight:200;
	line-height:69px;
	letter-spacing:-0.01em;
	position:absolute;
	top:60px;
	left:430px;
	width:740px;
}
#ssi-content.w1200 .section-5 .content {
	position:absolute;
	left:680px;
	top:310px;
	width:455px;
}
#ssi-content.w1200 .section-5 .content .badge-2 {
	position:absolute;
	top:0;
	left:-130px;
}
#ssi-content.w1200 .section-5 .content p {
	color:#666666;
	font-size:22px !important;
	font-weight:200;
	line-height:30px;
	margin:0 0 25px;
}
#ssi-content.w1200 .section-5 .line {
	background:url("../../../../../../us/en/include/tablets-2/imgs/000000-35.png") repeat;
	height:1px;
	margin:40px 0;
	content:" ";
}
#ssi-content.w1200 .section-5 .content .about-more {
}
#ssi-content.w1200 .section-5 .content .about-more .badges {
	display:inline-block;
	margin-left:-5px;
}
#ssi-content.w1200 .section-5 .content .about-more .text {
	display:inline-block;
	color:#0071c5;
	font-size:18px;
	line-height:22px;
	width:205px;
	margin:10px -100px 0 -5px;
}

#ssi-content.w1200 .section-6 {
	background-color:#26333d;
	color:#ffffff;
}
#ssi-content.w1200 .section-6 .inner {
	text-align:center;
	/* padding-bottom:465px; */
	padding-bottom:50px;
}
#ssi-content.w1200 .section-6 .inner .column {
	display:inline-block;
	text-align:left;
}
#ssi-content.w1200 .section-6 .inner .column img {
	border:2px solid #ffffff;
}
#ssi-content.w1200 .section-6 .inner > .title {
	font-size:72px;
	line-height:75px;
	font-weight:200;
	padding:100px 0 60px;
}
#ssi-content.w1200 .section-6 .inner .column .title {
	font-size:36px;
	line-height:42px;
	padding:20px 0 18px;
}
#ssi-content.w1200 .section-6 .inner .column .text {
	font-size:20px;
	line-height:26px;
}
#ssi-content.w1200 .section-6 .inner .columns-1 {
	padding-bottom:50px;
	white-space:nowrap;
}
#ssi-content.w1200 .section-6 .inner .columns-1 .column {
	margin-left:15px;
}
#ssi-content.w1200 .section-6 .inner .columns-1 .column-1 {
	margin-left:0;
}
#ssi-content.w1200 .section-6 .inner .columns-2 {
	padding-bottom:45px
}
#ssi-content.w1200 .section-6 .inner .columns-2 .column {
	width:370px;
	padding-left:80px;
}
#ssi-content.w1200 .section-6 .inner .columns-2 .column-1 {
	padding-left:0;
}
#ssi-content.w1200 .section-6 .inner .columns-2 .title {
	font-size:24px;
}
#ssi-content.w1200 .section-6 .inner .columns-2 .text {
	font-size:16px;
	line-height:20px;
	padding-top:15px;
}
#ssi-content.w1200 .section-6 .inner > .text {
	/* text-align:left; */
	width:1080px;
	margin:0 auto;
	/* -webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	column-gap:100px; */
}
#ssi-content.w1200 .section-6 .inner > .text p {
	font-size:22px !important;
	line-height:30px;
	font-weight:200;
	color:#FFF;
}
#ssi-content.w1200 .section-6 .inner .cta {
	padding:40px 0 60px;
}
#ssi-content.w1200 .section-6 .inner .cta a {
	font-size:22px;
	color:#00aeef;
}
#ssi-content.w1200 .section-6 .line {
	/* background:url("/content/dam/www/public/us/en/include/tablets-2/imgs/ffffff-20.png") repeat; */
	/* height:1px; */
	/* margin:45px 110px 0; */
	display:none;
}

#ssi-content.w1200 .section-6-video {
	background-color:#ffffff;
	text-align:center;
	z-index:1;
}
#ssi-content.w1200 .section-6-video .background-top {
	background-color:#26333d;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:60%;
}
#ssi-content.w1200 .section-6-video .line {
	background:url("../../../../../../us/en/include/tablets-2/imgs/ffffff-20.png") repeat;
	height:1px;
	/* width:85%; */
	margin:0 auto;
}
#ssi-content.w1200 .section-6-video .title {
	color:#ffffff;
	font-size:72px;
	font-weight:200;
	padding:35px 0 50px;
}
#ssi-content.w1200 .section-6-video .video {
	position:relative;
	display:inline-block;
	overflow:hidden;
	margin:0 auto;
	background-color:#0071c5;
	border:2px solid #ffffff;
	-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
}
#ssi-content.w1200 .section-6-video .video-thumb {
	margin:-2px;
}
#ssi-content.w1200 .section-6-video .video-play {
	position:absolute;
	margin:-105px;
	top:50%;
	left:50%;
}
#ssi-content.w1200 .section-6-video .desc {
	color:#666666;
	font-size:36px;
	font-weight:200;
	padding:20px 0 0;
}

#ssi-content.w1200 .section-7 {
	background-color:#ffffff;
	text-align:center;
}
#ssi-content.w1200 .section-7 .inner {
	/* padding-top:340px; */
	padding-top:50px;
	color:#999999;
}
#ssi-content.w1200 .section-7 > .title {
	/* position:absolute; */
	/* top:-425px; */
	/* left:0; */
	/* right:0; */
	/* color:#ffffff; */
	/* font-size:58px; */
	/* font-weight:200; */
	display:none;
}
#ssi-content.w1200 .section-7 .video-wrapper {
	/* position:absolute; */
	/* top:-300px; */
	/* left:0; */
	/* right:0; */
	display:none;
}
#ssi-content.w1200 .section-7 .video {
	/* width:1200px; */
	/* height:533px; */
	/* margin:0 auto; */
	/* border:2px solid #ffffff; */
	/* box-shadow:0 0 1em #000000; */
	/* background-color:#ff00ff; */
	display:none;
}
#ssi-content.w1200 .section-7 .video-title {
	/* font-size: 36px; */
	/* font-weight:200; */
	/* color:#666666; */
	/* text-align:center; */
	/* margin-top:15px; */
	display:none;
}
#ssi-content.w1200 .section-7 .columns {
	margin:0 auto;
	/* padding-right:70px; */
	width:1120px;
	white-space:nowrap;
}
#ssi-content.w1200 .section-7 .column {
	display:inline-block;
	width:470px;
	margin-left:70px;
	white-space:normal;
	text-align:left;
}
#ssi-content.w1200 .section-7 .column > img{
	border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
	}
#ssi-content.w1200 .section-7 .column > .title {
	font-size:24px;
	line-height:27px;
	margin-top:20px;
	color:grey;
	margin-top: 40px;
    margin-bottom: 30px;
}
#ssi-content.w1200 .section-7 .column > .title span {
	color:grey;
}
#ssi-content.w1200 .section-7 .column > .text{
padding-bottom:10px;
}
#ssi-content.w1200 .section-7 .column.column-1 .item {
}
#ssi-content.w1200 .section-7 .column.column-1 .item .thumb {
	position:absolute;
	top:7px;
	left:-70px;
}
#ssi-content.w1200 .section-7 .column.column-1 .item > .title {
	font-size:24px;
	line-height:27px;
	padding-bottom:5px;
}
#ssi-content.w1200 .section-7 .column.column-2 .item > .title {
	padding-top:10px;
	font-size:16px;
	color:grey;
}
/*start*/
#ssi-content.w1200 .section-7 .column{
    padding-left: 0;
    margin-left: 0;
}
#ssi-content.w1200 .section-7 .column.column-1{
    display: inline-block;
    float: left;
    text-align: left;
    width: 540px;
    padding: 0;
    margin: 0;
}
#ssi-content.w1200 .section-7 .column.column-2{
    display: inline-block;
    float: left;
    text-align: left;
    width: 540px;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 30px;
}
#ssi-content.w1200 .section-7 .column img{
    float: left;
width: 250px;
margin-top: 25px;
}
#ssi-content.w1200 .section-7 .column .title{
	float:left;
    width: 220px;
font-size: 30px;
margin-left: 20px;margin-bottom: 20px;
}
#ssi-content.w1200 .section-7 .column .button-shadow{
    float: left;
margin-left: 20px;
}
#ssi-content.w1200 .section-7 .column .button{
font-size: 18px;
padding: 4px 8px;
line-height: 22px;
}
/*end*/
#ssi-content.w1200 .section-7 .column .item .byline {
	font-size:12px;
	padding-bottom:20px;
}
#ssi-content.w1200 .section-7 .column .item .date {
	font-size:12px;
}
#ssi-content.w1200 .section-7 .column .item .text,
#ssi-content.w1200 .section-7 .column .item .text a {
	font-size:16px;
}
#ssi-content.w1200 .section-7 .column .item .cta {
	font-size:16px;
}
#ssi-content.w1200 .section-7 .social {
	padding:50px 0;
	text-align:center;
	clear:both;
}
#ssi-content.w1200 .section-7 .social > a {
	display:inline-block;
	margin:0 10px;
	width:67px;
	height:67px;
	overflow:hidden;
}
#ssi-content.w1200 .section-7 .social > a.twitter {
	background:url("../../../../../../us/en/include/tablets-2/imgs/twitter.png") no-repeat;
}
#ssi-content.w1200 .section-7 .social > a.instagram {
	background:url("../../../../../../us/en/include/tablets-2/imgs/instagram.png") no-repeat;
}
#ssi-content.w1200 .section-7 .social > a.youtube {
	background:url("../../../../../../us/en/include/tablets-2/imgs/youtube.png") no-repeat;
}
#ssi-content.w1200 .section-7 .social > a.pinterest {
	background:url("../../../../../../us/en/include/tablets-2/imgs/pinterest.png") no-repeat;
}
#ssi-content.w1200 .section-7 .social > a * {
	padding-left:9999em;
}

#ssi-content.w1200 .section-8 {
	background-color:#202020;
	color:#ffffff;
	text-align:center;
}
#ssi-content.w1200 .section-8 .inner {
	padding:50px 0;
}
#ssi-content.w1200 .section-8 .inner > .title {
	font-size:48px;
	font-weight:200;
}
#ssi-content.w1200 .section-8 .columns {
	padding:30px 0 0;
	white-space:nowrap;
}
#ssi-content.w1200 .section-8 .item {
	display:inline-block;
	width:395px;
	white-space:normal;
}
#ssi-content.w1200 .section-8 .item img {
	margin:0 auto 20px;
}
#ssi-content.w1200 .section-8 .item > .title {
	color:#ffffff;
	font-size:24px;
}
#ssi-content.w1200 .section-8 .item:hover > .title {
	color:#0071c5;
}
#ssi-content.w1200 .section-8 .cta {
	font-size:30px;
	color:#ffffff;
	display:inline-block;
	margin-right:50px;
}

#ssi-content.w1200 .section-9 {
	background-color:#0075c6;
	color:#ffffff;
}
#ssi-content.w1200 .section-9 .inner {
	padding:80px 0;
}
#ssi-content.w1200 .section-9 .inner > .title {
	font-size:35px;
	text-align:center;
	padding-bottom:50px;
}
#ssi-content.w1200 .section-9 .columns {
	white-space:nowrap;
	text-align:center;
}
#ssi-content.w1200 .section-9 .item {
	display:inline-block;
	text-align:left;
	width:540px;
	margin:0 20px;
}
#ssi-content.w1200 .section-9 .item img {
	display:inline-block;
}
#ssi-content.w1200 .section-9 .item .text {
	display:inline-block;
	white-space:normal;
	width:320px;
	margin:0 20px;
}
#ssi-content.w1200 .section-9 .item .title {
	font-size:30px;
	line-height:38px;
	font-weight:200;
}
#ssi-content.w1200 .section-9 .item a {
	/* display:block; */
	/* color:white; */
	/* font-size:16px; */
	/* font-weight:200; */
	margin-top:20px;
}
#ssi-content.w1200 .section-9 .item a:hover {
	/* color:#00aeef; */
}

#ssi-content.w1200 .disclaimers {
	background:#ffffff;
}
#ssi-content.w1200 .disclaimers .inner {
	padding:30px 0;
}
#ssi-content.w1200 .disclaimers .inner div {
	color:#666666;
	font-size:10px;
}
#ssi-content.w1200 .disclaimers .inner > div {
	padding:0 30px;
}
#ssi-content.w1200 .disclaimers .accordian .title {
	font-size:16px;
	cursor:pointer;
}
#ssi-content.w1200 .disclaimers .accordian .content {
	display:none;
	padding-top:30px;
}
#ssi-content.w1200 .disclaimers .accordian.open .content {
	display:block;
}

#ssi-content.w1200 .debug {
	background-color:rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	position:fixed;
	z-index:9998;
	width:9999em;
	pointer-events:none;
}
#ssi-content.w1200 .debug.debug-left {
	right:50%;
	margin-right:600px;
}
#ssi-content.w1200 .debug.debug-right {
	left:50%;
	margin-left:600px;
}
#ssi-content.w1200 .debug-outer {
	background-color:#000000;
	top:0;
	bottom:0;
	position:fixed;
	z-index:9999;
	width:9999em;
}
#ssi-content.w1200 .debug-outer.debug-left {
	right:50%;
	margin-right:750px;
}
#ssi-content.w1200 .debug-outer.debug-right {
	left:50%;
	margin-left:750px;
}
#ssi-content.w1200 .section-5 .content-2{
	position:absolute;
	left:680px;
	top:750px;
	width:455px;
}

#ssi-content.w1200 .section-5 .content-2 p {
	color:#666666;
	font-size:22px !important;
	font-weight:200;
	line-height:30px;
	margin:0 0 15px;
}

#ssi-content.w1200 .section-5 .content-2 a {
	display:block;
	font-size:18px;
	line-height:36px;
}