/* image sizes vary; typically 65%, 72%, or near 100% of 1500px versions */

#ssi-content.w360 .button-shadow {
	display:inline-block;
	background:url("../../../../../../us/en/include/tablets-2/imgs/000000-15.png");
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:2px 0 0 1px;
	padding:0 1px 2px 0;
}
#ssi-content.w360 .button {
	display:inline-block;
	background-color:#00aeef;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:-2px 0 0 -1px;
	padding:5px 15px;
	font-size:22px;
	line-height:26px;
	color:#ffffff;
}
#ssi-content.w360 .button:hover {
	background-color: #9addf7;
}

#ssi-content.w360 .shop-button {
	display:none;
	position:fixed;
	width:320px;
	margin-left:-160px;
	left:50%;
	z-index:100;
	display:none;
}
#ssi-content.w360 .shop-button .background {
	position:absolute;
	top:0;
	right:120px;
	background:url("../../../../../../us/en/include/tablets-2/imgs/2f2f2f-70.png");
	padding:20px 30px;
}
#ssi-content.w360 .shop-button .text {
	margin: 5px 30px 0 0;
	font-size:20px;
	line-height:28px;
	font-weight:200;
	color:#ffffff;
	display:inline-block;
}

/* #ssi-content.w360 .shadowed {
	-webkit-filter: drop-shadow(40px 70px 30px rgba(0,0,0,0.36));
	filter: url("/content/dam/www/public/us/en/include/tablets-2/imgs/shadow.svg#drop-shadow");
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=40,OffY=70,Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=40,OffY=70,Color='#444')";
} */

#ssi-content.w360 .section .inner {
	/* design bug: "360px" rendition is actually 320px */
	width:320px;
}

#ssi-content.w360 .section-1 {
	background-color:#202020;
	color:#ffffff;
	z-index:1;
}
#ssi-content.w360 .section-1 .inner {
	height:513px;
}
#ssi-content.w360 .section-1 .margin {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#ssi-content.w360 .section-1 .background {
	position:absolute;
	top:0;
	left:0;
}
#ssi-content.w360 .section-1 .clipping {
	position:absolute;
	left:0;
	top:165px;
	/* -webkit-transform:translate(-50px,-155px) rotate(30deg); */
	/* -ms-transform:translate(-50px,-155px) rotate(30deg); */
	/* -o-transform:translate(-50px,-155px) rotate(30deg); */
	/* transform:translate(-50px,-155px) rotate(30deg); */
}
#ssi-content.w360 .section-1 .clipping .device {
	position:absolute;
	top:0;
	left:-150px;
	margin-left:150px;
}
#ssi-content.w360 .section-1 .text {
	/* opacity:1; */
	/* visibility:inherit; */
	position:absolute;
	top:15px;
	right:0;
	left:20px;
	bottom:0;
}
#ssi-content.w360 .section-1 .text-1 {
	/* position:absolute; */
	/* top:15; */
	/* left:0; */
	/* right:0; */
	/* text-align:center; */
	font-size:30px;
	line-height:38px;
	font-weight:200;
}
#ssi-content.w360 .section-1 .text-1 .line-1 {
	font-size:18px;
}
#ssi-content.w360 .section-1 .text-1 .line-2 {
	font-size:36px;
	line-height:42px;
}
#ssi-content.w360 .section-1 .text-1 .line-3 {
	font-size:36px;
	line-height:42px;
}
#ssi-content.w360 .section-1 .tagline {
	padding:250px 0 20px;
	width:280px;
	border-bottom:1px solid #666666;
}
#ssi-content.w360 .section-1 .badge-1 {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0;
}
#ssi-content.w360 .section-1 .text-2 {
	display:inline-block;
	vertical-align:middle;
	font-size:14px;
	/* line-height:44px; */
	font-weight:200;
	padding-left:20px;
	/* width:170px; */
}

#ssi-content.w360 .section-2 {
	background-color:#202020;
	overflow:hidden;
}
#ssi-content.w360 .section-2 .inner {
	/* height:927px; */
	padding:10px 0 60px;
}
#ssi-content.w360 .section-2 .parallax {
	overflow:hidden;
	position:absolute;
	top:0;
	height:1215px;
	left:0;
	right:0;
	display:none;
}
#ssi-content.w360 .section-2 .parallax .background {
	position:absolute;
	margin:-607px -476px;
	left:50%;
	top:50%;
	display:none;
}
#ssi-content.w360 .section-2 .blurb {
	opacity:1;
	visibility:visible;
	/* position:absolute; */
	/* left:65px; */
	/* top:270px; */
}
#ssi-content.w360 .section-2 .icon {
	display:block;
	padding:20px;
}
#ssi-content.w360 .section-2 .text {
	color:#ffffff;
	font-size:18px;
	line-height:24px;
	/* margin-top:25px; */
	padding:0 20px 20px;
	font-weight:200;
}

#ssi-content.w360 .section-3 {
	background-color:#555c61;
	color:#ffffff;
	z-index:1;
}
#ssi-content.w360 .section-3 .inner {
	/* height:2420px; */
}
#ssi-content.w360 .section-3 .device-1 {
	/* position:absolute; */
	/* top:-130px; */
	top:-40px;
	/* left:230px; */
	left:95px;
}
#ssi-content.w360 .section-3 .info-1 {
	display:none;
	/* width:368px; */
	/* height:368px; */
	/* margin:-184px; */
	/* position:absolute; */
	/* top:45px; */
	/* left:167px; */
}
#ssi-content.w360 .section-3 .info-1 img {
	display:none;
	/* position:absolute; */
	/* left:26px; */
	/* top:33px; */
}
#ssi-content.w360 .section-3 .title {
	font-size:48px;
	line-height:52px;
	padding:10px 20px 20px;
}
#ssi-content.w360 .section-3 .inner > .text {
	font-weight:200;
	padding:10px 0 25px;
}
#ssi-content.w360 .section-3 .text > .text {
	font-size:16px;
	line-height:24px;
	padding:0 20px 20px;
}
#ssi-content.w360 .section-3 .text > .cta {
	color:#00aeef;
	font-size:16px;
	line-height:24px;
	padding:0 20px 20px;
}
#ssi-content.w360 .section-3 .text-1 {
	margin-top:-30px;
	/* position:absolute; */
	/* left:50px; */
	/* top:360px; */
	/* width:668px; */
}

#ssi-content.w360 .section-3 .device-2 {
	/* position:absolute; */
	/* top:710px; */
	left:-90px;
}
#ssi-content.w360 .section-3 .info-2 {
	display:none;
	/* width:368px; */
	/* height:368px; */
	/* margin:-184px; */
	/* position:absolute; */
	/* top:940px; */
	/* left:590px; */
}
#ssi-content.w360 .section-3 .info-2 img {
	display:none;
	/* position:absolute; */
	/* left:26px; */
	/* top:33px; */
}
#ssi-content.w360 .section-3 .text-2 {
	/* position:absolute; */
	/* left:50px; */
	/* top:1240px; */
	/* width:668px; */
}

#ssi-content.w360 .section-3 .device-3 {
	/* position:absolute; */
	/* top:1585px; */
	/* left:312px; */
	left:15px;
	margin-top:-35px;
}
#ssi-content.w360 .section-3 .info-3 {
	display:none;
	/* width:368px; */
	/* height:368px; */
	/* margin:-184px; */
	/* position:absolute; */
	/* top:1790px; */
	/* left:170px; */
}
#ssi-content.w360 .section-3 .info-3 img {
	display:none;
	/* position:absolute; */
	/* left:26px; */
	/* top:33px; */
}
#ssi-content.w360 .section-3 .text-3 {
	/* position:absolute; */
	/* left:50px; */
	/* top:2080px; */
	/* width:668px; */
}

#ssi-content.w360 .section-4 {
	background-color:#2a2a2a;
}
#ssi-content.w360 .section-4 .inner {
	height:615px;
}
#ssi-content.w360 .section-4 .title {
	color:#ffffff;
	font-size:30px;
	line-height:44px;
	text-align:left;
	font-weight:200;
	padding:25px 20px;
}
#ssi-content.w360 .section-4 .slide {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	z-index:0;
	opacity:0;
	overflow:hidden;
	/* transition:opacity 500ms linear 0s,z-index 0s linear 500ms,height 0s linear 500ms; */
}
#ssi-content.w360 .section-4 .slide.active {
	z-index:1;
	opacity:1;
	height:100%;
	overflow:visible;
	/* transition:opacity 500ms linear 0s,z-index 0s linear 500ms,height 0s linear 0s; */
}
#ssi-content.w360 .section-4 .slide img {
	position:absolute;
}
#ssi-content.w360 .section-4 .slide .text {
	position:absolute;
	color:#555555;
	font-size:30px;
	line-height:34px;
	font-weight:200;
	top:40px;
	left:25px;
}
#ssi-content.w360 .section-4 .slide.slide-1 img {
	left:20px;
	top:150px;
}
#ssi-content.w360 .section-4 .slide.slide-1 .text {
	/* left:50px; */
	/* top:50px; */
	/* width:668px; */
}
#ssi-content.w360 .section-4 .slide.slide-2 img {
	left:20px;
	top:150px;
}
#ssi-content.w360 .section-4 .slide.slide-2 .text {
	/* left:50px; */
	/* top:50px; */
	/* width:668px; */
}
#ssi-content.w360 .section-4 .slide.slide-3 img {
	left:20px;
	top:150px;
}
#ssi-content.w360 .section-4 .slide.slide-3 .text {
	/* left:50px; */
	/* top:50px; */
	/* width:668px; */
}
#ssi-content.w360 .section-4 .nav {
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	bottom:25px;
	z-index:2;
	white-space:nowrap;
}
#ssi-content.w360 .section-4 .nav .item {
	white-space:normal;
	display:inline-block;
	width:49px;
	height:49px;
	margin:0 10px;
	/* -webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:3px solid #ff00ff;
	background-color:transparent; */
	/* transition:background-color 500ms; */
	background:url("../../../../../../us/en/include/tablets-2/imgs/360/usage_nav_sheet.png") no-repeat;
	content:" ";
	text-align:left;
}
#ssi-content.w360 .section-4 .nav .item div {
	width:69px;
	left:-10px;
	top:49px;
	text-align:center;
	color:#ffffff;
	font-size:10px;
	font-weight:200;
}
#ssi-content.w360 .section-4 .nav .item.item-1 {
	background-position:0px 0px;
	content:"  ";
}
#ssi-content.w360 .section-4 .nav .item.item-2 {
	background-position:-51px 0px;
	content:"  ";
}
#ssi-content.w360 .section-4 .nav .item.item-3 {
	background-position:-100px 0px;
	content:"  ";
}
#ssi-content.w360 .section-4 .nav .item.item-1.active,
#ssi-content.w360 .section-4 .nav .item.item-1:hover {
	background-position:0px -49px;
	content:"   ";
}
#ssi-content.w360 .section-4 .nav .item.item-2.active,
#ssi-content.w360 .section-4 .nav .item.item-2:hover {
	background-position:-51px -49px;
	content:"   ";
}
#ssi-content.w360 .section-4 .nav .item.item-3.active,
#ssi-content.w360 .section-4 .nav .item.item-3:hover {
	background-position:-100px -49px;
	content:"   ";
}

#ssi-content.w360 .section-5 {
	background-color:#ffffff;
	z-index:1;
}
#ssi-content.w360 .section-5 .inner {
	height:1350px;
}
#ssi-content.w360 .section-5 .info-4 {
	/* width:368px; */
	/* height:368px; */
	/* margin:-184px; */
	/* position:absolute; */
	/* top:775px; */
	/* right:170px; */
	display:none;
}
#ssi-content.w360 .section-5 .info-4 img {
	/* position:absolute; */
	/* left:26px; */
	/* top:33px; */
	display:none;
}
#ssi-content.w360 .section-5 .device {
	top:50px;
	left:-80px;
}
#ssi-content.w360 .section-5 .title {
	color:#0071c5;
	font-size:48px;
	font-weight:200;
	line-height:52px;
	letter-spacing:-0.04em;
	position:absolute;
	top:465px;
	left:20px;
	width:280px;
}
#ssi-content.w360 .section-5 .content {
	position:absolute;
	left:20px;
	top:754px;
	width:280px;
}
#ssi-content.w360 .section-5 .content .badge-2 {
	position:absolute;
	top:-720px;
	left:200px;
}
#ssi-content.w360 .section-5 .content p {
	color:#666666;
	font-size:15px !important;
	font-weight:200;
	line-height:24px;
	margin:0 0 35px;
}
#ssi-content.w360 .section-5 .line {
	/* background:url("/content/dam/www/public/us/en/include/tablets-2/imgs/000000-35.png") repeat; */
	/* height:1px; */
	/* width:450px; */
	/* margin:40px 0; */
	/* content:" "; */
	display:none;
}
#ssi-content.w360 .section-5 .content .button {
	text-align:center;
	width:248px;
	font-size:16px;
}
#ssi-content.w360 .section-5 .content .about-more {
	display:block;
	margin-top:20px;
}
#ssi-content.w360 .section-5 .content .about-more .badges {
	display:inline-block;
}
#ssi-content.w360 .section-5 .content .about-more .text {
	display:inline-block;
	color:#0071c5;
	font-size:24px;
	line-height:34px;
	width:280px;
}

#ssi-content.w360 .section-6 {
	/* background-color:#004481; */
	background-color:#26333d;
	color:#ffffff;
}
#ssi-content.w360 .section-6 .inner {
	/* height:1773px; */
	/* text-align:center; */
	padding-bottom:50px;
}
#ssi-content.w360 .section-6 .inner .column {
	display:inline-block;
	text-align:left;
}
#ssi-content.w360 .section-6 .inner > .title {
	font-size:36px;
	line-height:40px;
	font-weight:200;
	padding:30px 20px;
}
#ssi-content.w360 .section-6 .inner .columns-1 {
	/* padding-bottom:70px; */
	text-align:center;
}
#ssi-content.w360 .section-6 .inner .columns-1 .column {
	padding-left:30px;
	display:none;
}
#ssi-content.w360 .section-6 .inner .columns-1 .column-2 {
	padding-left:0;
	display:inline-block;
}
#ssi-content.w360 .section-6 .inner .columns-2 {
	padding-bottom:50px
}
#ssi-content.w360 .section-6 .inner .columns-2 .column {
	width:668px;
	/* padding-left:120px; */
	padding-top:50px;
}
#ssi-content.w360 .section-6 .inner .columns-2 .column-1 {
	padding-left:0;
}
#ssi-content.w360 .section-6 .inner .columns-2 .title {
	font-size:30px;
}
#ssi-content.w360 .section-6 .inner .columns-2 .text {
	font-size:20px;
	line-height:26px;
	font-weight:200;
	padding-top:15px;
}
#ssi-content.w360 .section-6 .inner > .text {
	text-align:left;
	width:280px;
	margin:0 auto;
	/* padding-top:40px; */
}
#ssi-content.w360 .section-6 .inner > .text p {
	font-size:15px !important;
	line-height:24px;
	color:#FFF;
}
#ssi-content.w360 .section-6 .inner .cta {
	padding: 20px 20px 40px;
}
#ssi-content.w360 .section-6 .inner .cta a {
	font-size:15px;
	color:#00aeef;
}
#ssi-content.w360 .section-6 .line {
	/* background:url("/content/dam/www/public/us/en/include/tablets-2/imgs/ffffff-20.png") repeat; */
	/* height:1px; */
	/* margin:65px 110px 0; */
	display:none;
}

#ssi-content.w360 .section-6-video {
	background-color:#ffffff;
	text-align:center;
	z-index:1;
}
#ssi-content.w360 .section-6-video .background-top {
	background-color:#26333d;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:75%;
}
#ssi-content.w360 .section-6-video .line {
	display:none;
}
#ssi-content.w360 .section-6-video .title {
	color:#ffffff;
	font-size:48px;
	line-height:51px;
	font-weight:200;
	padding:35px 20px 25px;
	text-align:left;
}
#ssi-content.w360 .section-6-video .video {
	position:relative;
	display:inline-block;
	overflow:hidden;
	margin:0 auto;
	background-color:#0071c5;
	border:2px solid #ffffff;
	-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
}
#ssi-content.w360 .section-6-video .video-thumb {
	margin:-2px;
}
#ssi-content.w360 .section-6-video .video-play {
	position:absolute;
	margin:-57px;
	top:50%;
	left:50%;
}
#ssi-content.w360 .section-6-video .desc {
	color:#666666;
	font-size:14px;
	font-weight:200;
	padding:10px 0 0;
}

#ssi-content.w360 .section-7 {
	background-color:#ffffff;
	/* text-align:center; */
}
#ssi-content.w360 .section-7 .inner {
	/* padding-top:400px; */
	padding-top:40px;
	color:#999999;
}
#ssi-content.w360 .section-7 > .title {
	/* position:absolute; */
	/* top:-570px; */
	/* left:0; */
	/* right:0; */
	/* color:#ffffff; */
	/* font-size:72px; */
	/* font-weight:200; */
	display:none;
}
#ssi-content.w360 .section-7 .video-wrapper {
	/* position:absolute; */
	/* top:-401px; */
	/* left:0; */
	/* right:0; */
	display:none;
}
#ssi-content.w360 .section-7 .video {
	/* width:1188px; */
	/* height:665px; */
	/* margin:0 auto; */
	/* border:2px solid #ffffff; */
	/* box-shadow:0 0 1em #000000; */
	/* background-color:#ff00ff; */
	display:none;
}
#ssi-content.w360 .section-7 .video-title {
	/* font-size: 36px; */
	/* font-weight:200; */
	/* color:#666666; */
	/* text-align:center; */
	/* margin-top:15px; */
	display:none;
}
#ssi-content.w360 .section-7 .columns {
	margin:0 auto;
	/* padding-right:50px; */
	width:320px;
	/* white-space:nowrap; */
}
#ssi-content.w360 .section-7 .column {
	display:inline-block;
	width:280px;
	margin-left:20px;
	white-space:normal;
	/* text-align:left; */
	padding-bottom:50px;
}
#ssi-content.w360 .section-7 .column > img{
	border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
	}
#ssi-content.w360 .section-7 .column > .title {
	font-size:24px;
	margin-top:20px;
	color:grey;
}
#ssi-content.w360 .section-7 .column > .title span {
	color:#0071c5;
}
#ssi-content.w360 .section-7 .column > .text{
padding-bottom:10px;
}
#ssi-content.w360 .section-7 .column.column-1 .item {
}
#ssi-content.w360 .section-7 .column.column-1 .item .thumb {
	/* position:absolute; */
	/* top:10px; */
	/* left:-85px; */
	padding-bottom:10px;
}
#ssi-content.w360 .section-7 .column.column-1 .item > .title {
	font-size:24px;
	line-height:30px;
	padding-bottom:5px;
}
#ssi-content.w360 .section-7 .column.column-2 .item > .title {
	padding-top:10px;
	font-size:16px;
	color:grey;
}
/*start by heaven*/
#ssi-content.w360 .section-7 .column img{
width: 93px;
float: left;
margin-top: 25px;
}
#ssi-content.w360 .section-7 .column .title{
font-size: 18px;
width: 160px;
display: inline-block;
float: left;
margin-left: 20px;
}
#ssi-content.w360 .section-7 .column .button-shadow{
margin-left: 20px;
}
#ssi-content.w360 .section-7 .column .button{
font-size: 16px;
padding: 4px 8px;
line-height: 20px;
}
/*end by heaven*/
#ssi-content.w360 .section-7 .column .item .byline {
	font-size:11px;
	line-height:19px;
	padding-bottom:20px;
}
#ssi-content.w360 .section-7 .column .item .date {
	font-size:16px;
}
#ssi-content.w360 .section-7 .column .item .text,
#ssi-content.w360 .section-7 .column .item .text a {
	font-size:16px;
	/* line-height:24px; */
}
#ssi-content.w360 .section-7 .column .item .cta {
	font-size:18px;
}
#ssi-content.w360 .section-7 .social {
	padding:0 0 50px;
	text-align:center;
}
#ssi-content.w360 .section-7 .social > a {
	display:inline-block;
	margin:0 5px;
	width:67px;
	height:67px;
	overflow:hidden;
}
#ssi-content.w360 .section-7 .social > a.twitter {
	background:url("../../../../../../us/en/include/tablets-2/imgs/twitter.png") no-repeat;
}
#ssi-content.w360 .section-7 .social > a.instagram {
	background:url("../../../../../../us/en/include/tablets-2/imgs/instagram.png") no-repeat;
}
#ssi-content.w360 .section-7 .social > a.youtube {
	background:url("../../../../../../us/en/include/tablets-2/imgs/youtube.png") no-repeat;
}
#ssi-content.w360 .section-7 .social > a.pinterest {
	background:url("../../../../../../us/en/include/tablets-2/imgs/pinterest.png") no-repeat;
}
#ssi-content.w360 .section-7 .social > a * {
	padding-left:9999em;
}

#ssi-content.w360 .section-8 {
	background-color:#202020;
	color:#ffffff;
	text-align:center;
}
#ssi-content.w360 .section-8 .inner {
	padding:30px 0;
}
#ssi-content.w360 .section-8 .inner > .title {
	font-size:20px;
	font-weight:200;
}
#ssi-content.w360 .section-8 .columns {
	padding:30px 0;
	/* white-space:nowrap; */
}
#ssi-content.w360 .section-8 .item {
	display:inline-block;
	/* width:270px; */
	/* white-space:nowrap; */
	/* text-align:left; */
	padding:0 5px;
}
#ssi-content.w360 .section-8 .item img {
	/* margin:0 auto 30px; */
	vertical-align:middle;
	display:inline-block;
	padding-right:10px;
}
#ssi-content.w360 .section-8 .item > .title {
	color:#ffffff;
	font-size:18px;
	vertical-align:middle;
	display:inline-block;
}
#ssi-content.w360 .section-8 .item:hover > .title {
	color:#0071c5;
}
#ssi-content.w360 .section-8 .cta {
	font-size:15px;
	color:#ffffff;
	margin-right:30px;
	display:block;
}

#ssi-content.w360 .section-9 {
	background-color:#0075c6;
	color:#ffffff;
}
#ssi-content.w360 .section-9 .inner {
	padding:50px 0 40px;
}
#ssi-content.w360 .section-9 .inner > .title {
	font-size:35px;
	text-align:center;
	padding:0 15px 20px;
}
#ssi-content.w360 .section-9 .columns {
	/* white-space:nowrap; */
	text-align:center;
}
#ssi-content.w360 .section-9 .item {
	display:inline-block;
	text-align:left;
	width:280px;
	margin:10px 20px;
	white-space:nowrap;
}
#ssi-content.w360 .section-9 .item img {
	display:inline-block;
	padding-top:20px;
}
#ssi-content.w360 .section-9 .item .text {
	display:inline-block;
	white-space:normal;
	width:170px;
	margin:10px;
}
#ssi-content.w360 .section-9 .item .title {
	font-size:18px;
	line-height:22px;
	font-weight:200;
}
#ssi-content.w360 .section-9 .item .button {
	font-size:16px;
	white-space:nowrap;
}
#ssi-content.w360 .section-9 .item a {
	/* display:block; */
	/* color:white; */
	/* font-size:14px; */
	/* font-weight:200; */
	margin-top:10px;
}
#ssi-content.w360 .section-9 .item a:hover {
	/* color:#00aeef; */
}

#ssi-content.w360 .disclaimers {
	background:#ffffff;
}
#ssi-content.w360 .disclaimers .inner {
	padding:10px 0;
}
#ssi-content.w360 .disclaimers .inner div {
	color:#666666;
	font-size:10px;
}
#ssi-content.w360 .disclaimers .inner > div {
	padding:0 10px;
}
#ssi-content.w360 .disclaimers .accordian .title {
	font-size:16px;
	cursor:pointer;
}
#ssi-content.w360 .disclaimers .accordian .content {
	display:none;
	padding-top:10px;
}
#ssi-content.w360 .disclaimers .accordian.open .content {
	display:block;
}

#ssi-content.w360 .debug {
	background-color:rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	position:fixed;
	z-index:9998;
	width:9999em;
	pointer-events:none;
}
#ssi-content.w360 .debug.debug-left {
	right:50%;
	margin-right:160px;
}
#ssi-content.w360 .debug.debug-right {
	left:50%;
	margin-left:160px;
}
#ssi-content.w360 .debug-outer {
	background-color:#000000;
	top:0;
	bottom:0;
	position:fixed;
	z-index:9999;
	width:9999em;
}
#ssi-content.w360 .debug-outer.debug-left {
	right:50%;
	margin-right:384px;
}
#ssi-content.w360 .debug-outer.debug-right {
	left:50%;
	margin-left:384px;
}
#ssi-content.w360 .section-5 .content-2 {
	position:absolute;
	left:20px;
	top:1150px;
	width:280px;
}

#ssi-content.w360 .section-5 .content-2 p {
	color:#666666;
	font-size:15px !important;
	font-weight:200;
	line-height:24px;
	margin:0 0 15px;
}

#ssi-content.w360 .section-5 .content-2 a {
	display:block;
	font-size:14px;
	line-height:24px;
}