A:hover {
  color: #FF0000; }

BODY, P, TABLE, TR, TD, UL, LI {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  text-align: justify;
  color: #000000;
  margin-top: 2pt;
  margin-bottom: 4pt; }

H1 { 
  font-family: Verdana;
  font-size: 24pt;
  font-weight: bold;
  color: #000077;
  background: #F0F0F0;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 0pt; }
			
H2 { 
  font-family: Arial;
  font-size: 24pt;
  font-weight: bold;
  color: #4040C0;
  margin-top: 4pt;
  margin-bottom: 0pt; }

H3 { 
  font-family: Verdana;
  font-size: 11pt;
  font-weight: bold;
  color: #000077;
  margin-top: 12pt;
  margin-bottom: 4pt; }

STRONG { 
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  color: #000044;
  margin-top: 0pt;
  margin-bottom: 4pt; }

MARQUEE { 
  font-family: Arial;
  font-size: 8pt;
  color: #C04040;
  margin-top: 0pt;
  margin-bottom: 4pt; }

HR {  
  color: #E0E0E0;
  background-color: #E0E0E0;
  border: 0pt;
  height: 2pt; }

UL {
  list-style-type: disk;
  margin-left: 10pt;
  padding-left: 2pt;
  margin-top: 0pt;
  margin-bottom: 0pt; }
  
OL {
  margin-left: 10pt;
  padding-left: 2pt;
  margin-top: 0pt;
  margin-bottom: 0pt; }